<h1>Capitalism or Socialism?</h1>

<p>Thanks to Sahar Massachi and Jess Sattell for edits</p>

<p>A followup on <a href="https://www.facebook.com/michael.karpeles/posts/10103226769000920">https://www.facebook.com/michael.karpeles/posts/10103226769000920</a></p>

<p>
Company A has an idea. They design a solution, they execute, and there
is demand for the good (service/product). Others recognize the
potential of the opportunity and enter the market. Some company A'
(which could be A) wins in producing the most compelling solution. It
is some combination of better marketed and market penetration, more
sustainable business model (e.g. Amazon, Walmart riding margins), more
cheaply produced, higher quality, more defensible intellectual
property, and or has better distribution logistics and
partnerships. Some of the strategies employed by A' are specific to
the industry. Competitors may adopt it and take market share. Other of
their techniques will shape the ecosystem more generally and cause
shifts in paradigm (e.g. e-commerce websites v. brick and
mortar). Eventually, A' or a competitor, let's call this A'', will
reach escape velocity, e.g. Walmart (dominant for ~35 years: 1997 -
1962), Amazon (~20 years and counting: 1997-present), wherein no
player is able to compete at that scale. Again A'' won't be able to do
everything well, so you'll have niche marketplaces emerge, like B'
(e.g. Etsy) for speciality goods like hand-made crafts. Many of these
services may even operate on top the infrastructure of A''.
</p>

<p>
But no company will have the sweeping leverage A'' has. And thus, A''
is in a position to informally dictate or direct policy with their
actions. Except A'' won't be the most efficient across the board; we
can only expect they will be in the ways that count most,
financially. For instance, A'' may enjoy such competitive advantages
from having low prices and volume that no competitor can successfully
compete by improving other facets of business, such as by improving
distribution automation. This can lead to a unique class of
externalities -- inefficiencies within business which won't be solved
because an industry leader has no incentive to solve them. Granted,
A'' probably will solve them, as they explore low hanging fruit to
increase their revenue. Unless these externalities have value to us
but not to them. For instance, Amazon's distribution centers pumping
emissions into our atmosphere. In many cases like these, the company
is not incentivized to address the externality until it either
cannibalizes their sales (in the form of protests/boycotts, the
externality decreasing the supply or demand for the product --
e.g. the externality impacting talent acquisition in Shenzhen as a
result of people relocating due to unhealthy levels of
pollution). Ocassionally for-profits, especially insurance providers
who make money by buffering customers against risk, will rise up and
attack these inefficiencies when the risks against which they insure
increase to a degree which threatens their margins and exceeds the
cost of addressing the problem. They may apply pressure to or
construct a deal with organizations such as A'' to change their
policies, or may lobby politicians the impose policies to keep
externalities in check. A'' may reach a deal with the insurance
company (which is essentially a subsidy), or may choose to pay-off /
counter-lobby politicians, or may find a creative way to receive
subsidies from the government to patch the externality. If the risk is
not enough such that the monetary pressure of insurance companies and
the public can compell A'' to change, then the inefficiency will
persist. Perhaps at this point the externality will be partly
mitigated by non-profits, with varying degrees of effectiveness, by
who wish to exercise (vote with) their capital and organizations
united by a strong sense of moral imperative and urgency.
</p>

<p>
In the story above, A'' is likely happy to let other organizations
clean up after them. Internet Service Providers are happy to be
subsidized to increase their access to more customers. Oil and gas
companies are happy to receive subsidies for pursuing cleaner
technologies which will also save them money. Some may see it as
unfortunate and inequitable that corporations may cannibalize
resources the public relies on, and then make it such that the public
has to make the decision to bail them out and cover these
expenses. This parasitic relationship becomes even more tenuous when
the continuance of such an externality benefits the corporation
(e.g. if an externality is an advantage for A'' because it harms their
competitors).
</p>

<p>
Some may argue that exacting corporate tax -- in a Pigovian sense --
is important because it makes organizations accountable for their
negative externalities. In another lens (h/t Sahar Massachi) tax is
also a mechanism for addressing inefficiencies in wealth
distribution. See: <a
href="https://en.wikipedia.org/wiki/Alternative_minimum_tax">Alternative Minimum Tax (AMT)</a>.
</p>

<p>
In this setup, capitalism views the concept of the commons as
indistinguishable from any unclaimed resource which may be consumed
and monopolized. Within the context of capitalism, oil, rare minerals,
land, are all goods which belong to whomever can defensibly claim them
fastest. Socialism believe there are some things -- clean air or fresh
water, for instance -- which should be exempt from capital
influence. These are some of the most important resources because, on
both sides of the equation, they are often the resources people
ostensibly can't live without. This makes them all the more valuable
to capitalists and to socialists. This distinction of the commons is a
key difference between capitalism and socialism.
</p>

<p>
Another key difference is the unit of power. The unit of capitalism is
trade, measured in currencies. The premise is that a trade occurs
because it makes both parties better off. Considering the story of
A'', very few agents of the corporation have leverage to enact change,
especially not those changes which may contradict the goals of
A''. Workers are empowered to make decisions which further A'', and
perhaps increase their capital leverage in the process, but the vast
majority of individuals will be in no position to battle the agendas
of a profitable corporation. And those corporations with philanthropic
goals may only be able to achieve their agendas if run by one of these
select few, or if it is otherwise made a profitable venture. But doing
(i.e. having enough money to combat A'') seems to violate and
contradict the exact process and circumstances by which A'' rose to
power.
</p>

<p>
In socialism, the unit of power is a vote. The reason you get a vote
in socialism is, "because you're a person" (h/t Sahar). Why is this
distinction important?
</p>

<p>
We establihed above that, absent of protections, for-profit
corporations are incentivized to exploit commons as a resource. This
means for-profits are competing for these non-renewable limited
resources (e.g. mining gold). We established also, that for A'' to win
/ reach escape velocity, this must preclude other players from being
able to compete at the same level, on the same dimension; at least
until new leverage is discovered which A'' isn't sufficiently
positioned to capitalize. An exception being if A'' is resource-bound
to a specific area, in which case multiple winners may concurrently
monopolize their respective domains. Still, within these domains,
there is likely little room for competition. And even if there are
competitors, they're not feasible or affordible options until they
are. And this is especially true in areas or industries where the
startup costs are prohibitively expensive. Imagine how compelling your
ideas would need to be in order to fund a new ISP and reach escape
velocity. That's <a href="https://broadbandnow.com/report/much-data-really-cost-isps/">$80,000</a> per mile * 3.98M miles = $303.76B where only
a single wire is run in each square mile. The best you could hope to
do is focus on a metropolitan area, and they are likely not the
underserved area. It's a similar story for pharmaceutical + chemical
companies, Internet Service Providers, and water + electric
companies. All the groups in this list receive subsidies from the
government in order to extend their services beyond metropolitan
areas. Some of them have been deemed and are regulated as utilities --
i.e. classes of organizations responsible for maintaining and
providing infrastructure for public services.
</p>

<p>
Things are often classified as public utilities for a few
reasons. First, similar to how insurance works (an organization which
pools resources to buffer and mitigate risk), there are some resources
which people depend on that are critical to survival and needed (but
may be prohibitively expensive to deploy) at a national scale. If left
to their own devices, organizations would likely only provide these
solutions in metropolitan areas and/or at locations where the most
value could be extracted. Perhaps people in remove areas would
recentralize around metropolitan areas (causing new, perhaps not
insurrmountable, challenges for industries like agriculture which
currently require a lot of space). The interesting quality about
public utilities is, they're run as if their utility is in unlimited
supply. Or at least an effort is made to ensure their resources are
distributed equitably such that the resource seems unlimited at a
certain bandwidth. Except capitalists see these as areas of
unparalleled profit which they want to control. More than anything,
these are the resources capitalists want to acquire and control with
their capital. Because they know others who need them will do anything
for them.
</p>

<p>
This fine line -- protecting public welfare and interest -- is an
important distinction between capitalism and socialism. What happens
as insurance companies become more advanced and only insure the lowest
risk customers? Some might argue for social policy to prevent this,
some may claim only those who have sufficient money or low risk
(e.g. those who take care of themselves) are entitled to
insurance. What happens if you get sick and only one pharmaceutical
company carries the drug you need? Should there be a ceiling on the
price they can charge?
</p>

<p>
Often times people dogmatically fight for Capitalism or Socialism. As
if one is right and one is wrong. It's important to realize both that
Capitalism and Socialism are not mutually exclusive and, though, that
they are in many ways diametrically opposed. Socialism aims to prevent
a corporation or individual from "winning by any means", i.e. the
destruction of the "commons" (which may be generalized to general
welfare). Capitalism allows organizations and those who run them to
get ahead. Rather than being for one or the other, I encourage you to
evaluate and determine where we are on the spectrum. See:
<a href="/essays/politics/kicking-the-bucket">Kicking the Bucket</a>
</p>
