<h1>Debt &amp; Taxes</h1>

<pre>
Are you (personally) willing to pay $58,850 to support a ban on guns
in the US? Towards approving/banning abortion? To stop prayer in
school?  I'm confident some of you have. The point is, and the
question is, how much would you invest to keep the United States a
super power? The ability to continue to have the right to vote and
have impact on these issues?

$58,850 is the US national debt spread over our 319M citizens.

A related question is (assuming 0 liability), are institutions or
individuals better at investing money? In other words, will 1
institution with $50M or 50 people w/ $1M create bigger impact
(assuming all funds are spent)? Or, a better question to ask is, under
which circumstances will (actual numeric values are pretty arbitrary)
50 people w/ $1M (aka distributed method) outperforms the single
entity w/ $50M (centralized method)?

One consideration, up front, is that 50 people w/ $1M are not
(necessarily) required to work together (policy/restriction on
spending could somewhat mitigate this), and therefore, this strategy
may be sub-optimal for initiatives which do require the accumulative
$50M.

The reason I pose the question is, it would be neat (as a perfectly
implemented idea, in a utopian, rational world) if, as an alternative
to "paying" tax (and admittedly, this alternative could be easily
gamed) there was an option for individuals or corporations to use
these funds (in a distributed day) towards approved local causes. The
premise is, some institutions (and individuals) may be able to use
their tax dollars to have greater impact than if the government were
to spend it.

Considering how bad most Americans are at saving/spending money, I
imagine such an experiment would be a catastrophe if deployed nation
wide. The cost of auditing it would outweigh any possible gains. It
could be an interesting experiment for a select group of institutions
(like GE, IBM, Google, Facebook, Tesla, etc).

At very least, folks should have more say (should be able to
"suggest") where their tax dollars go.

EDIT:
<a href="https://www.facebook.com/SmartestAssOfAll">Stephen Rhein</a>
mentions: "Divide the debt by the number of tax paying citizens for a
more daunting number." This figure comes ~$205,084
(http://www.usdebtclock.org/)
</pre>
