<pre>
It would be interesting to see how people would react if they learned
people were bypassing admissions and entering into academic
institutions, like Harvard or Princeton.

Don't take this as me having a stance on the issue of immigration. I
perfectly well acknowledge we are all immigrants, that we are talking
about peoples' livelihood (not the privilege of education), and there
are important edge cases, like keeping families together.

My intent is more to be provocative about where the line, in reality,
should be drawn on "walls" controlling opportunity. Our higher-level
(collegiate) educational system is one of the pillars that helps the
United States maintain standing as a global power (and an important
source of attracting global talent through legitimate means).

Perhaps (and hopefully) online academic resources and accessibility to
knowledge will change the landscape of these international power
dynamics, but so long as we have physical bodies and are not living in
virtual reality, there will be inherent value in geography, it's local
spacial properties, and regulations.

The real question I am posing is, assuming agreement with the policy
"we should be compassionate on the topic of immigration", how do we
balance compassion with the ruthless and competitive challenge of
maintaining a ranking as a world power. Yes, even assuming free space,
I am working under the assumption that more (without control for
ability) people are not strictly better than fewer.
</pre>
