

<h1>Kicking the Bucket</h1>
<h2>Recognizing and overcoming harmful classifications</h2>

<p>
  A challenging thing about being human is, (multinomial; binary or
  similarly discrete-classed) logistic classification is too often
  employed where a continuous classifier would better serve us. There
  are times when logistic regression is the right tool -- when there
  is an absolute answer (e.g. is this shape a square or a
  triangle). However, in many real-world scenarios, we compress the
  dimentionality of spectrums (autism, skin color, gender,
  personality-types) into rigid, over/under-fitting generalizations
  whose classifications serve to satisfy our political goals (a
  generalization we make at sometimes great cost of real people).
</p>

<p>
  In some cases, generalization is a consequence of real world
  limitations. In fact, this is a great example of where algorithm
  complexity analysis (rigorously quantifying the properties of
  algorithms) can give us a foundation and better understanding of
  real-world optimization. In practice, should a student fall just
  short of an "autistic" classification, they may be entirely
  ineligible (e.g. IEP) to receive or benefit from special
  instruction. That is to say, the model is limited in that not
  everyone benefits to the degree proportionate to their needs. An
  analogous continuous, linear approach, would be a custom curriculum
  for every student which addresses their every individuality. As you
  can imagine, while this has tremendous benefits (and we are + will
  see technology increasingly achieve this) it is challenging to
  standardize and costly to implement. It's like making dinner for a
  family. The optimal case is to make everyone what they want, but
  preparing several different dishes with different ingredients takes
  a lot of time, money, and skill. As a result, an attempt is made to
  serve the majority by choosing a single menu (outcome). Restaurants
  are a model which serves to capitalize this inefficiency.
</p>

<p>
  Corollary to modelling something continuous via generalized logits,
  there will (by definition, otherwise it wouldn't be continuous)
  exist inefficiencies (mis-labellings) and gaps wherein thrive the
  Hacker. You see it with tax brackets; someone creatively structuring
  their finances to pay less tax. Or in gaming a job interview;
  preparing for the expected/common questions. Even the way some
  people dress or speak are attempts at triggering or activating some
  sigmoid (logistic) function to appear / be perceived as associated
  with a certain class or set of values.
</p>

<p>
  Society tends to classify Hackers, posers (I'll call them social
  engineers), and the likes, as evil, as they (presumably)
  opportunistically exploit our societal
  expectations/contracts/promises (mutual agreements/understandings)
  for personal gain.  Some people simply like to better understand our
  contracts (learning for the sake of learning), and what these
  inefficiencies are or entail. Some people do indeed want to discover
  ways of drawing or deriving value. One could argue, this inquisitive
  hacker spirit (irrespective of the outcome) is both the biggest
  threat and the most essential imperative to our advancement as a
  civilization. As inefficiencies are discovered, we the people (more
  broadly, 'the government') devise new legislature, social contracts,
  and or popularize trends (read: movements) to either minimize or
  ubiquitize this exploitation for optimal benefit of society as a
  whole (e.g. drug enforcement, police).
</p>

<p>
  Of course, Hacker itself is a binary logistic, perhaps we can do a
  little better and make it ternary (admittedly still not
  perfect). The difference between white hat, grey hat, and black hat
  hackers, in my mind, is that the white hats discover inefficiencies
  between classes or how contracts can physically be subverted or
  ignored, but don't themselves act towards exploiting them. The grey
  hats live in the ambiguity or inefficiencies of social contracts
  (blurring the lines) and attempt to legally derive benefit. The
  black hats ignore social contracts altogether in pursuit of
  gains.
</p>

<p>
  While hackers are indispensable for discovering and solving
  inefficiencies, capitalism is one of the driving factors for
  sustaining such solutions at scale. It's no mystery why many hackers
  are entrepreneurs, and vis versa. The general public (99%) may feel
  discouraged by capitalism because in "ameliorating" (reallocating)
  the system as a whole, their disproportionate gains may be
  compromised/diminished. It's unfortunate that re-drawing the lines
  can results in negative side effects, there are likely interesting
  strategies to address this (e.g. exchanges + recompense, like
  eminent domain), and this should be addressed in essays by people
  much more qualified than I. On the other hand, slavery was one of
  those lines. Women voting was one of those lines. And some lines
  need to be redrawn and others removed altogether. Another case
  against capitalism is, some ventures are, in ways other than
  finance, a net negative on the world. Economics is a very difficult
  field and I prefer addressing problems I can rationalize against
  specific algorithms, so again I'll leave this legitimate concern to
  someone more qualified.
</p>

<h3>Responses</h3>
<p><a href="http://akkartik.name/"><cite>Kartik Agaram</cite></a> offers the following in response:

<a href="http://www.ribbonfarm.com/2014/04/09/the-legibility-tradeoff">White-hat version</a> |
<a href="http://www.ribbonfarm.com/.../09/geopolitics-for-individuals">Grey/black-hat version</a>
</p>

<blockquote>"Incidentally, I'd like to quibble about your definitions of the hats. I'll suggest these instead:

a) White hat: motivated by self-interest, constrained by own reputation with others.
b) Grey hat: motivated by self-interest, constrained by what's legal.
c) Black hat: motivated by self-interest, constrained by imagination."
</blockquote>
