<pre>
Towards More Efficient Political Voting

Call me "unpatriotic", our current implementation of voting in the
United States seems less effective than bikeshedding.

We, the moderately informed people, passionately cast our vote for a
painter whom we think we can trust to execute the few bikeshed
features we think we understand and endorse, based on anecdotes from
media which shows us only certain angles of "some"
bikeshed-in-progress. The painter then proceeds to do whatever she or
he wants, without much liability, in accordance with rules and
regulations from the painters union of which we, the average people,
can't reasonably be expected to understand.

Americans understand a lot of other things, like what we believe, what
we value, and what we want to see. But manually reducing/converting
these sparse, abstract, highly dimensional beliefs into a binary
decision for a single person (of whom we have limited and biased
information) seems like a recipe for a badly painted bikeshed. (Voting
on propositions is a better idea on the basis it bypasses this
detrimental "encoding" / translation process and provides a scenario
wherein it is clearer the issue being voted.)

While Baidu has produced technology to predict the 2014 FIFA World Cup
results with 100% accuracy [1], 284 US "experts" who make their living
"commenting or offering advice on political and economic trends,”
scored worse on 82,361 forecasts (presented with 3 possible futures in
a statistical study) than had they assigned each option an equal
probability [2]. These results might suggest both that our current
system isn't well suited for the laymen or the expert and that there
is a massive opportunity to augment the electoral process with
technology.

In terms of electing qualified candidates, wouldn't it make more sense
to inform the public by building a matrix (user-item collaborative
filtering system) of political candidates (on one axis) and their
actual/recorded voting history on policies (on the other axis) and
then have an online survey with concrete questions (whose weights /
importance can be specified by the participant) in order to see,
statistically, which candidate has performed in a manner which best
aligns with your position? The media (or your private online
dashboard) can then statistically show, over time, to what degree a
politician is deviating / has changed course from their past voting
history. I know there's plenty of research[3] on such political
recommender systems and likely implementations which are being used in
practice (which I'd love to hear about).

The TL;DR is, I genuinely believe voting for candidates (versus
propositions) using our current electoral system (even if you identify
as an informed citizen) has the potential to be more detrimental that
abstaining your vote.

I'm not claiming that voting doesn't matter -- it does. I am claiming
that for which we vote is not the same as what we get, and thus that
an honest vote can empower injustice.

[1] http://trends.baidu.com/worldcup/events/knockout?locale=en
[2] http://www.newyorker.com/magaz…/…/12/05/everybodys-an-expert
Expert Political Judgment: How Good Is It? How Can We Know?
[3] http://www.researchgate.net/…/235767787_Election_candidates…
</pre>
