<h1>Amplifying Productivity through Environment</h1>
<p>A response to <a href="https://www.facebook.com/janet.l.chang">Janet Lai Chang</a>'s 5-part essay on Productivity</p>

<ul>
  <li>
    (1 of 5) <a href="https://www.facebook.com/janet.l.chang/posts/10153314024128162">https://www.facebook.com/janet.l.chang/posts/10153314024128162</a>
  </li>
(2 of 5) <a href="https://www.facebook.com/janet.l.chang/posts/10153314033573162">https://www.facebook.com/janet.l.chang/posts/10153314033573162</a>
  <li>
(3 of 5) <a href="https://www.facebook.com/janet.l.chang/posts/10153314040973162">https://www.facebook.com/janet.l.chang/posts/10153314040973162</a>
  </li>
  <li>
(4 of 5) <a href="https://www.facebook.com/janet.l.chang/posts/10153314044238162">https://www.facebook.com/janet.l.chang/posts/10153314044238162</a>
  </li>
  <li>
(5 of 5) To Be Announced
  </li>
</ul>

<pre>
Nice work @(Janet Lai Chang). When we first met and you shared your
disciplined attempts at quantified self (for exercise, health, and
general productivity), I was impressed and inspired. Glad to see these
learnings consolidated into essay form.

Regarding "Productivity Coaches", my limited experience points to
similar gains when surrounding oneself with individuals whom one
respects and who are mutually invested in similar outcomes or
missions. This is amplified in environments which are thoughtfully
constructed to be conducive of such outcomes (libraries, universities,
workspaces). The key concepts are economy of scale (amplifying efforts
through shared accountability and passion), and social pressure (a
desire to avoid "procrastination" for fear of negatively impacting the
work of others -- in this context, procrastination to me means
participating in activities which subtract from, dilute, or subvert
the goals of the space and the people in it).

Typically, we have multiple goals, not just one, and its hard to find
a single person or group who align on all fronts, especially with the
same degrees/weights/priorities. Generally this necessitates
affiliating with multiple groups. This seems like a key advantage of
paying an unbiased productivity coach (less compromise of your goals,
less risk for distraction / more equitable time distribution, less
bias and coercion). Otherwise, the onus is still on the individual to
balance their participation in these environments (so their attention
isn't inequitably split, which is a risk, especially in the presence
of certain strong personality types).

I have found the most successful strategy for approximating a
productivity coach to be building friendships around accountability,
passion, and shared goals. The one risk here is, friends may sometimes
accommodate each other and not present sufficiently critical
feedback. Another risk is when an outcome is mutually exclusive and
competition is necessary between involved parties (yikes, a difficult
reality likely avoided by a productivity coach). One advantage I've
found is, participation in this bidirectional accountability loop
strengthens relationships. This has become one my key criteria for
choosing friends:

https://michaelkarpeles.com/essays/philosophy/on-friendship

Looking forward to reading the rest of your work Janet! Keep up the
great work and the inspiring life!
</pre>
