<li class="essays-quantifiedSelf sec2">
  <a name="essays-quantifiedSelf"><h3>Self Improvement &amp; Reflection</h3></a>
  <ol>
    <li>
      <a href="/essays/qs/on-effective-procrastination">
        On Effective Procrastination
      </a>
    </li>
    <li>
      <a href="/essays/qs/people-who-have-shaped-me">
        The People Who Have Shaped Me
      </a>
    </li>
    <li>
      <a href="/essays/qs/on-reaching-inaccessible-people">
        On Reaching Inaccessible People (2017-05-28)
      </a>
    </li>
    <li>
      <a href="/essays/qs/strategies-for-add">
        On Strategies for Attention Defecit Disorder [ADD] (2017-05-28)
      </a>
    </li>
    <li>
      <a href="/essays/qs/the-road-to-doing-good-work">
        The Road to Doing Good Work
      </a>
    </li>
    <li>
      <a href="/essays/qs/amplifying-productivity-through-environment">
        Amplifying Productivity through Environment
      </a>
    </li>
  </ol>
</li>

