<h1>Media Discovery &amp; Tracking</h1>

<h2>Related</h2>
<ul>
  <li><a href="http://www.tastekid.com">http://www.tastekid.com</a></li>
  <li><a href="https://movielens.org/">https://movielens.org/</a></li>
  <li><a href="http://renniksoft.com/">http://renniksoft.com/</a></li>
  <li><a href="http://suggestmemovie.com">http://suggestmemovie.com</a></li>
  <li><a href="http://agoodmovietowatch.com">http://agoodmovietowatch.com</a></li>
  <li><a href="http://www.criticker.com/">http://www.criticker.com/</a></li>
  <li><a href="http://foundd.com/">http://foundd.com/</a></li>
</ul>

<h2>Transcript</h2>
<pre>
Friday, February 20, 2015 8:45 PM
Drew Winget
Hey Mek. What service do you use to track your film watching?

Saturday, February 21, 2015 7:52 AM
Michael Karpeles
Manual.
Org-mode.
OH
I've wasted hours using about 4 different services
I'll collect the list
This is good that I now have provenance for this:
1) http://www.jinni.com/ (went defunct, relaunched) [S]
2) https://movielens.org/ (U of MN created as recsys experiment) [S]
3) http://foundd.com/ [S]
4) http://www.tastekid.com/
5) http://www.metacritic.com/ -- haven't tried
[S] denotes storage of seen

(2) really has the most information and coverage (amazing database)
but I don't find the recsys very valuable. It also allows you to
download your data. I've rated ~1000 on FOUNDD (sadly I've watched
1,000) and it does recommend some good stuff (which I have yet to
see). Unfortunately, the coverage isn't great, it's hard to see what
you've rated, etc.  Jinni is the hipster, mainstream solution. It
feels like shopping netflix. This happens to mean it offers the most
useful way to discover and browse. Recommendations are so, so. Hard to
discover NEW media.

Michael Karpeles
FOUNDD is the best overall experience
You can export your data. Rating movies is trivially easy
(export as json)
MovieLens is the most balanced, just clunkier and more academic

Saturday, February 21, 2015 12:55 PM
Drew Winget
Thanks for the thorough breakdown. I'm sick of wasting time every time
I want to waste time, wondering what director made what and what I
should see, so this will help manage the discovery/tracking aspect of
this.

Michael Karpeles
https://github.com/mekarpeles/commonbook/blob/master/datasets/movies.json
There's about 1200 there, maybe 1,000 after dupes removed
w/ ratings in json
jinni doesn't have export (I won't use it again)
foundd and movielens have json
movielens offers the best API it maps to IMDB, has years, links, etc
If I could only use one, I'd use movie lens.
</pre>
