
<h1>The People Who Have Shaped Me</h1>

<p><strong>My parents.</strong> My mother is someone who values
honesty above all and has unconditional love for her family. Whenever
I did something wrong or made a mistake, my mother was always willing
to hear me out. I feel the only times she has been disappointed with
me is when I told lies. As I got older, given my intense personality,
I got to a point where I would openly tell my mother my all my
transgressions, questionable or wrong doings. After nearly inducing
several nervous breakdowns she suggested telling the truth didn't
require me telling her everything (she is just as intense a worrier as
I am an intense do-er). In both ways, my mother taught me
how to tell the truth, in all its intricacies. 
</p>

<p>One thing I respect most about my mother is that when I get upset
at her or at something, she lets me be upset and vent in my own way,
reassuring me that she understands my actual intentions. She allows
herself to be challenged, though she's very hard to convince. Being
understanding of people and their circumstances is so important, and
my mother taught me that. She has empathy in spades. She is also
extremely relentless when she has a goal and is a fantastic strategist
and agent of change. She speaks up for what she believes in. She
fights for her family. Whether it's confronting a police chief and
forcing them to apologize for falsely accusing her son, or making sure
I had a laptop I could use in school to take notes, my mother fought
for me. If there's one set of qualities she's taught me, it's how to
be cynical. How to be skeptical. How to question. How to call
bullshit. How to be direct. How to persevere. To seek creative
routes. How to plan. Two words to describe my mother are energetic
(sometimes anxious) and proactive. There are few things she's wanted
to accomplish that she hasn't. Same for my father.
</p>

<p>My father taught the me importance of trust, of hard work, of focus,
and of being a rock. Of the value of knowing your facts and not
speaking if the alternative is spreading potentially false
information. When my father broke his back at the age of 19, he
continued his PhD in a full body cast. Only in the rarest occasions
did I hear him complain when I was growing up, despite knowing he was
in constant pain and, due to circumstances of the accident, not being
able to take pain medication. This man was at every one of my pee-wee
games, soccer matches, baseball games, basketball games, tennis
matches, many times as our team's coach. When my mother tried to point
me down the "guaranteed" known path, my father was there to nudge me
down the scarier path. He wouldn't tell me I would succeed, but that
he believed in me to try.
</p>

<p>He seemed to know everything. About everything. During a car ride,
I'd ask randomly, "Why don't cars run on glucose?" and he'd explain
the cost and cleaning complications with a vehicle he had read
about. I'd then ask "what's that thing on that bridge?". My father
would answer absolutely, "it's an anti-climbing downpipe to prevent
people from climbing". My mother and I would say, "How can you
possible know that?". He'd mention an architecture elective he took
thirty years ago. I remember being tested for ADHD and a Dr. Greene
started reading to me out of left field. I had no idea what was going
on, I was trying to figure out what the objective of the experiment
was. Then he stopped, probably two minutes later and asked what I
remembered. I said, "Something about a hot air balloon being invented
on such a date... They flew for this many minutes, over some
country...But that's unfair! I had no idea I would have to answer what
I heard". My mother then said, "Wow, that's much better than I got!
Richard [my father], what do you remember?". My father proceeded to
recite the entire page-long dialog almost verbatim. I proceeded to
blame my ADHD on my mother. Suffice to say, my father made me want to
have a good memory, made me want to try hard and overcome my
limitations; to be an agent of truth and a purveyor of knowledge. My
mother has helped me get there by recognizing the power of enabling
technology and strategies.
</p>

<p>My parents have given me impeccable values. They taught me
respect. How to be generous. How to work hard. To be welcoming of
others. To measure twice, cut once. How to be just; to fight for the
rights of others. How to be intense. They taught me
affection. Culture. Manners. Honesty. Responsibility. Grammar. And
passed down through generations, that life is full of ups and downs,
our job is to hold onto as many of the ups as we can.</p>

<p>
  <strong>Jennifer Shainess.</strong> When I was a young kid, maybe
  first grade, I wanted a Mongoose bicycle -- one with expensive shock
  absorbers and other gadgets. I don't even think at the time I was
  convinced I would use it often. All I know is there was a thing my
  parents were willing to buy and I didn't have to be accountable to
  the price; why not get the best? I remember my father becoming
  really frustrated with me. Not because I was being a greedy kid --
  which I was -- but because it was clear that I had failed to
  consider the values they expected me to have. I'm sure I even threw
  a fit when my father told me to select something less expensive, but
  as my selective memory would have it, I can't remember. What I do
  remember is my father saying, "You know, your when we offered your
  sister a bike, she found the cheapest thing in the whole building
  and was almost in tears because she thought it would be too
  expensive." I was rocked back on my heels. On this day I gained
  sensitivity towards finance and refused to be a burden on others.
</p>

<p>
  My sister also taught me compassion and the value of family. When I
  was afraid of the dark, my sister let me bring a sleeping bag into
  her room. To this day, when life gets overwhelming (which is often)
  and I need to get away, no questions asked, she has a place for me
  in Boston. This loyalty is a quality almost all my family and
  friends have in common. And they've distilled the value in me.
</p>

<p>
  Jen also tries incredibly hard, doesn't cut corners, and is guilty
  of caring too much. If she found math difficult, she'd invest time
  with a tutor. If she had a paper due, she would go above and beyond
  until the quality met her high standards.
</p>

<a href="https://www.facebook.com/photo.php?fbid=10102795447477710">more</a>
</p>

<p><strong>Michael Lostritto.</strong> Michael was one of my first
true best friends and rivals. I met Michael in 3rd grade in
Mrs. Taylor's class. We met at the playground and ate lunch together,
often joking that one of the grumpy lunch ladies, Rita, had the same
name as Rita Repulsa from Power Rangers. Maturity wise, I was kid, he
was an old man. At the time, I had no idea it was a valid strategy to
focus exclusively on one thing and "get ahead" of other people. Being
better than someone at something made sense to me as a concept, but
employing a strategy of directed, focused discipline was foreign to
me. The discipline I had was emergent from interest, e.g. tennis
(which I began when I was three) and computers (which I started
programming in third grade, when I discovered AOL Instant Messenger
could be augmented with chat bots) -- both foci born from an almost
unhealthy compulsion we might as well call addiction. Michael taught
me addiction can pay dividends; granted not always in the direction we
want.
</p>

<p>
Growing up, I wasn't an exceptional student. I didn't have any special
skills apart from wiggling my ears. I enjoyed playing music, but I
wasn't brilliant at it, and it seemed more like a joyful form of
expression than an advertisable skill to use for competition. Michael
taught me growth through competition. We played ping pong together,
chess together, mario cart, and occasionally fiddled around on the
piano (which, like most everything else, Michael was magnitudes better
than I). At one point, around middle school, Michael and I became neck
and neck at ping pong and I think that is some of the most fun I've
ever had. I should mention, right around that age, while I was
struggling to find strategies for my poor attention span and
programming formulas into my calculator so I could check my work
during tests, Michael was taking higher math in college. We're the
same age.
</p>

<p>
Michael is one of the first people who pushed me to be better. I was
lucky that he was better than I at things I really enjoyed, like
chess, ping pong, and martial arts. I admit, there are some things he
strived for, like being James Bond, that were a little beyond my
understanding. But on the things we both enjoyed (and understood) I
would learn from him and work hard to be the best competition I
could. When he won, he would act casually as if it were no big deal
and nothing in life really mattered, but behind closed doors, I
believe he would put in his dues and train to destroy me. If I came
even close to threatening his victory, I would relish in his audible
squeal (knowing he was especially disgruntled that it was me). When it
was my move in chess, he would take advantage of any rule to defeat
me. "You took your finger off the piece". Michael taught me that games
and life are not just about our strategy for playing, but the rules
and parameters of the system.
</p>

<p>
And also about our attitudes. I recall one time Michael played without
a knight and was too optimistic and dismissive of me during a game of
chess and somehow I captured his queen. He immediately resigned and
refused to let me play the game out and see victory through,
furthermore claiming we have no idea what would have happened if we
did -- and he's right. This handicap was the one victory of, without
exaggeration, ~500+ games we played. But still it taught me the
importance that respecting one's opponents played in Michael's ability
to dominate.
</p>

<p>
I'd like to believe Michael respected me enough to at least use me as
a sort of measuring stick by which to make himself better. If he could
remain better than I, he'd be better than most who weren't even making
an attempt. Michael taught me about winning. About strategy. And about
intensity.
</p>

<p>
Aside from the case of my accidental victory (which I refuse to have
challenged) Michael almost always treated (or humored) me as a real
competitor, whether I really was or not. I guess that's how you get to
be a chess champion like he was, by treating everyone as serious
competition. He (likely selfishly) encouraged me to go to chess club,
when we were at Highland Elementary. Our friendship was an
optimization game of what attribute to level up next and we would feed
off each other; he would often ask my grades or scores, taking
measurements of those around him who were amenable to the
questions. But what I really respect about Michael is that he picks
his battles maturely. When we spoke about computers, he would
respectfully and humbly defer to me; perhaps because a victory on that
front might have been Pyrrhic, or perhaps he had no interest or saw
lower hanging opportunities.
</p>

<p>
It is important to note, Michael doesn't like competing; he likes
winning. I remember one time his mother Linda -- whom I adore by the
way (I adore his whole family, especially all the times his family had
me as their guest for dinner, with open arms) -- had a debate about
Michael having sweets which turned into Michael making a bet to not
have sugar for, if I remember, a year. After the bet was won, instead
of celebrating by having sugar, he kept going without to prove his
unmistakable victory.
</p>

<p>
That's the kind of person Michael was growing up. Dedicated, driven,
respectful, kind and generous, funny (if not a bit mischievous),
intense, and a true friend... Often eccentric to the point of being
peculiar, which only added to my endearment of his original
personality.
</p>

<p>
<strong>Howard Dimond.</strong> My uncle has several qualities which I respect. First, he is principled. Second, he is generous, caring, and humble (in a style which magically almost demands its own level of respect). Third, he is immaculate with his advice; he gives people suggestions but takes care not to project or impose his ideals on others. Fourth, he is practical and pragmatic. Fifth, he his frugal. My uncle taught me how to plan financially, how to have meaningful conversations, how to question, and on occasion to be dialectical and entertain different opinions than those I believed. Even after becoming wealthy, he would treat himself to knock off ties in NYC and stay with friends instead of wasting money on hotels. He takes a pride in being fiscally responsible. Yet he never skimps with family, friends, or those who needed it. I recall three events which shaped me.
</p>
<p>
First, Howie took me
to <a href="https://imgs.6sqft.com/wp-content/uploads/2015/05/20233150/FAO-Schwarz.jpg">FAO
Schwarz</a> in NYC (one of the biggest toy stores) and he gave me
$100.00 to spend. He told me I couldn't keep the change (which was my
first question). And that it must include tax. Unfortunately for him,
I spent close to eight hours at the toy store, getting the total
pennies from the limit. We didn't do that again. Needless to say, he
taught me to optimize and treat every opportunity seriously.</p>
<p>A second time, I was talking to How about principles. That I could
understand the stance of not voting within a system which is
fundamentally flawed, because a vote is also a vote for this
system. Eventually if so few think the system reflects their interests
(because it doesn't) so refuse to participate, but do want to vote in
a system which does actually consider them, then this becomes a
catalyst of real change. He responded, as an example, that he was
against senior discounts. I said, "Ok". He said, "I use senior
discounts". I said, "That's hypocritical". His answer was (para),
"Having a belief doesn't require you to put yourself at a
disadvantage.". It's a valid life lesson. Sometimes if you want to
make a difference, you have to accept every advantage you can (because
they add up). Morally, this can be hard.</p>
<p>Finally, when I was trying to figure out my next move, after
winding down Hackerlist, he noted that I, "had resorted to climbing
rocks for hours a day". He reminded me of my life goals and
priorities, and that life was too short to run away. To the extent it
was true, it was something I needed to hear. He continues to teach me
the value of radical candor. As does my brother Rob Shainess,
liberally (whom I am also love dearly and am extremely grateful and
thankful for, though I'll save his stories for later).</p>

<strong>Dr. Gary Johnson.</strong>
Hacker spirit and culture. The joy and power of community.
It's alright to not know
Altruism and giving to others
Sustainable life, being humble

<p><strong>Stephen Balaban.</strong> Stephen is the reason I'm in San
Francisco. I can pretty safely say I wouldn't have ended up out here
if it weren't for him. And that I've never worked more effectively
with a person in all my life than with Stephen. And there are few
people I'd more quickly jump up to fight beside. And fewer still who I
could reliably expect to come to my aid if I was facing hard times. I
think I realized this would be the case the day I met him. Stephen
randomly approached me at the University of Vermont after hearing me
mention something about "PHP" on the campus shuttle. He hijacked my
lunch and asked me all sorts of questions about building some dark-web
music service, explaining how he wanted to learn how to build
something like ytmnd.com. Stephen taught me to fearlessly approach
anyone. And to take risks.</p>

<p>Yes, I thought he was strange, eccentric; so that was one check in
his favor. Stephen and I started hanging out a lot from then on out at
the CSSA (computer science student association) lab. We'd talk about
all sorts of outrageous business schemes, hack together on perl and
python, play nethack, and pull all-nighters in the lab working on
prototypes, teaching each other, and sharing culture. Between me,
Dr. Johnson, and Andrew Guertin, I am not sure how Stephen survived
it. We would come back from class, go straight to the lab, and one of
us would give a lecture on computational theory, or bootloaders, or
recursive trampolining, until we ran out of things to say and it was
six or so in the morning. Stephen taught me you can break into any
group so long as you have a good personality, raw ability, and a
commitment to learn.</p>

<p>I've gone by Mek for a long while, by some since middle school (at
NCC national computer camp). Stephen was one of the first to decide
that Mek was my name, and not just an alias for signing emails. This
came at a time when I was very sensitive about my identity;
specifically about religion and the reality that society would label
me as Jewish, no matter what I believed. Not having a choice in who
you are feels pretty bad. But it's reality. And there are worse
things. Stephen's email at UVM was sabalaba@uvm.edu. First initial,
middle initial, first 6 chars of last name. Sabalaba (sab) has been my
nickname for him ever since the hacker lab days. Sabalaba taught me
true friends put aside judgement and let you be who you are.</p>

<p>Stephen is smart. Not often like saying "profound things" smart
(though when he says something, the logic and reasoning behind it is
often very solid and insightful). But moreso smart like, "I decided to
spend today creating a new integer sequence" smart. I remember after
Stephen and I moved to SF to try our hand at founding Baybo in silicon
valley, he saw a group of triangles drawn on a whiteboard. The author
of the figures had used the triangles to demonstrate a point; it was a
means to an end in conversation. Stephen, however, got so excited and
started describing how he has been drawing patterns like that for
years, enumerating it's properties and explaining why it was cool (to
my interest, but I am not so sure the captive audience was as
on-board). Stephen reinforced my believe that you get further being
yourself and being interesting than compromising and conforming to
others expectations.</p>

<p>Stephen learns things faster than near anyone I've ever known. And
at amazing proficiency. Chinese, mathematics, economics,
entrepreneurship, computer science, artificial intelligence. He
immerses himself and becomes consumed by it. This is one of the
reasons I think we worked together so well; I think we're both very
competitive with ourselves, and we both welcomed a brother who was
able and willing to match our intensity and help us push ourselves to
our limits. Stephen is one of the few people (apart from Matt Lee) who
was able
to <a href="https://michaelkarpeles.com/essays/qs/on-effective-procrastination#working-hard-vs-accomplishing">keep
my pace throughout my startup years</a>. Stephen taught me what was
achievable when two people who amplify each other team up.</p>

<p>He is driven, determined, relentless, and radical. On occasion, he
says things which blow my mind. I mean, things involving water
buffaloes and RPGs which are so outrageous that no other human could
possibly believe he could mean it... And to be honest, half the time I
don't know! But damn it, I listen to him, because usually he's saying
something someone else doesn't have the courage to say. Or
entertaining an unpopular perspective which demands a degree of
attention -- even if only an exercise in rhetoric and devil's
advocate. The more you listen, are willing to understand and take a
chance with Stephen; the more liberties you afford him, the more you
let him be his true character, the more unpolished gems you realize
are up there. He showed me that you have to give others latitude, let
them shine, and not be afraid of the things which may them unique.</p>

<p>He has quirks. We disagree on many things political. He's more
willing to hurt someone's feelings and pull the trigger when he knows
he needs to. He can get frustrated like any other human. But he has
values. Stephen is fair, he's compassionate, he's considerate, he's
inclusive, he's generous, and he's one hell of a friend I wouldn't
trade for anyone.</p>

<p>I owe nearly all of what I know about business to Stephen's
catalysis. He taught me risk during a period when I was most
conservative. He believed in me often when I questioned myself. I'm
lucky we were able to find each other's friendship and share small
successes together. I am betting heavily on his continued success.</p>

<p>
<strong>Aaron Swartz.</strong> When Aaron passed away, I feel a lot
changed. I felt there were few people I had come across who believed
more trulely and fully in their causes and life-style than he. 
</p>

<pre>
- created a website
- formulated life mission
- found some degree of live-work-balance

https://www.facebook.com/michael.karpeles/posts/10101469875838900?match=YWFyb24gc3dhcnR6LHN3YXJ0eixhYXJvbg%3D%3D
https://www.youtube.com/watch?v=BI4Udqk56dI
https://www.youtube.com/watch?v=apH57gkjSFs
</pre>

<p>
<strong>Drew Winget.</strong>
</p>
<pre>
- The classics. The Great Conversation
- Gave me a respect for liberal arts 
- The power of someone who shares my life goals
- The power of shared context
- How to have a good conversation
- Being a vulnerable, real person
- To do due diligence and read the thoughts of others; curating instead of creating
</pre>

<pre>
<strong>Mark Carranza.</strong>
- Eating one's own dogfood
- Making an extremely compelling "memex" and one of the best demos I've ever seen
- Being a vulnerable, real person

<strong>Austin Lee.</strong> Austin is an excitable, fast paced talker
whose high energy is infectious. He is very detail oriented,
confident, disciplined, dedicated, and supportive.

<strong>Sahar Massachi.</strong> Politics. Understanding power.
</pre>

<h2>What do these people have in common?</h2>
