<h1>Procenance</h1>
<p>2015-12-28 @ 16:00 PDT</p>

<pre>
Provenance. For anyone who is trying to figure out their life goal,
this has been my thought process:

In general, I want a holistic view of all the universe's knowledge and
a programatic means of traversing it. That doesn't mean I want to know
(or that I believe I can know) everything, just that I want everything
that we *have* organized, accessible in one place, and made as usable
and useful to humanity as possible.

I want to see our best guess at how everything connects, I want to see
how confident we are at each of these connections, and I want to be
able to ask big queries/questions against this vetted graph, like
"What steps occurred between

I don't expect for us to find a single equation which models all the
universe. Or one perfect, internally consistent system which
encompasses everything. Alfred North Whitehead + Bertrand Russell's
Principia Mathematica v. Kurt Gödel shows us the flaws of this line of
thinking. But this doesn't mean we should discredit the value of
trying to reconcile scientific theories against each other, trying to
understand *how* they are inconsistent, and aspiring to achieve better
*approximations* and theories about the universe and everything. I'm
not after a perfect solution, just moving the needle on the most
comprehensive theories we have. I write more about this here:
https://www.facebook.com/michael.karpeles/posts/10102207452733890.

Earlier this year, something (unreasonably) bothered me about the
world. I thought, gosh, so many people have independently developed
theories of the universe. How does that process work? Do each
scientist independently compile a list of theories to test against
manually? And then perform mathematical checks manually, one at a
time? Doesn't this seem like a lot of work? Surely this can't be
comprehensive -- other than being inefficient, I can't imagine any of
these cross-validations would be "complete" (consider all the things
we know). Shouldn't or couldn't there be a framework which everyone
uses, which allows us to plug in our assertions and see how a new
theory violates the consistency of these other theories? Shouldn't we
be able to answer, with concrete math, what theories fit best?
Wikipedia has shown us such distributed, centralized efforts have a
lot of merit, and I look forward to new systems, like Wikidata, making
this process more "formal" and introspectable.

Today, I discovered something beautiful. What I'd like to call, "A
(Nearly Complete) List of the Laws of Science":
http://www.alcyone.com/max/physics/laws. It's maintained by a fellow
named Erik Max Francis (www.alcyone.com/max/info/personal.html). What
a role model. I'm glad he's worked on this problem for humanity, I
look forward to helping him, and he's earned a spot on my "100 people
to help and support".

Having a list of thoroughly examined scientific theories is a first
good step, but I began to wonder how these theories fit
together. Earlier this year, I started to curate an essay on
Supervenience Theory, the not-new idea that theories can connect or
justify other theories. For instance, that physics (the Big Bang)
could lead to the emergence of Chemistry which was pre-requisite to
biology (abiogenesis), which was pre-requisite to neurophysiology (the
nervous system and the brain), and to culture, the way we think,
mathematics, and artificial intelligence:

<a href="/curations/unified-theory">/curations/unified-theory</a>

Something fortunate happened a few months back. After a conversation
at the Internet Archive, Alexis Rossi helped me discover Bill
Bryson's, "A Short History of (Nearly Everything)"
[https://archive.org/…/AShortHistoryOfNearlyEverything_201507] which
walks the reader through one such path of supervinience. It's a very
accessible book (and while it is a bit fluffy, it's worth exploring /
it may inspire you to research some of its topics further).

So now (just like Euclid curated the great works of the time to create
Euclid's Elements) we have a curated list of scientific theories, and
research and intuition about how they connect and impact each
other. Now we can go a step deeper and analyze each of these
sub-fields (physics, chemistry, biology, the brain, math, artificial
intelligence).

I wanted to see what it would look like and what one would be enabled
to do if they did have a comprehensive map of the subjects of a
field. I thought Mathematics would be a great place to start. The
relationships are pretty concrete. So I did some research to see who
had tried coming up with a taxonomy of mathematics. I discovered the
ASM MSC 2000 and 2010 data sets, and then a this gem of a resource
called the "Math Atlas" by Dave Rusin:
https://web.archive.org/…/2014100…/http://www.math-atlas.org (thank
goodness for the Wayback Machine). Dave Rusin
(https://web.archive.org/…/2014100…/http://www.math-atlas.org), even
before 2002, has been curating an Atlas of mathematics which I'd like
to call, "A (Nearly Complete) Atlas of all of Mathematics" and it's
amazing. From this, I've been able to develop a hierarchical, zoomable
tree graph of math subjects: http://math.mx

Since then, I've explored <a href="/curations">other opportunities for curating "Atlases"
into important subjects</a>. I recently started an attempt
at "A (Nearly Complete) Diagram of the Brain", working off of:
http://www.innerbody.com/image/nerv02.html. I'm also working on a
comprehensive, axiomatic system (a relationship graph of Wikidata
entities) of <a href="https://fromscrat.ch">recipes re-constructing society's great inventions</a>.

But this work is not just vanity, for the sake of creating
"Atlases". These curations have already begun to serve an important
role of helping me formulate harder questions (that I'm usually
overwhelmed by). Like, <a href="/essays/science/towards-curry-howard-lambek-biology-correspondence">"What can we learn by attempting to implement
biologies systems using symbolic logic, and what improvements can be
made in our implementations of symbolic logic through the study of
biology?"</a>
which I also talk about here
https://www.facebook.com/michael.karpeles/posts/10102262715801260 and
here
https://www.facebook.com/michael.karpeles/posts/10102405230450760.
</pre>
