http://www.ted.com/talks/brene_brown_on_vulnerability#t-1035358

<pre>
Mek) Perhaps I'd suggest, her "breakdown" is a cyclical occurrence for me
which I revisit (too) often, in attempt at suppressing my humanity so
I can deliberately push people aside who posit a risk to my
productivity. And this in turn perpetuates my inability to be
effective or happy.

K) Do you think your reaction to the talk is closer to a quick turbulence that you'll shake off? Or is it making you rethink things?
Or is it too soon to tell?

Mek) Unfortunately the former, and recognition of the validity of the latter.
</pre>
