<h1>Strategies for dealing with ADD</h1>

<p>I am lucky to have a mother, Patricia, who is both a special education teacher and champion who fights for every possible resource for her children to succeed. During my childhood, this manifested as my mother fighting for the right for me to use a computer in middle school to take notes.</p>

<p>Writing notes by hand in class was prohibitively difficult for me, especially because I could not stop the lecturer and ask clarifying questions at the frequency I needed, as is possible in one-on-one conversations. Having some aptitude with computers, typing notes allowed me to organize my thought much more quickly.</p>

<p>I found math classes difficult for similar reasons. I would often make careless mistakes in the same way someone with dyslexia might. My registers could not simultaneously keep track of what was written on each line (and detect errors). And so, I would write computer programs on my calculator (for every homework assignment) which generalized the theorems I was learning. I would use it (in a way similar to Wolfram Alpha) to check and show my work so I could compare it against my written results.</p>

<p>This was the start of a trend. I realized there would be many times in my life when something didn't come naturally and I would need to program a custom solution which accommodates how I think and learn.</p>

<p>When I was young, I would often forget books at school which I needed. As a strategy, even though it sucked, I started bringing all my books home. I was a short kid. I was probably 5'4 at the time and weight maybe 100 lbs with over 30 lbs of books and a laptop. But it was the change I needed to make to remove that possibility of error from occurring. The fewer pieces which could hit exceptions and go awry, the less I had to think about, and the more I could focus on the things which mattered.</p>

<p>While I was reluctant to do so, taking medication also helped me
understand what focus was supposed to feel like. I took ritalin and
then concerta from the time I was in elementary school, to
undergraduate school. I very rarely needed medication when I was
working on something (a) I loved which (b) demanded focused attention
by the nature of the activity (like programming). One of the best
strategies I can offer is to listen to your body and double down on
the activities you know you do well. Your inability to not focus
simultaneously on everything will likely turn into a super power of
hyper-focus.</p>

<p>Above all, the most important lesson I learned is the power of protocols. That computer science is not a career path but a set of tools which you can use to analyze and control aspects of your life. To make it more robust, to obviate challenges which don't need to exist, and to achieve a manageable lifestyle.</p>

<p>Most recently, I manage a quantified self spreadsheet, a todo list, a calendar, a "memex" (mind map which I can query at the speed of thought) which helps me stay organized and maintain a productive life.</p>
