<p><a href="/essays">Back to essays</a></p>
<h1>The Road to Doing Great Work</h1>
<date>2016-08-07</date>

<h2>Index</h2>
<ol>
  <li><a href="#deliberate">Deliberate: Decide on your goals</a></li>
  <li><a href="#invest">Invest in yourself &amp; choose a strategy</a></li>
  <li><a href="#advertise">Advertise: Present yourself effectively</a></li>
  <li><a href="#foot-in-door">Get your foot in the door</a></li>
  <li><a href="#prove">Prove yourself: Fight to do meaningful work</a></li>
  <li><a href="#further-reading">Further reading</a></li>
</ol>

<a name="deliberate">
<h2>Deliberate &amp; Decide on your goals</h2>
</a>

<ol>
  <li>Invest actual time (hours or days) in considering what problems you care about.</li>
  <li>Imagine you only had one year or five years to live. What is the biggest opportunity for impact? What problem would you attack and what could you accomplish during that time?</li>
  <li>Bret Victor's&nbsp;<a href="https://vimeo.com/36579366" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://vimeo.com/36579366&amp;source=gmail&amp;ust=1470697459893000&amp;usg=AFQjCNHT2boQS0f-runtGacTJIOANuHtgg">Inventing on Principle</a>
  </li>
  <li>My&nbsp;<a href="/mission" target="_blank">life mission</a>&nbsp;and the&nbsp;<a href="https://www.facebook.com/michael.karpeles/posts/10102408017839810" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.facebook.com/michael.karpeles/posts/10102408017839810&amp;source=gmail&amp;ust=1470697459893000&amp;usg=AFQjCNGndtuRKf0_cvqr5blZXq370b5ceA">provenance trail: How I arrived at my goal</a>&nbsp;(<a href="https://www.facebook.com/michael.karpeles/posts/10101993699766550" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.facebook.com/michael.karpeles/posts/10101993699766550&amp;source=gmail&amp;ust=1470697459894000&amp;usg=AFQjCNFXQl-s74GBpNmxEi9B6mXHRmXthw">What my life goal looked like in 2014</a>)
  </li>
</ol>

<a name="invest">
<h2>Invest in yourself &amp; choose a strategy</h2>
</a>
<ol>
  <li><a href="https://80000hours.org/career-guide">80,000 hours career guide: Find a fulfilling career that does good</a></li>
  <li>Trade-off: Taking a job you're qualified for now (means 1 yr investment) v. learning / preparing intensely for 3 months for the job you want to be qualified for?</li><li>Study, use coursera, youtube, coding schools / bootcamps, do example problems</li><li>Work on a side project, be strategic about how it links to the studying aspect -- choose a project which can scale and show impact (have business implications)&nbsp;</li>
</ol>

<a name="advertise">
<h2>Advertise: Present yourself effectively</h2>
</a>
<ol>
  <li>don't pigeonhole yourself to a specific domain (e.g. engineering). demonstrate your unique value proposition
  </li>
  <li>metrics, show impact, quantify / qualify
  </li>
  <li><b>demonstrate</b>&nbsp;your abilities -&nbsp;have a side project which links #1, #2, and #3.
  </li>
</ol>

<a name="foot-in-door">
<h2>Get your foot in the door</h2>
</a>
<ol>
  <li>
    <a href="https://www.youtube.com/watch?v=ji5_MqicxSo" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.youtube.com/watch?v%3Dji5_MqicxSo&amp;source=gmail&amp;ust=1470697459894000&amp;usg=AFQjCNE-n8-2ajlG7hbBobNHXAyUNJjxfw">Randy Pausch's Last Lecture</a>: Walls are there to keep others out
  </li>
  <li>
    Find engineers/role models you wish to be like or work with. Ask
    them out to coffee. Ask for their mentorship. Learn about their
    role and opportunities at the company.
  </li>
  <li>Volunteer on a project of interest to them</li>
  <li>Do your own research -- look through people's LinkedIn</li>
</ol>

<a name="prove">
  <h2>Prove yourself: Fight to do meaningful work</h2>
</a>
<ol>
  <li><a href="http://www.aaronsw.com/weblog/productivity" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.aaronsw.com/weblog/productivity&amp;source=gmail&amp;ust=1470697459894000&amp;usg=AFQjCNHA1vMg_f72PclMi-L_3t1UpSHqDQ">Aaron Swartz on productivity</a>&nbsp;+ solving the right problems -- (<a href="https://www.facebook.com/michael.karpeles/posts/10102401895439150" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.facebook.com/michael.karpeles/posts/10102401895439150&amp;source=gmail&amp;ust=1470697459894000&amp;usg=AFQjCNH5HMxoty4e12yMO9_geRQpivzThQ">here's why it's an important essay</a>)
  </li>
  <li><a href="https://www.youtube.com/watch?v=si24aSDcGT4&amp;t=28s" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.youtube.com/watch?v%3Dsi24aSDcGT4%26t%3D28s&amp;source=gmail&amp;ust=1470697459894000&amp;usg=AFQjCNHOCsvoW9XO6mX3i-BP0wDwB37j6w">Always be questioning</a>.
  </li>
  <li>You only get one life, we have a responsibility (to ourselves
  and to others) to be our own CEO and make sure we're working on the
  most important value-add thing we can be. Companies are incentivized
  to pigeonhole us to make "safe contributions" with a guaranteed
  return on investment rather than letting us do great work.
  </li>
  <li>
    <a href="http://www.cs.virginia.edu/~robins/YouAndYourResearch.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.cs.virginia.edu/~robins/YouAndYourResearch.html&amp;source=gmail&amp;ust=1470697459894000&amp;usg=AFQjCNGFoV9z-8uwYDmYdm8ZaivNOnXyTg">Dr. Richard Hamming, "You and your Research"</a>
  </li>
</ol>

<a name="further-reading">
<h2>Further Reading</h2>
</a>

<p>More <a href="/curations/life-lessons" target="_blank">Life Lessons</a></p>


