<h1><a name="curb-your-enthusiasm">Curb Your Enthusiasm</a></h1>
<p class="by">Mek, January 19, 2013 - Edited by Drew Winget</p>
<hr/>

<p>
  I learned what should be the goal of this essay after receiving
  valuable feedback from Drew Winget who explained:
</p>

<p class="prefont">
  "Frustrations with shape are less painful than formless frustrations."
</p>

<p>
  How can anyone focus on a single problem for years when life
  is so short and	there are so many exciting and worthy
  projects/problems to work on? If you are an ambitious person
  who wants to make the most of your life, you've possibly been
  overwhelmed by this concept before. Here are my thoughts on
  winning the battle of greatness by learning to understand,
  and control your enthusiasm. The secret is remembering,
  life isn't just about optimizing for success, it's also about
  managing failure and sticking to your game plans.
</p>

<p>
  People have an inherit need to be good at multilple things, perhaps,
  in part, to compensate for the fact that, in our age of
  specialization, it is increasingly challenging to be the best in the
  world at any given thing. After all, there's a lot to be afraid of
  in only attacking a single problem. Without perspective from other
  problems to guide your initiatives, it's easy to succumb to tunnel
  vision and find yourself lost or at an impass. Imagine how often
  you've relied on examples from other fields to learn a new topic
  (see: <a href="http://www.analytictech.com/mb870/handouts/levi.htm">Levi-Straussian
  Semiotic Analysis</a>). Now imagine how much harder it would have
  been to learn that concept had you not had those experiences and
  learnings to refer back to.  In the same way that smart economists
  tell us to diversity our investment portfolios, hedge our bets, and
  mitigate our risks, we're naturally compelled to do the same with
  our personal skills. But how do we tell when we're spread too thin
  or overly focused? Better yet, how can we guarantee a balance?
</p>

<p>
  There's always going to be that	frusterating day when
  you scream, "I should have invested more in Google!" or
  "If I had only taken that job, my stock would be worth millions!".
  That's because, when we win, we want to win big. We want others, 
  and ourselves, to realize the extent of our confidence and capabilities.
  Winning big often requires you to take a risk, even if that risk is implicit.
  You must outperform competitors by thinking and responding more quickly.
  Sometimes in an attempt	to win big and think quickly, we 
  make decisions we later regret.	But at the same time,
  when we lose, we don't want to lose hard. We want to know there's a
  safety net to catch us if we're falling. There are few feelings worse
  than being pressured to recover from a fall as you're still in
  full plummet.
</p>

<p>
  One answer is to control your enthusiasm by spending time
  premeditating on problems and arriving at terms / limits you're
  comfortable with. These limits could manifest as many things; time
  spent on a project, a monetary limit on investments, thresholds for
  decisions making (e.g. if my checking account goes under 20k, I'll
  go to get a job). The goal is to ask yourself, "how hard do I want
  to win, how hard can I afford to lose, and how does that translate
  into numbers or decisions in my life?"  If you're not sure what
  limits to try, or you're worried about deceiving yourself, use
  metrics and past experiences to justify your decisions, or ask
  someone you identify as objective to help you. Next, test your limit
  strategy for a certain time period. As you learn more about how the
  outcome compares to your expectations, or as your position changes,
  you can re-evaluate your limits and make adjustments accordingly.
</p>

<p>
  Try to break your goals into different contexts (dating, finance, work, etc.)
  and choose different personal limits for each of them. The advantage of
  this strategy is, if you know what your limits are beforehand
  and important decision comes, you'll be able to quickly make a decision
  while protecting yourself against the risk.
</p>

<p>
  The final step is the hardest -- when things don't go your way, stay
  objective and resolute to your strategy. The world is stochastic and
  there's no guarantee you won't lose, frequently. There are usually
  many more ways to lose than to win.
</p>

<p>
  Why will many not follow this advice? For two main reasons. First,
  we all want to be exceptional, and following a plan to hit our goals
  (no matter how audacious) often seems unexceptional. We want to root
  for the underdogs, the lotteries, the cases which defied the odds.
</p>

<blockquote class="prefont">
  Nobody panics when things go "according to plan." Even if the plan
  is horrifying! If, tomorrow, I tell the press that, like, a gang
  banger will get shot, or a truckload of soldiers will be blown up,
  nobody panics, because it's all "part of the plan." But when I say
  that one little old mayor <i>will</i> die, well then everyone loses their minds!	
	</br>
	- The Joker, <a href="http://youtu.be/pfmkRi_tr9c?t=123s">The Dark Knight</a>
</blockquote>

<p>
  The thing to keep in mind is, having personal limits won't change
  the world from being random and won't prevent you from making it
  big. What this mindset will do is
  prevent you from losing bigger than you can afford to lose by
  empowering you to make more educated decisions.
</p>

</p>
  The second reason many won't take this advice is due to social
  stigmas.  Whenever we redirect our efforts from seeking opportunity
  to mitigating risk, we are often labeled negatively as playing it
  safe or being afraid.  My job isn't to steer you towards one
  direction or another, only to offer an accountability framework
  wherein you can make these important decisions for yourself.  Once
  you have a better understanding of enthusiasm and how to control it
  to your advantage, I trust you'll make the best decision for you.
</p>

<h3>Mastering Enthusiasm</h3> 
<p>
  Enthusiasm is a powerful feeling. It can empower us
  to overcome shyness, frusteration, or even sadness,
  driving us to persevere in conditions under which many 
  others may give up. It can act as an amplifier, affecting
  not only us, but others by influencing their decision making
  and intensity.
</p>

<p>
  Enthusiasm is a necessary ingredient of greatness. 
  With it we reach new heights and gain the courage to
  step outside our comfort level, to experiment with
  and find exceptions (or deviations) within our belief
  system. The courage to test our belief system and challege
  our assumptions, especially at the expense of suffering
  ridicule, is imperative in discovering our flaws and 
  re-affirming or	finding faults in our current beliefs.
  The world is constantly	changing and so too
  should our beliefs be retested; both to ensure they are
  still applicable in the current times, and such that
  we may review them under the light of new knowledge
  and experience we gain over time.
</p>

<p>
  However, enthusiasm, like a drug, comes in
  different doses and has side effects; both good and
  bad. The nature and degree of its impact are inherintly dependent on
  its wielder, their intentions, and their rationality. In order to be
  a successful wielder of enthusiasm, one must be aware and conscious
  of both its existence/presence, as well as the severity of its effects.
  Enthusiasm gives us only the drive to accomplish things and
  does not prescribe in what manner or why we do them. One must learn to understand
  and control their enthusiasm or is likely to act impulsively in ways
  that do not ultimately serve their (or others') best interests.
  Like driving a vehicle at high speeds, submitting to enthusiasm without 
  premeditation can result in the boundaries which define our
  principles to bend, bleed, and distort. It can also drive us to
  lose perspective, act hastily, become desensitized, and impair
  our ability to think objectively.
</p>

<p>
  In some regards, the core of the human thought process mirrors
  theories of mathematical symbolic logic in that our decisions
  and perceptions of reality are governed by an evolving set of axioms.
  These axioms represent our fundamental beliefs of how the
  universe works; they are the resulting derivations of our
  entire knowledge base of experiences and learnings. As our
  knowledge base grows, the axioms must evolve to remain relevant
  and consistent with our new learnings. We acknowledge our core
  axiomatic beliefs to be self-evident truths, in that we have
  personally tested and tried their soundness to an extent which
  satisfies our trust/faith in their correctness. From these axioms,
  we derive truths we use to make decisions; to establish and evolve principles,
  morals, and ethics which we use to govern and justify our actions.
</p>

<p>
  Controlled enthusiasm gives us the drive to challenge these axioms
  while maintaining perspective. With each new piece of information
  we encounter, we test its consistency against our axioms and are
  forced to make judgement calls regarding their soundness. An example
  of such an axiom may be that the Earth is flat. While this may not be
  an axiomatic belief you and I share, there was once a time when this 
  conclusion not only seemed consistent with all the available knowledge
  of the time, but also seemed to be the most logical result. 
</p>

<p>
  When we are overly enthusiastic, we are acting under a personal bias
  which doesn't necessarily follow from our axioms. We're doing something
  because we like it, because it enthuses us. It's similar to the phenomenon
  of eating chocolate cake because we enjoy it, even if we know doing so may be
  detremental to our heath. Such behaviour can cause our knowledge bases
  to become poluted; (in the form of the mutation or introduction of axioms). An
  enthusiastic politician may exagerate the severity of an issue and cause
  a law to pass containing problematic or damaging oversights.
</p>

<p>
  That isn't to say enthusiasm is a bad thing. It is rather, a
  form of stochasticism which allows us to be unique
  individuals, resulting in the exploration of topics which
  interest us. However, like any scientific experiment, our goal
  when modifying our principle system should be to understand
  each modification to our system, as well as the implications
  that come with it. When too many changes occur at once, it
  becomes challenging to verify and reaffirm our existing
  axioms. As a result, I believe it perimount that one learn to
  control their enthusiasm and to seek a balance, as to maximize
  its benefits without jeopardizing one's (or others') principles.
</p>
