<h1>Gun Laws</h1>
<p>Disclaimer: After much consideration, I'm not sure how much I agree
with my original stance. I think it's important to be able to stand up
against tyranical governments, however I am not sure how this
translates to policy over gun ownership.</p>

<div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/noamsml/posts/10204443934558876" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/noamsml/posts/10204443934558876"><p>&quot;How many times must a cannonball fire before it&#039;s forever banned?&quot; The idea that everyone in this country, including crazed white supremacists, should have the &quot;right&quot; to access a gun is absurd to me.</p>Posted by <a href="https://www.facebook.com/noamsml">Noam Samuel</a> on&nbsp;<a href="https://www.facebook.com/noamsml/posts/10204443934558876">Thursday, June 18, 2015</a></blockquote></div></div>

<p>A transcript of my response is preserved below, for posterity's sake:</p>

<pre>
<blockquote><a href="https://facebook.com/noamsml/posts/10204443934558876">`How many times must a cannonball fire before it's forever banned?" The idea that everyone in this country, including crazed white supremacists, should have the "right" to access a gun is absurd to me.`</a> -- Noam Samuel</blockquote>

The counter question is, how many tyrannical governments must tie the
hands of its citizens before, of fear for them, a government may
emerge which empowers its citizens to oppose it? This is what the 2nd
amendment is all about. Not guns, the right to bare any sort of arm to
protect themselves from a tyrannical government.

People often rebut this as an antiquated argument. When was it last
used against "the government"? Well, the US Civil War ended in
1865. This was 150 years ago -- within the scope of 3 generations. Put
yourself in the shoes of a newly emancipated black man in the United
States; should he not have had the right to protect himself? What if
there had been a way to strip him of his weapon by claiming he was
mentally unhealthy? Can you think of anyone who would have disputed a
white person's claim of this? It is a dangerous fallacy to believe
laws are executed and enforced without bias. In fact, this tyranny is
the very reason citizens should reserve the right to bear arms and
create a militia. It does not, however, hold citizens unaccountable
for their actions.

The US constitution is written with the presupposition citizens will
follow its law. Where one doesn't, the state has the ability, by the
Xth amendment -- "The powers not delegated to the United States by the
Constitution, nor prohibited by it to the states, are reserved to the
states respectively, or to the people" -- to set consequences. This
includes the misuse of firearms, just as it does drunk driving, drug
trafficking, rape, and other unacceptable acts. That is to say, though
they are misused, does not mean all sorts of driving, pharmaceuticals,
and sex should be unanimously banned. Prohibition gave us great
insight into what happens in such cases.

I do not own a firearm, this is my choice. As someone who society
claims was born Jewish, I can easily see a scenario where I would need
to own a firearm to protect my life. Unlike the civil war, the World
War II was only 70 years ago; 1 or 2 generations.

I understand firearms have given people who are mentally ill,
extremist, or those under distress a mechanism for doing terrible
harm. And I sympathize with anyone who has experienced this. But the
important conclusion is, harm is not what the 2nd amendment
permits. Yes, it can enable it. Many laws can enable harm. Harm can be
caused by a terrorist taking over an airplane and crashing it into a
building. The correct response is not to eliminate planes, it's to
address the underlying issues. And we should address such roots:
mental illness and extremism. How this is done is best kept to a
separate debate.
</pre>
