<pre>
This piece has not yet been edited.

**** How do I think?
***** Should others think differently?
It's wonderful there's such diversity within peoples' thoughts and
life philosophies. Some living for today, for nobel causes in 3rd
world countries, to get rich, to find love. It's reassuring in the
same way a breadth first search offers completeness, in the same way
random restart and simulated annealing helps avoid becoming infintely
trapt within local optimas. I would not stake humanities success on
the correctness of my ideals. Perhaps I should think differently and I
look forward to shaping my direction as new information becomes
available and circumstances emerge.

***** As a single thread, even when weaved between others
That doesn't mean it isn't lonely, feeling like a single thread
weaving an path through a tapestry whose composition we don't fully
understand and cannot fully observe. I want to understand this
composition. I want others to want to understand this composition, why
it is we wave, and what opportunities exist for us all to weave
better. Irrespective of our different goals, mutual understanding is
imperative to us making informed decisions. Knowledge should never be
held hostage or become collateral damage, unless to protect knowledge
as a whole (a most saddening exception, one of the most sad things
there is).

Who's to say one's strategy for weaving is universally superior to
another? I suppose one can painstakingly calculate the costs of having
to repair said weaves, or the value that a "correct" weave actually
offers, for and to whom. One may even speak of opportunity costs, of
risks, and on the cost of not risking enough. One can even debate what
value is, how it is measured, and for that matter, what a "correct"
weave actually means.

And people try. Economists, statisticians, computer scientists,
mathematicians, classical scientists, game theoreticians. But this
struggle is constantly undermined by the pressures of being human. The
pressure of conforming to society, achieving personal happiness, and
marketing/promoting one's ideas in order to inflate their importance
and have them adopted to a degree one believes accurately reflects
their merits.

I feel like there should be a better way; a better global effort
towards an internally consistent and accessible world. This is the
world I strive to see realized, though I know it is not to be achieved
in my lifetime.

***** On choosing a philosophy
Choosing a life philosophy is challenging, especially without first
setting a context. For many, I would guess their context is around 150
years; approaching the upper bound of one's life and their usefullness
as pertaining to their children and grand children.

The window I live in is three thousand years. Arbitrary perhaps. It is
the duration of time the past feels relevant to my life today. I look
at the past three thousand years and I am distraught, how much
information has been lost? How many great minds have returned to the
earth without their learnings to survive them? This summed lost impact
is surely greater than my own, should it even survive.

And of the learnings of others which have survived, how have people's
lives improved because of them? And, I'd be remiss if I did not also
consider, in which ways have they become worse? On this I am not
prepared to answer.

***** Sacrifice; The consequences of my decision
Having a contextual window of 3 millennia has consequences. It means
that my actions do not optimize for the those living around me. Their
window only practically represents 1/20th of mine.

I necessarily have to invest in other people. My mission is not one
that can be accomplished individually. I thus constantly feel I can only
afford to keep company with those who will push me on my service
towards these goals.

- I become anxious about not using my resources efficiently
- I have started to become increasingly upset by trivia and experience
  even greater disdain when I take pleasure in it.
- I have sold most of my possessions to eliminate distractions
- I try not to purchase expensive things unless there is a practice
  reason and the delta in price is justifiable
- I am willing to spend money on others
- I have automated much of my life (laundry, groceries, rent) so I can
  spend as much time as possible focusing on problems I feel are more
  important.

***** Fear of missing out
Our number of seconds in this world are perpetually diminishing. Every
moment we deviate from our objective is a moment we lose forever. It's
painful knowing we need to rest and take breaks. At the same time,
this reality comes with opportunities for optimization. Effective
procrastination is thus a topic of personal interest.

It's also upsetting knowing there are only a certain number of forks
we can make and still be on track to hit our goals. Only so many
things we can be mutually good at.

I often wonder if my limited travelings, cultural exposures,
relationships, meditations, are actually inhibiting my success. It's
likely that learnings fundamental to my success lie in one of the
experiences I have not yet had.

I am only human. I frequently fight the urge to change my
path. Sometimes I wish to dissapear in a different country and lose
contact with anyone important to me. Sometimes I consider prioritizing
happiness.

***** Growth versus execution
Balancing growth and execution is one of my biggest presonal
challenges. Recently I've felt pressure to prioritize execution over
learning and I have great fear this strategy will work against me (in
terms of the absence of compound interest of my knowledge) in the
future.

***** A leap of faith
I believe that (1) striving to create a universal knowledge base, (2)
working towards discovering and eliminating inconsistencies, and (3)
making this knowledge base accessible, are the root of progress and
advancement.
</pre>
