<li class="essays-philosophy sec2">
  <h3><a name="essays-philosophy">Philosophy</a></h3>
  <ol>
    <li><a href="/essays/philosophy/curbing-your-enthusiasm">Curbing Your Enthusiasm</a></li>
    <li><a href="/essays/philosophy/on-friendship">On Friendship</a></li>
    <li><a href="/essays/philosophy/how-i-think">How I Think</a> (in progress)</li>
    <li><a href="/essays/philosophy/on-spending-money">On Spending Money</a> (2017-04-15)</li>
    <li><a href="/essays/philosophy/incompleteness-theorem">Incompleteness Theorem Doesn't Mean "Stop Trying"</a> (2015-05-03)</li>
    <li><a href="/essays/philosophy/computing-as-a-lifestyle">Computing as a Way of Life</a> (in progress)</li>
    <li>
      <a href="/essays/philosophy/the-types-of-questions">
        Types of Questions
      </a>
    </li>
  </ol>
</li>
