<h1>Rules</h1>

<h2>Abstract</h2>
<p>

  This resource describes the importance of computer science, not as a
  profession, but as an essential set of skills and a mindset which
  are a fundamental requirement for "literacy", that no person should
  be without. That computer science is as critical to a life as
  mathematics and natural language on the basis that Computer Science
  determines their [Math's, Natural Language's] application. First it
  will be defined what is meant by computer science. Second, we'll
  examine what computers are and clarify their role in computer
  science (as they serve but one part).

  In present day, Computers have come to mean machines capable of
  reliable numeric processing, inter-communication, and execution of
  formal rules. A Computer's ability to deliver on this promise
  depends on the accuracy of lower level formal rules, not only in
  software, but hardware (explain). (goal) guaranteeing
  reproducibility; the actuation of idempotence.

  Thus, thirdly, we'll examine what
  learnings and approaches from Computer Science may be abstracted
  away from the traditional Computer and applied to the individual and
  to life; a computer whose internals are much less introspectable and
  understood, and a landscape with much higher variability and
  stochasticism. The result of our study will be a subset of rules
  which hold for both traditional Computers and for us and our lives,
  as well as an attempt at a new set of rules (a meta-computer
  science) for evaluating how computer science changes or applies
  accross different computational frameworks.
</p>

<h2>Preface</h2>
<h3>Computer Science</h3>
<p>
  <strong>What is Computer Science?</strong> Computer Science is
  obstensibly the discipline of solving problems. In this capacity, it
  is the <term>art</term> (theory/analysis, design, application, and
  philosophy) of data* structures, algorithms, models (the organization
  and application of these aforementioned things to fit or represent a
  domain's data), protocols, and implementations of the systems which
  enable these things (computational theory, hardware, firmware,
  operating systems, drivers, compilers, programming languages, etc.).
</p>

<p style="font-size: .8em">
  <strong>*</strong> Data structures necessitate data. The study
  of data (Epidemiology) is frequently referred to as Data Science,
  and while it may employ technique from Computer Science and other
  fields, it is convenient (it allows us to better use Computer
  Science inductively) to view them separately.
</p>

<p>
  Computer science is also a process. It's the process by which a
  generalization of a problem is achieved. It's applicability and
  theory spans every field. Computer science is how we apply
  mathematics. It's how we search for answers. It's the protocol we
  employ while conversing, the way we organize our thoughts, and the
  framework by which we evaluate a statement's truthfulness,
  relevance, or implications.
</p>

<h3>Computers</h3>

TODO: Mention computer scientists who didn't use computers and what
problems they were addressing.

<p>
  Computers are a useful way to study and advance the theory and
  practical application of data structures and algorithms. It is taken
  as definition that different computers with different internal
  computational models and architectures (quantum computers, x86 v
  64), quantities or qualities of resources, and different
  connectedness within networks, represent different problem subspaces
  which are thus easier to control for and axiomatically understand
  than the global arena of "life". While subject to many more sources
  of complication than restricted computational frameworks, specific
  problems life can be heuristically informed or approximated data
  structures algorithms
</p>



<p>
  We are computers. This is the definition of computer which precedes.[1]


in fact, the role of computer 

  That is to say, computer science does not require a compute

Much of computer science has been advanced by those not even having access to computers. Von neumann, 



<h2>Data Structures</h2>
<p>

</p>

<h2>Algorithms</h2>


Natural language allows for communication. Mathematics allows for
comparison, analysis, and logic. Computer science (meta-mathematics)
allows us to reason.

A proof is 

Computer science allows us to objectify


Computer science is the way 

This guide will show us what there is to learn from computer science,
how to test or look for conditions which make these learnings relevant
to life, and how these rules may be generalized to be taken advantage of

describes what a computer represents
the ways it helps us address problems
(qty: faster computation, qlty: eliminating vars/simulating)

applied to discover general classes of problems
analyze what problems outside of computers are amenable to ...



</p>

<h2>Table of Context</h2>
<p>
  
</p>
<ul>
  <li>Everything has its place</li>
  <li>Temporary or inconsistent "state" should be avoided (ACID)</li>
  <li></li>
</ul>

<h2>Learning</h2>
<p>Computer Science offers teachings on how society can more effectively learn:</p>

<blockquote>"Schools, for some reason, don’t seem to care about deriving properties or developing procedures, but rather teaching students how to memorize and execute procedures (something computers happen to do quite well)."[3]</blockquote>



<h2>Sources</h2>
[1] https://en.wikipedia.org/wiki/Human_computer
[2] http://www.ybrikman.com/writing/2014/05/19/dont-learn-to-code-learn-to-think/
[3] http://www.jonahkagan.me/projects/writing/cs-essay.html
