<li class="about-me sec">
  <a name="about-me"><h2>About Me</h2></a>
  <p><quotes>"<cite w2gid="1385">Speak not but what may benefit others or yourself; avoid trifling conversation</cite>"</quotes></p>
  <ol>
    <li><a href="mission">Mission</a></li>
    <li><a href="/curations/life-lessons">Life Lessons</a></li>
    <li>
      <a href="https://www.facebook.com/michael.karpeles/posts/10102761566036390">Precepts</a>
    </li>
    <li>
      <a href="/qs/gear">Possessions</a>
    </li>
    <!--
    <li><a href="/curations/interests">Interests</a></li>
    -->
  </ol>
</li>
