<h1>The Problems of Academic Publishing</h1>

<p>
  Academia and publication (having lived in both worlds) have no
  shortage of barriers. Our ecosystem tosses out metadata-rich,
  well-define, extensible markup and publishes rigid pdfs in their
  place. Open-access papers (the product of several years of research)
  never make it into an index through which to have any chance of
  discovery. Or worse, they fall victim to link-rot and become
  inaccessible entirely.
</p>

<p>
  The first step to resolving these problems entails 3 parts: Creating
  a complete index of all open-access research papers A programatic
  interface (API) for accessing, and citing content within these papers
  (like w3c openannotations) And an "air lock" entry point (some
  protocol) which ensures all new research is funneled / registered into
  this distributed index
</p>

<p>
  My experience is, there's a fine balance between starting a new
  initiative because it addresses an un/under-served problem, and (xkcd
  on standards proliferation) doing so because of disagreement with how
  others are attempting to address it. In the latter case (which is
  pervasive), I see a tremendous opportunity in.
</p>

<ul>
  <li>Authored <date>2016-01-11</date> Mon</li>
