<h1>Standardized Testing and the Consequences of Guessing</h1>

<p>
Standardized multiple-choice testing often occurs in two dichotomous modes. One mode penalizes students for entering incorrect answers, causing students to assign negative weights to being wrong. The other method assigns positive points to correct guesses with no penalty, encouraging students to liberally guess. This risks proliferation of false information and reinforces the social acceptability of this behavior.
</p>

<p>
I was having a <a href="https://graph.global/?id=924">conversation</a> with <a href="https://graph.global/?id=919"><cite w2gid="919">Teon Brooks</cite></a> (mozilla fellow and eye tracking researcher) and Drew Winget (stanford digital libraries, knowledge interfaces) over brunch at Mission Beach Cafe and we stumbled upon the philosophy of claim making. That is, how and under what circumstances should one preface the integrity of their knowledge (e.g. a speculation v. an empirical result or proof), and how do we as a culture reinforce this behavior in a way which doesn't proliferate false information yet doesn't stifle creative problem-solving.
</p>

<p>
One solution which came up was to allow students to answer questions in one of two ways. Give the student an option to (a) "answer definitively" or to (b) "answer with an educated guess".
</p>

<p>
In the case of (a), students are *penalized* for submitting an incorrect answer and points are subtracted. On the other hand, students are awarded full points for a correct answer.
</p>

<p>
In case (b), students receive no penalty for an incorrect answer, but can only earn partial (e.g. 1/2) points for a correct answer.
</p>

<p>
I hypothesize this alternative test approach could have a variety of positive externalities. First, it reinforces the concept that providing an incorrect answer can have risks or consequences. Rather than students leaving questions blank (which gives educators no feedback), it allows educators to determine which questions students felt prepared to answer and where the student experienced challenge. It could also help educators identify systemic character development challenges (e.g. in confidence -- a student who always guesses) and better instruct students with strategies to address these challenges.
</p>

<p>
In many ways, the system described above is already employed by teachers, though I'm not aware of its use in standardized testing (i.e. in a way which is implementable at scale).
</p>
