<h1>Where Google Falls Short</h1>

<p>re: <a href="https://medium.com/@PatentMonk/paul-graham-wants-to-blow-up-google-67a5d6c7a2d2">Paul
Graham Wants To Blow Up Google</a>.</p>


<p>I believe the author of this piece derives an incorrect conclusion
from a limited, convoluted use case. I am also baffled and
disappointed by the unproductive claim "[...] no one wants to read
walls of text.", especially when the use case they chastise of Google
is the ability to locate full papers to analyze them. I hope the
author considers omitting this statement in a future revision.</p>

<p>The point the author might have made is, no one wants to read a
wall of the *wrong* text, of *irrelevant* text, which is laid out in a
format unconductive to how we as people effectively read. But these
points were not addressed or presented with sufficient
research. Here's the response I believe Google deserves:</p>

<p>The problem is not that "Google" doesn't have good design sense.</p>

<p>Let's explore several different interpretations of design and experience:</p>

<ul>
<li>The "single input url" is probably the best, most intuitive interface which can possible exist.</li>
<li>Thousands of users are delighted by their daily doodles.</li>
<li>Their analytics system is one of the most used, accessible, and powerful on the web.</li>
<li>Their APIs are almost as powerful as their underlying infrastructure.</li>
<li>Google maps is perhaps the most thoughtfully designed service I have ever used. Drew Winget feels even more strongly of this than I, and he is an apple user.</li>
</ul>
<p>In fact, if we want to be really creative with our definition of design, we can say:</p>
<ul>
  <li>Google's blazing fast response time (and understanding that this is a property user's value) is impeccable design.</li>
</ul>

<p>Yes, Google knows what user's want. They have the raw data to prove
it. And they design for this. I think this is one of the most
objective definitions of good design which can exist -- understanding
users' priorities, accommodating their behavior, and experimenting
with improvements.</p>

<p>So no, I don't believe Google's problem is "design". I think the
problem (which Google has only recently started addressing) is their
monolithic and antiquated conception of what search is; where computer
search ends and human search begins.</p>

<p>If you want to call this design, fine. Everyone is a designer, design
can be anything, programmers are designers -- Fine. I get it. I get
it, but this type of arbitrary classification is not productive, other
than for people to come to philosophical alignment. This specific
stance of "everything is art" is passing the buck and allowing the
real underlying problems to persist, just like google is doing to
users with their incomplete implementation of search.</p>

<p>In a nutshell, Google is great at design, what they've gotten worse at
is developing what user's *don't know* they need. Instead, this
innovation is being pushed away to the background of Google, to the
R&amp;D of ancillary projects, such as glass and brain. No doubt these
innovations back propagate and are re-integrated into search, but not
nearly as creatively as their potential affords -- more to fuel their
future arsenal, to prevent competition with patents, to move metrics
and improve efficiency, rather than to incite changes in paradigms
within search; the context under which I imagine many of these initial
research are founded.</p>

<p>Enough pretext. Let's get to the meet and potatoes:</p>

<p>Google's service to the user typically* stops as soon as they show
you result pages; a list of sometimes millions (if not more)
results. This is the problem. Once a list of documents is retrieved,
the user must sift through them, one by one, to find the desired
content. Isn't this the exact point of a search engine? What google
needs is not design, it's a search engine which delves deeper to
accommodate its user's use cases. And a search engine which is more
sensitive to these use cases (think modes). And they're on the right
track with Google Now (zero-click results) and using users' unique
search history to determine context.</p>

<p>The average use case of Search is not to find a "page" or
document. It's to find a specific piece of information. The *edge
case* of retrieving an entire document, is you're trying to (as a
professional) discover relevance, context, or intent where such may
not be clearly encoded (e.g. legalese or research). This use case
exists because there professionals (rightfully) don't trust computers
algorithms to adequately understand their needs and goals (which is
necessarily true so long as computers don't have complete access to
our minds).</p>

<p>Even in this edge case, it doesn't change the the reality -- we
only want a document because computers are not good enough to do our
work for us. What if they were? How would the world wide web look?
This is the question I believe we should be asking and where
initiatives (with their emphasis on specific niches and domains) have
a huge opportunity to disrupt and change the landscape of the web.</p>

<p>I have my own
ideas, <a href="https://michaelkarpeles.com/essays/universal-knowledge/www2">https://michaelkarpeles.com/essays/universal-knowledge/www2</a>.</p>

<p>* Google is doing a great job pushing their knowledge graph
forward (which I hear will be released in the next few months as an
API) and for the past few years has 0 click results via Google
Now.</p>



