<pre>
**** Epistemology: Types of Questions
What formal research (mathematics) is being done towards enumerating
all types of questions into axiomatic classes? Who researches
epistemology whom I can speak with?

Who, what, when, where, why, and how are fine top-level axioms
(emergent from language) but it's unclear whether they are
exhaustive. More importantly, by themselves / absent of context, they
only communicate (or constitute) part of a question. It does make me
curious, from a philology perspective, whether there are languages
which present additional directives for phrasing questions.

I am more interested (than these directives) in a formal computer
system being capable of composing (read: asking) any question a human
can, and constructing questions we haven't thought to ask yet. I don't
think an "exhaustive" framework is achievable, but I do think we can
approach it within the context of different dimensions. That is to
say, I assume as we create more advanced frameworks for asking
questions, we'll be able to ask higher dimensional questions (just
like, in the context of math, a full understanding of a point in 1D
allows us to speculate about lines in 2D and, inductively, that of
planes in 3D, and so on).

I believe there is a limit (namely time; lifespan, human race, and
rate of biological evolution) to what a person can think and
conceptualize. Computers have the potential to help us frame and ask
questions we can't conceptualize or reason (there's a limit to what we
can experience, in terms of biological sensors, signal processing &
computational power, and dimensionality reduction). I believe this is
the only practical, sustainable solution to the future of research and
towards our understanding of topics like quantum mechanics (which
increase in complexity and often experiment cost and diminish in
returns). Here's an incredibly corny video which anecdotally
demonstrates the limits of our understanding :
https://www.youtube.com/watch…

Example Axioms:
- How do we classify x (classification is a top-level axiom, perhaps?)
-- What are the properties of x
-- What is the functional relationship between x and y
--- How does x behave
---- Why does x exhibit y
---- What does x ___ like? (where ___ is a sense)
--- What depends on x / does x depend on (DAG)
--- What happens when one applies, maps, reduces y / x
-- What is the probability of x (given a ... y, z)
-- What is measurably similar to x (and how/what do we measure)

Many of these questions have native encodings / abstractions within
programming languages -- compareTo, map/apply/reduce. Maybe I am
applying too many preconceived CS biases.

1) Leslie Wilson suggests[1] the general categories:
- factual
- convergent
- divergent
- evaluative
- combinatorial

2) 6 Types of Socratic Questions:
These are more universal axis/dimensions of problem solving than
"questions" -- and maybe this is a more fruitful approach. I've taken
some liberties in summarizing them.
1. clarification, disambiguation, relevance
2. test assumptions
3. test evidence/reasoning
4. viewpoints and perspectives (contexts)
5. hypothesis / implications / applications & consequences
6. meta-questions (semantics, relations) -- seems similar to 1

3) Bloom's Taxonomy:
1. knowledge
2. comprehension
3. application
4. analysis
5. synthesis

[1] http://thesecondprinciple.com/t…/five-basic-types-questions/
[2] http://www.umich.edu/~eleme…/probsolv/strategy/cthinking.htm
[3] https://en.wikipedia.org/wiki/Question
</pre>
