<li class="essays-software sec2">
  <h3><a name="essays-software">Software</a></h3>
  <ol>
    <li>
      <a href="/essays/software/front-end-bible-2019">Front-end Bible 2019 (2019-07-04)</a>
    </li>
    <li>
      <a href="/essays/software/becoming-a-programmer">Guide: On Becoming a Programmer (2019-06-20)</a>
    </li>
    <li><a href="/essays/software/what-the-browser-is-missing">What the Browser is Missing</a></li>
    <li><a href="/essays/software/screen-v-tmux">Screen v. Tmux</a></li>
    <li><a href="/essays/software/universal-todo-list">Towards a Universal Todo List</a></li>
    <li>
      <a href="/essays/qs/too-many-tabs">Too Many Browser Tabs [SOLVED]</a>
    </li>
    <li>
      <a href="/essays/qs/automate-away-repetitive-web-tasks">Automate Away Repetitive Web Tasks</a>
    </li>
  </ol>
</li>
