<pre>
I have a light black nylon jacket with two snap-button breast pockets
and an inner pocket. My left breast pocket has my phone, my inner
pocket has my wallet, a single leaf of paper, and a tissue, my right
pocket has my keys (which includes a small utility knife, a fire
striker, and a pen).

I usually also bring my backpack with me, which has a reflective
biker's strap and contains a pencil sharpener filled with tinder, 3L
of water (I bike a lot so it is practical for me), chlorine dioxide
tablets (to purify water in case of emergency), various charger cables
and a usb lithium-ion battery (2 phone charges), a lock picking set, a
spare wallet + phone + passport + keys + glasses in case I am robbed,
a toothbrush, toothpaste, and deodorant, some rope, a small hand bike
pump, a few pens, 筷子, first-aid kit, a poncho, and my laptop +
common book. (EDIT: also a small shampoo + conditioner and instant
coffee packet from some hotel)

All I'll say is, it's amazing how many times the usb battery, water,
spare wallet, glasses, deodorant, toothbrush, pocket knife, and 筷子
come in handy. When I travel, I know I only *need* this bag, so it
generally only takes me 10 minutes to pack for a trip (if I am taking
a plane, I remove the water and chlorine dioxide tablets to avoid
unecessary security checkpoint frustration).

If I run into a situation where I am angry at myself for not having
something, I generally add it to the bag (regression testing).

I also have a "BART" (think the boston T for transit) card in the back
of my phone. Occasionally I take a spare debit card and the single key
I will need with me by putting them in my phone case. That's another
potential solution.

This is what works for me.
</pre>
