<li class="quantified sec">
  <a name="qs"><h2>Quantified Self</h2></a>
  <p>Acting on principles.</p>
  <ol>
    <li>
      <a href="mission">Mission Statement</a>
    </li>
    <li>
      <a href="http://bit.ly/1FEzKlH">Objective Key Results (OKR) Tracker</a>
    </li>
    <li>
      <a href="https://trello.com/b/X7t8WL2d/mekarpeles">Daily Goals</a>
    </li>
    <li>
      <a href="https://www.google.com/calendar/embed?src=michael.karpeles%40gmail.com&ctz=America/Los_Angeles">Schedule</a>
    </li>
    <li>
      <a href="https://docs.google.com/spreadsheets/d/1k-zl-Ya4OAU7Lp8DsPGy7mSJVCeXSPqK673Wiq8ndt8/edit#gid=48357432">Readlog</a>
    </li>
    <li>
      <a href="https://github.com/mekarpeles/commonbook/blob/master/common.org">Commonbook</a>
    </li>
    <li>
      <a href="/qs/gear">My Possessions + Gear</a>
    </li>
  </ol>
</li>
