<li class="contact sec">
  <h2 name="contact" id="contact">Contact</h2>
  <ol>
    <li>email <a href="mailto:hi@mek.fyi">hi@mek.fyi</a></li>
    <li>github: <a href="https://github.com/mekarpeles">https://github.com/mekarpeles</a></li>
    <li>facebook: <a href="https://www.facebook.com/michael.karpeles">https://www.facebook.com/michael.karpeles</a></li>
    <li>twitter: <a href="https://twitter.com/mekarpeles">@mekarpeles</a></li>
    <li>linkedin: <a href="https://linkedin.com/in/mekarpeles">linkedin.com/in/mekarpeles</a></li>
  </ol>
</li>
