
<h1>Active Projects</h1>

<p><mark>If you're interested in contributing, please email me @ <a href="mailto:mekarpeles+projects@gmail.com">mekarpeles+projects@gmail.com</a></mark>.
</p>

<p><mark>
If you're considering making a monetary contribution to support one of these projects, see how we'd put your <a href="/funding">funding</a> to use.</mark></p>

<p>Use the links below to learn more about how you can plugin and help. To learn more about this page, see my <a href="https://michaelkarpeles.com/curations/life-lessons#sec-4.5">Rules for Projects</a>.</p>

<hr/>

<h2>OpenLibrary.org</h2>
<p>Openlibrary.org is a digital library and an aspirational wiki-powered universal book catalog. </p>
<table class="metadata">
  <tr>
    <th>Github (Website)</th>
    <td><a href="github.com/internetarchive/openlibrary">github.com/internetarchive/openlibrary</a></td>
  </tr>
  <tr>
    <th>Github (Client)</th>
    <td><a href="github.com/internetarchive/openlibrary-client">github.com/internetarchive/openlibrary-client</a></td>
  </tr>
  <tr>
    <th>Website</th>
    <td><a href="https://openlibrary.org">github.com/internetarchive/openlibrary</a></td>
  </tr>
  <tr>
    <th>API</th>
    <td><a href="https://openlibrary.org/developers/api">https://openlibrary.org/developers/api</a></td>
  </tr>
  <tr>
    <th>Community</th>
    <td><a href="https://internetarchive.slack.com/messages/C0ETZV72L/">Internet Archive #openlibrary-g slack</a></td>
  </tr>
  <tr>
    <th>Executive Summary</th>
    <td><a href="https://en.wikipedia.org/wiki/Open_Library">https://en.wikipedia.org/wiki/Open_Library</a></td>
  </tr>
  <tr>
    <th>Majordomo</th>
    <td><a href="https://github.com/hornc"><cite w2gid="1180">Charles Horn</cite></td>
  </tr>
</table>
<ol>
  <li><s><a href="https://github.com/internetarchive/openlibrary/issues/976">Revamp Full-Text-Search (FTS) page for openlibrary.org</a></s> <a href="http://blog.openlibrary.org/2018/07/14/search-full-text-within-4m-books/">DONE!</a></li>
  <li><s><a href="https://github.com/internetarchive/openlibrary-client/issues/65">Python code to add book to Open Library by ISBN</a></s> <a href="https://github.com/internetarchive/openlibrary-bots/pull/20">DONE!</a></li>
  <li><a href="https://github.com/internetarchive/openlibrary/issues/688">Write a bot (add modern books to Open Library)</a></li>
  <li><a href="#">TOC Search engine</a></li>
  <li><a href="#">Make sure everything in IA printdisabled is in OL</a></li>
</ol>

<hr/>

<h2>Skillsera.org</h2>
<p>Skillsera is a community-powered encyclopedia which teaches educational concepts by connecting bite-sized youtube video explanations.</p>
<table class="metadata">
  <tr>
    <th>Github (Client)</th>
    <td><a href="https://github.com/Skillsera/api.skillsera.org">https://github.com/Skillsera/api.skillsera.org</a></td>
  </tr>
  <tr>
    <th>Github (API)</th>
    <td><a href="https://github.com/Skillsera/skillsera">https://github.com/Skillsera/skillsera</a></td>
  </tr>
  <tr>
    <th>Executive Summary</th>
    <td style="background-color: red;"><a href="https://docs.google.com/document/d/18ClqagBxqYIjePwx0w4nnmaYYl1SQ-uVovUr6TnTWEg/edit">https://docs.google.com/document/d/18ClqagBxqYIjePwx0w4nnmaYYl1SQ-uVovUr6TnTWEg/edit</a></td>
  </tr>
  <tr>
    <th>Majordomo</th>
    <td><a href=""><cite w2gid="9">Drew Winget</cite></td>
  </tr>
</table>
<ol>
  <li><a href="https://github.com/Skillsera/skillsera.org/issues/3">Dockerizing Skillsera so anyone can work on it</a></li>
</ol>


<hr/>

<h2>Fromscrat.ch</h2>
<table class="metadata">
  <tr>
    <th>Github</th>
    <td><a href="github.com/mekarpeles/fromscrat.ch">https://github.com/mekarpeles/fromscrat.ch</a></td>
  </tr>
  <tr>
    <th>Majordomo</th>
    <td><a href="github.com/mekarpeles"><cite w2gid="7">Michael E. Karpeles (Mek)</cite></td>
  </tr>
  <tr>
    <th>Website</th>
    <td><a href="https://fromscrat.ch">https://fromscrat.ch</a></td>
  </tr>
  <tr>
    <th>Executive Summary</th>
    <td><a href="https://michaelkarpeles.com/curations/the-foundation#sec-1">https://michaelkarpeles.com/curations/the-foundation#sec-1</a></td>
  </tr>
</table>

<ol>
  <li><a href="https://github.com/mekarpeles/fromscrat.ch/issues/1">Port fromscrat.ch from http://mek.fyi/curations/the-foundation to github</a></li>
  <li><a href="https://github.com/mekarpeles/fromscrat.ch/issues/2">Convert fromscrat.ch to use https://recursive.recipes framework</a></li>
  <li>Write essay with me about the goals of fromscrat.ch</a></li>
</ol>

<hr/>

<h2>ArchiveLab.org</h2>

<h3>IIIF Service</h3>
<table class="metadata">
  <tr>
    <th>Github</th>
    <td><a href="github.com/archivelabs/iiif.archivelab.org">github.com/archivelabs/iiif.archivelab.org</a></td>
  </tr>
  <tr>
    <th>Website</th>
    <td><a href="https://iiif.archivelab.org">https://iiif.archivelab.org</a></td>
  </tr>
  <tr>
    <th>Documentation</th>
    <td><a href="http://iiif.archivelab.org/iiif/documentation">http://iiif.archivelab.org/iiif/documentation</a></td>
  </tr>
  <tr>
    <th>Majordomo</th>
    <td><a href=""><cite w2gid="9">Drew Winget</cite></td>
  </tr>
</table>

<h3>Audiobook Reader</h3>
<table class="metadata">
  <tr>
    <th>Github</th>
    <td><a href="https://github.com/ArchiveLabs/audiobooks">https://github.com/ArchiveLabs/audiobooks</a></td>
  </tr>
  <tr>
    <th>Majordomo(s)</th>
    <td>Mark Carranza, Richard Caceres</td>
  </tr>
</table>


<ol>
  <li><a href="https://github.com/ArchiveLabs/audiobooks/issues/2">Get Audiobook Reader to Borrowable Books (via IA s3 key auth)</a></li>
</ol>
<h3>Pragma.archivelab.org</h3>
<a href="https://github.com/ArchiveLabs/pragma.archivelab.org/issues/5">Extend PRAGMA playback to support javascript selections</a>

<hr/>

<h2>Graph.global</h2>
<table class="metadata">
  <tr>
    <th>Github (Client)</th>
    <td><a href="https://github.com/w2g/graph.global">https://github.com/w2g/graph.global</a></td>
  </tr>
  <tr>
    <th>Github (API)</th>
    <td><a href="https://github.com/w2g/w2g">https://github.com/w2g/w2g</a></td>
  </tr>
  <tr>
    <th>Website</th>
    <td><a href="https://graph.global">https://graph.global</a></td>
  </tr>
  <tr>
    <th>API</th>
    <td><a href="https://graph.global/v1">https://graph.global/v1</a></td>
  </tr>
  <tr>
    <th>Community</th>
    <td><a href="https://internetarchive.slack.com/messages/C0ETZV72L/">Internet Archive Slack</a></td>
  </tr>
  <tr>
    <th>Executive Summary</th>
    <td><a href="https://github.com/w2g/w2g/blob/master/README.md">https://github.com/w2g/w2g/blob/master/README.md</a></td>
  </tr>
  <tr>
    <th>Majordomo</th>
    <td><a href=""><cite w2gid="7">Michael E. Karpeles (Mek)</cite></td>
  </tr>
</table>
<ol>
  <li><a href="https://github.com/w2g/w2g/issues/3">Make interface usable on mobile</a></li>
  <li><a href="https://github.com/w2g/w2g/issues/4">Docker provisioning: Make Setup/Installation Painless</a></li>
  <li><a href="https://github.com/w2g/w2g/issues/5">JS Client Library for w2g</a></li>
  <li><a href="https://github.com/w2g/w2g/issues/6">Killer Note-taking App Demo</a></li>
  <li><a href="https://github.com/w2g/w2g/issues/6">Add Auth + Sessions</a></li>
  <li><a href="https://github.com/w2g/w2g/issues/7">Add support for users (auth, sessions, users table)</a></li>
</ol>

<hr/>

<h2>Todo.rip</h2>
<table class="metadata">
  <tr>
    <th>Github (Client)</th>
    <td><a href="https://github.com/mekarpeles/todo.rip">https://github.com/mekarpeles/todo.rip</a></td>
  </tr>
  <tr>
    <th>Github (API)</th>
    <td><a href="https://github.com/mekarpeles/api.todo.rip">https://github.com/mekarpeles/api.todo.rip</a></td>
  </tr>
  <tr>
    <th>Website</th>
    <td><a href="https://todo.rip">https://todo.rip</a></td>
  </tr>
  <tr>
    <th>API</th>
    <td><a href="https://api.todo.rip">https://api.todo.rip</a></td>
  </tr>
  <tr>
    <th>Majordomo</th>
    <td><a href="https://github.com/mekarpeles"><cite w2gid="7">Michael E. Karpeles (Mek)</cite></td>
  </tr>
</table>
<ol>
  <li><a href="https://github.com/mekarpeles/todo.rip/issues/1">Connect todo.rip with w2g (graph.global)</a></li>
</ol>

<hr/>

<h2><a href="http://openjournal.foundation">Openjournal.foundation</a></h2>
<p>Universalizing access to open academic publications, together</p>
<table class="metadata">
  <tr>
    <th>Github</th>
    <td><a href="https://github.com/OpenJournal/central">https://github.com/OpenJournal/central</a></td>
  </tr>
  <tr>
    <th>Website</th>
    <td><a href="http://openjournal.foundation">http://openjournal.foundation</a></td>
  </tr>
  <tr>
    <th>Community</th>
    <td><a href="https://archivelab.slack.com/messages/C0ELB30KB/">Archive Labs #scholar slack</a> (75 people)</td>
  </tr>
  <tr>
    <th>Majordomo(s)</th>
    <td><cite w2gid="512">Naomi Most</cite> &amp; <cite w2gid="1170">Bryan Newbold</cite></td>
  </tr>
</table>
<ol>
  <li><a href="#">Presentable website</a></li>
</ol>

<hr/>
