<ul>
  <li><a href="http://paperscape.org/">A map of 1,106,352 scientific papers from the arXiv</a></li>
  <li><a href="http://sourceoftruth.net">A novel system for navigating academic papers</a></li>
  <li><a href="http://spiral.rosslearningsystem.org/spiral/#/le/1738">A visually navigatable curriculum</a></li>  
  <li><a href="http://moebio.com/research/knowledgeDatabase/">Santiago Ortiz's personal knowledge graph</a></li>
  <li><a href="http://scaleofuniverse.com/">Scale of the Universe</a></li>
  <li><a href="http://yasiv.com">Amazon graph book search</a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <!-- <li><a href=""></a></li> -->
  <!-- <li><a href=""></a></li> -->
  <!-- <li><a href=""></a></li> -->

</ul>
