<a name="cooking"></a>
<h2>Food &amp; Cooking</h2>

<h3>Pizza</h3>
<p>I've made more than 250 pizzas</p>
<img style="width: 300px" src="/static/food/97621219_10104184605733430_6713892366006091776_n.jpg">
<img style="width: 300px" src="/static/food/118170978_10104295560613960_3847649404229676338_n.jpg">
<img style="width: 300px" src="/static/food/230843678_10104603607824880_8286292008437020374_n.jpg">
<img style="width: 300px" src="/static/food/29871633_10103375283761150_594670563533459865_o.jpg">
<img style="width: 300px" src="/static/food/17359051_10102907912696510_4923365447081585937_o.jpg">
<img style="width: 300px" src="/static/food/20901437_10103128923214660_5211732385444273977_o.jpg">
<img style="width: 300px" src="https://lh3.googleusercontent.com/pw/AM-JKLW6Hx1te9j0-JHba58VdbZ2epLJW6G5KL1nIqpHzPqo27oLpwvKXJFt_pFQatr6-bZGz2g7IpatCEr6ka9wiUL0nU4lGmQ-wA1iauzd5gPgvnRIdBEEQFO0dhJSUpL0hsHtTQi5TQx3AMgBxEqUMcEUlQ=w1034-h775-no?authuser=0">
<img style="height: 300px" src="https://lh3.googleusercontent.com/pw/AM-JKLUzwnkmpzM23OivwP7vfLbY_x_c20CwiUyuUJW87yOC6C5Rc-jUl9P9Q8yQ5KxUz-UkuNuDTwRZB-Y3zzXk75U0ce9fsYiMr0B1AKqkSsX-RPUtvNaMq3tNgJKeMkcnze2aX25cOPUfRj-eAZQFQFBpTQ=w1034-h775-no?authuser=0">
<img style="height: 300px" src="https://lh3.googleusercontent.com/pw/AM-JKLXYjLSVQCDyW60G3JhjjmCzuZKFxcmJLonbqfOpPKDffZBadYsdP8Gmz8sE9AmJKf5B7DFfGAz17qWpe5gnop0JJr6KZTym7HDNSsHAWw_6cXS1R8I9EHqvuZn47llMYCWC0nU6OLST8pqGsY74pNpMXw=w1034-h775-no?authuser=0">
<img style="height: 300px" src="https://lh3.googleusercontent.com/pw/AM-JKLXoTHlmycNXUw5uQnDl3fFkjEdjE6DtXB3LMw0erKxlxI9ujb8YS0o98hro4zo3E_JPFTRRxwq3103OBQDGZ_b9ecyTycrWiOC8mdLR92eMmXicSrmb5_Zw_1OYo3EbsUDcHEx2HY0BzY8YgS54g66qtg=w1034-h775-no?authuser=0">
<h3>Rice bowls</h3>
<img style="width: 300px" src="/static/food/26758670_10103299506559270_1386348842695082941_o.jpg">
<img style="width: 300px" src="/static/food/20690342_10103119738221460_2175467090900685908_o.jpg">
<img style="height: 300px" src="/static/food/21950860_10103175066767610_1784303370063316106_o.jpg">
<img style="height: 300px" src="/static/food/46505906_10103587203547200_6549351722219732992_n.jpg">

<h3>Breakfast &amp; Dessert</h3>
<img style="height: 300px" src="/static/food/15875117_10102805655964820_4715131797166549732_o.jpg">

<img style="height: 300px" src="/static/food/231167000_10104603608244040_6415425070623773513_n.jpg">

<img style="height: 300px" src="/static/food/49895339_10103628836664100_8157727609187205120_n.jpg">

<img style="height: 300px" src="/static/food/26024039_10103274103631940_2041838540386299399_o.jpg">

<img style="height: 300px" src="/static/food/12938222_10102491212966110_2514648759922140728_n.jpg">

<img style="height: 300px" src="/static/food/106368228_10104246633524240_1233167359151935126_n.jpg">

<img style="height: 300px" src="/static/food/40361848_10103512754029630_9021929858694905856_n.jpg">

<img style="height: 300px" src="/static/food/116131769_10104273419275380_2790823070682864818_n.jpg">

<img style="height: 300px" src="https://lh3.googleusercontent.com/pw/AM-JKLUUb7JjuiDkvrawEvbLwN4zwGKXuZSwg8oT25Zx3suVix26RRlqLOeWBNekXeddke91y_yQw0urDCUjzeD8sNv0iG5ffvkrkKCiX5q2rXB38am77Jctk1u6psJq4sXQJ4ov3n5AGLVhNu51JfMAdqkg-w=w1034-h775-no?authuser=0">

<img style="height: 300px" src="https://lh3.googleusercontent.com/pw/AM-JKLVChIMGbM2X8Yfu7xx6Qw_OgBDR7f_knBEdD0kt7RNSHaQNSTASRGZmc8JSTTxFacpeoelDR0nLQ7Mzg3RV8JV244yTIwz7s5lCWR3ApUk_uxUpdZYbGDenvgtNzWMCEmv9NqUkXJPZfFgNwT02ZJSkmg=w582-h775-no?authuser=0">

<img style="height: 300px" src="https://lh3.googleusercontent.com/pw/AM-JKLUImpkHVTpYu0uROSPVW2uoRPVaOAFQqKsHc0Ki_oSsyD8dzGQIdNwGOVgOJK36cLraiVQm6WkZMMcwMR0L46-hgLvJs31wHCQ4AwfJl7ynC4lXd0P0-r6zpW-J90IWprR9xQSaUbt5kPw_CShs0uRktg=w1034-h775-no?authuser=0">

<img style="height: 300px" src="https://lh3.googleusercontent.com/pw/AM-JKLUUBi85R4EWT4mDlGTJxwjOdpCiogs0qK9WFsjFWWQrGEUWP_kjPehlIrCcQZb1z5_d64AjB1LWHJrTZ9WVkgXO6PeXTTXmPwi4VHtA7-QXt9eWpVc8nVxjb8KFp-e2ISHAVVFEgGfhRObkWJmNGSVYOA=w1034-h775-no?authuser=0">

<img style="height: 300px" src="https://lh3.googleusercontent.com/pw/AM-JKLWGyPJZyhIwSTKL7LTMzpTf6di8P32n4zhbbhg_0CW8Sq2XBDxenk9cHNTejIRuizblMP0AzBLyfFkThUVNP9gZqS0L749bi8u0C5ULGGjGauoIWOFovj_zcn2ykhsZ87NiZZOmGFxNG5vB7dZx_2x5Qg=w1034-h775-no?authuser=0">

<img style="height: 300px" src="https://lh3.googleusercontent.com/pw/AM-JKLXpn5akCAIT1z6SPxVTfnnXrE9P87rPqr1-7btq5Umqkkna4K6K9EiraqU8L-FCuuGZyPZ59nba1_2XFWgInlu7hfYUp0fVyhFdAZP4oEEff9iQSdwiDC2OzjfC_ReAP0nGa11CY7FsnPEcZxT2IUBlzQ=w582-h775-no?authuser=0">

<h3>Pasta</h3>

<p>Making spicy hand-pulled noodles in 15 minutes</p>
<iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fmichael.karpeles%2Fvideos%2F10104233781110580%2F&show_text=false&width=267&t=20" width="267" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

<img style="height: 300px" src="/static/food/98200388_10104192350168520_2702491292062973952_n.jpg">

<img style="height: 300px" src="/static/food/100874433_10104191741238820_6618199790276575232_n.jpg">

<img style="height: 300px" src="/static/food/12003167_10102332836274270_3228047477079639290_n.jpg">

<img style="height: 300px" src="/static/food/12004822_10102332836329160_4602682900502095963_n.jpg">

<h3>Other</h3>
<img style="height: 300px" src="https://lh3.googleusercontent.com/XEIxZiBeOfo5QAtrxQqHEO2Dc7-uhu0QCDsIjWGfq5v4y3Kx9VjutMVwuK4fI5KpW8lYISTyECuxMpRFSo2TN6PJnA0ATjJN7XtcKtrAOsmyeFIUxoJzpaD0lL2D0f_ioz2E1rIeLZbPAtvbKQKMbHTEg9qNSjnpJJKvdBmuDWCY1ut2hKQQ2TXcwQYhLUmc_OjIixxb-o2MxxpOWDocdFO8s3cWOlg7iJKDRFKSBCYJZ6vhMN08tLprOZhcWQgWMLum3y4ib6XWfh9JYQdkR2pWUaWpMkBsz3zN7XYi_cm55BFDncufK3CIfanhZGj4MOOmERmXVPmOJ5I5fgJLUs4WGowk8oaX0lO31J-uhuP0L6Pj5Nv7l6dh2T8_SMpBmiKUcR-diIizTEybDVtXZxyU6j_pqf2oMayUV0NZc4QRnDGf4cGxXVgY1xlYMpbgsDCAo2oWynG2wH435n120fzXc4pxGCUXmiOTAAlMPF5Ti6Wgs8kFAbURc21F5QPsLV6wsoJs4rJzkbaFUPF1Oo7bAKNnJvtnNgtpigQ8udqX266FnGr1hvKoX1M-wbxkPZCUiLHv5wqONyCJvOXIaC5xcekzAyaYu_bKf0BBWRgqbZgzHN1k5F2oU7E_3dQGxh2t-eEkybmqdTNP9y17Gi7lXc9YgJPq-2FXqfPxMwxCXMZNYX1m3UqohOEoRQ-cjTBpb1QcqPYOXhMwQNXmO6U=w582-h775-no?authuser=0">

<img style="height: 300px" src="https://lh3.googleusercontent.com/1M6DOu6rcGoCNy_CwkNlzKgbD-O3g2rWoP_LycrI9peq9Nc9n77T8f19Z4qGjfqHhhFk6ME82dPRypYTSihtwSr7EUoSNwkVb1YxMc5qvxz3xXOBQS5keDjIqa9xR1D680wQ_etmV6Uq__mEdPj3FuQQk1T1xla5E4jb7D4SeFPuWftgdwjHXvay5g4h_cPsiexzOSJjEUph--vx_6A09XXRNXnLOPZCiQgX87PCjX94sivieknPczL_-S1EEGjQ6DgLDv0AHgF3IFQfweN5obAD31wsAbs9vlqJeL3gOP-VBjBSA8Ah7WLdhJoI9wD62-EBMoGbq4ft16CyBt6GXTJziuPIgMqJiyaNV8wtE2Vld1b7DsNPPDczMqc6czomX0ZFAPFRJRudqK_GQHTkYDemaC_c-1SoizVmXHXbxfVCxObQnaECLxocnZ76-rC04Q3l1TQeEJrcPFgqiA-PZ7VA-1dc-zEjdaGlcnMwkp_srmkqXQw8IV_8JGIWjhjVuuz4BQi_Po3Gi0XbR_lMK3o6OyTvOwI9s2gMv9ojgR4pNSp49jeLUqSKJV8xKEgpZ7YMl2J0xQ_SKw1MJHktrWL7yH4RYK3sghIcRCiYE94SAlCex4oI13ij7kJMioOBClhw-p2mZDMDoFMHKKLreK0MQ-Hkghtd8L9xfcbp8WFY5mwu27v-9mPmkZNHLxkch0PIhVxcvrRXsyxautVfO7w=w582-h775-no?authuser=0">

<img style="height: 300px" src="/static/food/11102901_10102184539417360_697960800420505699_n.jpg">

<img style="height: 300px" src="/static/food/81618192_10103996258203390_3543151356942483456_n.jpg">

<img style="height: 300px" src="/static/food/27913070_10103328296074850_921008184190382834_o.jpg">

<img style="height: 300px" src="/static/food/12193866_10102372547253150_1108613524509143945_n.jpg">

<iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fmichael.karpeles%2Fvideos%2F10102808306977170%2F&show_text=false&width=267&t=0" width="267" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

<img style="height: 300px" src="/static/food/14021556_10102625408671840_5925133133924988939_n.jpg">

<img style="height: 300px" src="/static/food/16423193_10102845254633770_4520295099425621160_o.jpg">

<img style="height: 300px" src="https://lh3.googleusercontent.com/s9tim25t6HtzAcrHFHn1jFxUwVB6C3fYY_W8D8EMiblfu9xh7kDatF9LOqyXZh6--eNht82cKIynENYRTr3pR5PhXMl3ylGds9ppX5gK3gH3F-RgN1G8QXkGLcfN5nSpHoU1m7IclvvExLf_SrYH-Tf_5612hmVH7s4NrlAMWx0CHw-w1px82dPKvyav2-A8lbEp2B7JBChFGmLbnoQjIr2Cd4KDzK0VG3Tug6vGIICm92eiuUeLiBGPyIK9D9XulghedAlWmz6TB-QqrBWy_R3UjpzxklUAHqZxqQ05ndlnURxyG4DYc4uDjtDoELJQL23XAXLvLNTW9ZdGuCKMZvqmopy0nNRsTzydBMKh_6X_TQDj7UOCyGsGlvX-Ntt791wh66LDfeBSSI1WUlAxxsPlgiSlpKRL85F2eufAxh1TVSTCS8lFONlKZQDjHxXqOvww4-YqZL-GXog0SDE9yza0kOqVCGUCOD7XU9H9bHcDTrKS5vOMIE6wKjXfl9hhQN_OiLuB7uq4g33MSofotpOfD8hlfNsvl78mX0Ic8jvf8EC2d6rA1L575I6xVqHPrNwqEMDModIYMBwFclCWnJ-8BzP8xII2KaOjEHos-lSH3VFDj5lPilyMYkhjddTrkk1BUSTJC1hGSkSRDkZqyrQLT5HPHPXEk9xrSFkUA17RzFYen3SC72GJnOUdNO5avRQt3zOpf3zDgAOeX8nZIOk=w1378-h775-no?authuser=0">

<img style="height: 300px" src="https://lh3.googleusercontent.com/pw/AM-JKLUKbJ1MpCzm73vIfqiYpvPYb7-gMAdge23k8otxrXMTOOa_ju7UH72XWj8K2VSD0lRV-LceUbfjZW5xT_9V-RILUNuwBwLT08jN3HUg2Sd8Bg58y_KCRF2hfGNBtSAdypmgweLprFVFKajvZFx8vLm5ZQ=w582-h775-no?authuser=0">

<img style="height: 300px" src="/static/food/28164851_10103330386540540_7420197979500503672_o.jpg">
