<h1>Friends</h1>

<h2>Chosen Extended Family</h2>
<ul>
  <h3>Boston</h3>
  <li><a href="https://medium.com/@kltung2013">Krystal Tung</a></li>
  <h3>Serapeum</h3>
  <li><a href="https://helloarielliu.com/">Ariel Liu</a></li>
  <li><a href="https://www.linkedin.com/in/andrew-winget-93a43710">Drew Winget</a></li>
  <li><a href="https://sahar.io/568/then/">Sahar Massachi</a></li>
  <li><a href="https://github.com/diamondman">Jessy Diamond Exum</a></li>
  <h3>Climbing Coach</h3>
  <li><a href="https://www.instagram.com/austinlee1989/?hl=en">Austin Lee</a></li>
  <h3>Childhood friends</h3>
  <li><a href="https://www.linkedin.com/in/nicholas-frugale-292ba214/">Nick Frugale</a></li>
  <li><a href="https://www.linkedin.com/in/evan-platt-8029508a">Evan Platt</a></li>
  <li><a href="https://www.facebook.com/ian.krasnow">Ian Krasnow</a></li>
  <li><a href="https://www.linkedin.com/in/jeremy-beck-40731961/">Jeremy Beck</a></li>
  <li><a href="https://www.linkedin.com/in/michaellostritto1/">Michael Lostritto</a></li>
  <li><a href="https://www.facebook.com/dave.touger">Dave Touger</a></li>
  <li><a href="https://www.facebook.com/y.k.12345654">Yosra Kelly</a></li>
</ul>

<h2>My Board</h2>
<ul>
  <li><a href="https://bnewbold.net/">Bryan Newbold</a></li>
  <li><a href="https://sig-gis.com/sig-people/dr-gary-johnson/">Dr. Gary Johnson</a></li>
  <li><a href="https://stephenbalaban.com/">Stephen Balaban</a></li>
  <li><a href="https://www.youtube.com/watch?v=ars2Qtg5yWA">Galen Mancino</a></li>
  <li><a href="https://benjaminreinhardt.com/about/">Ben Reinhardt</a></li>
  <li><a href="https://www.linkedin.com/in/adamreis/">Adam Reis</a></li>
  <li><a href="https://www.celerityconsulting.com/team">Brad Rubenstein</a></li>
  <li><a href="https://www.linkedin.com/in/akhilaryan">Akil Aryan</a></li>
  <li><a href="https://blog.autogrow.com/hackathon-to-grow-crops-on-mars-sees-duckweed-take-prize-for-best-solution">Wyatt Smith</a></li>
  <li><a href="https://janpaulposma.nl/">Jan Paul Posma</a></li>
  <li><a href="https://akkartik.name/">Kartik Agaram</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Open_Insulin_Project">Anthony Di Franco</a></li>
  <li><a href="https://github.com/jjuran">Josh Juran</a></li>
</ul>

<h2>My Crew</h2>
<ul>
  <li><a href="https://rebecca.li/about/">Rebecca Li</a></li>
  <li><a href="https://github.com/panditanvita">Anvita Pandit</a></li>
  <li><a href="https://www.linkedin.com/in/abekatz/">Abe Katz</a></li>
  <li id="meng"><a href="https://www.facebook.com/meng.zhao">Meng Zhao</a></li>
  <li id="carrots"><a href="https://www.kerrickstaley.com/">Kerrick Staley</a></li>
  <li><a href="https://georgeberry.github.io/">George Berry</a></li>
  <li><a href="https://www.linkedin.com/in/daisychu/">Daisy Chu</a></li>
  <li><a href="https://www.linkedin.com/in/max-pollock-b7016a80/">Max Pollock</a></li>
  <li><a href="https://www.linkedin.com/in/dkhalaf/">Dan Khalaf</a></li>
  <li><a href="https://www.facebook.com/yuhungNeil">周昱宏</a></li>
  <li><a href="https://berniceyu.com/">Bernice Yu</a></li>
  <li><a href="https://www.linkedin.com/in/mishaberger/">Misha Berger</a></li>
  <li><a href="https://github.com/aryasabeti">Arya Sabeti</a></li>
  <li><a href="https://joshuameiser.com/">Joshua Meiser</a></li>
  <li><a href="https://www.facebook.com/watch/live/?ref=watch_permalink&v=10154069674034219">Emmanuel Eng</a></li>
  <li><a href="https://www.linkedin.com/in/iwsfutcmd/">Ben Yang</a></li>
  <li><a href="https://www.facebook.com/jerSklein">Jeremy Klein</a></li>
  <li><a href="https://www.facebook.com/michael.karpeles/friends">And so many more!</a></li>
</ul>

<h2>My Team</h2>
<ul>
  <li><a href="https://vali.sh/">Andrew Valish</a></li>
  <li><a href="https://github.com/cdrini">Drini Cami</a></li>
  <li><a href="https://github.com/jimchamp">Jim Champ</a></li>
  <li><a href="https://twitter.com/seabelis">Lisa Seaberg</a></li>
  <li><a href="https://www.linkedin.com/in/cclauss/">Chris Clauss</a></li>
  <li><a href="https://www.linkedin.com/in/nolanwindham/">Nolan Windham</a></li>
  <li><a href="https://wikimediafoundation.org/profile/jon-robson/">Jon Robson</a></li>
  <li><a href="https://www.alexisrossi.com/">Alexis Rossi</a></li>
  <li><a href="https://brewster.kahle.org/">Brewster Kahle</a></li>
  <li><a href="https://www.linkedin.com/in/charles-horn-5b99423">Charles Horn</a></li>
  <li><a href="https://www.linkedin.com/in/richard-l-caceres-3ab1099a/">Richard Caceres</a></li>
  <li><a href="https://www.linkedin.com/in/frances-sawyer-a4bb9135/">Frances Sawyer</a></li>
  <li><a href="https://web.archive.org/web/20180830203251/https://offblast.org/">Mischief</a></li>
  <li><a href="https://peterdowns.com/">Peter Downs</a></li>
  <li><a href="https://twitter.com/ozziegooen?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Ozzie Gooen</a></li>
  <li><a href="https://www.linkedin.com/in/ilya-kreymer-55110093">Ilya Kreymer</a></li>
</ul>

<h2>Kindred Spirits, Allies, &amp; Inspirations</h2>
<ul>
  <li><a href="https://www.linkedin.com/in/bess-sadler-5b63364/">Bess Sadler</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Danny_O%27Brien_(journalist)">Danny O'Brien</a> & <a href="https://en.wikipedia.org/wiki/Liz_Henry">Liz Henry</a></li>
  <li><a href="https://www.linkedin.com/in/ultrasaurus/">Sarah Allen</a></li>
  <li><a href="https://cyber.harvard.edu/people/sklein">SJ Klein</a></li>
  <li><a href="https://www.linkedin.com/in/olya-irzak-a130522/">Olya Ozark</a></li>
  <li><a href="https://twitter.com/swartzcr">Noah Swartz</a></li>
  <li><a href="https://jotterbach.github.io/">Johannes Otterbach</a></li>
  <li><a href="https://twitter.com/tayroga">Taylor Rogalski</a></li>
  <li><a href="https://cassandraxia.com/">Cassandra Xia</a></li>
  <li><a href="https://www.linkedin.com/in/ekate">Ekaterina Kuznetsova</a></li>
  <li><a href="https://www.jerrymichalski.com/">Jerry Michalski</a></li>
  <li><a href="https://textfiles.com/">Jason Scott</a></li>
</ul>

<h2>Friends I admire &amp; hope to co-align</h2>
<ul>
  <li><a href="">Conor White-Sullivan</a></li>
  <li><a href="">Juan Benet</a></li>
  <li><a href="">Jeremy Nixon</a></li>
  <li><a href="">Jeremy Rossman</a></li>
  <li><a href="">Anson Whitmer</a></li>
  <li><a href="">Andy Matuschak</a></li>
  <li><a href="">Feross Aboukhadijeh</a></li>
  <li><a href="">Paul Frazee</a></li>
  <li><a href="">Mark P Neyer</a></li>
</ul>
