<h1>Funding</h1>

<p>Looking to fund development of interesting projects? Here's a brief overview of what we can accomplish with various amounts of support.</p>

<pre>
$10k
Either:
a) 1-2 month stipend for a FE developer to work on Skillsera
b) A pilot of an Open Library Bookdrive (allow the community to fund digitization of the books they want) 

$100k
45k - 6 month stipend to work on Skillsera
35k - digitize 500 books (proof of concept SF scanning center)
20k - support charles or drini on contract

$1M
$700k - digitize ~10k books forever
~100k - plead to hire Charles or Drini to work fulltime on Open Library 
~50k - a 6 month stipend to work on Skillsera 
~20k - stipend or contest for a researcher to create a classifier to detect scanned book page types (2 months)
30k - budget for the Open Journal Foundation
25k - 3 month contract to connect graph.global, todo.rip or work on fromscrat.ch 
75k - padding for travel costs, conferences, contractors, incubating Archive Labs projects
</pre>
