<h1>Funding</h1>

<p>Looking to fund development of interesting projects? Here's a brief overview of what we can accomplish with various amounts of support.</p>

<p>Looking for ways to <a href="/contribute">contribute</a> that are not monetary?</p>


<h2>2020 Funding Asks</h2>

<pre>

<h3>$10K</h3>
$5k - summer intern to work on <a href="https://skillsera.org/">skillsera.org</a> (turning educational
explanation videos on youtube into an axiomatic knowledge graph)

$5k - summer intern (front-end) to work on <a href="https://twitter.com/mekarpeles/status/1293630186101997568">booktrails.us</a> (building
a curriculum dependency graph of textbooks)
</ol>

<!--
<h3>$100K</h3>
$10k - Someone to lead front-end efforts on http://booktrails.us 

<h3>$1M</h3>
-

</pre>
-->

<h2>2018 Funding Asks</h2>
<i>The following list is from 2018 (which is over). Followups have been annotated in <span style="color: green">green</span>, <span style="color: orange">orange</span> and <span style="color: red">red</span>:</i>

<pre>
<h3>$10K</h3>
Either:
a) 1-2 month stipend for a FE developer to work on Skillsera
<strike>b) A pilot of an Open Library Bookdrive (allow the community to fund digitization of the books they want)</strike>
   <span style="color: green;">
   Arranged an Internet Archive Summer of Code internship with <a href="https://twitter.com/tabishjshaikh">@tabishjshaikh</a>
   and successfully launched the Open Library <a href="https://boingboing.net/2019/10/22/hathi-never-forgets.html">book sponsorship program</a> in 2019
</span>
  
<h3>$100K</h3>
45k - 6 month stipend to work on Skillsera
<strike>35k - digitize 500 books (proof of concept SF scanning center)</strike> 
   <span style="color: green;">
     The Open Library sponsorship program has resulted in the community
     sustainably funding 328 of these 500 books
   </span>

<strike>20k - support charles or drini on contract</strike>
  <span style="color: green;">
  Both Drini and Charles have since joined the Internet Archive,
  through their own hard work.
  </span>

<h3>$1M</h3>
<strike>$700k - digitize ~10k books forever</strike>
  <span style="color: green;">
    A generous donor contributed ~$50k to digitize ~2k books in 2019.
    Chris Freeland and others at the Internet Archive are doing a
    tremendous job on bits/books-in and I feel good dropping this
    metric from my priorities
  </span>
<strike>~100k - plead to hire Charles or Drini to work fulltime on Open Library </strike>
  <span style="color: green;">
  Both Drini and Charles have since joined the Internet Archive,
  through their own hard work.
  </span>
~50k - a 6 month stipend to work on Skillsera 
<strike>~20k - stipend or contest for a researcher to create a classifier to detect scanned book page types (2 months)</strike>
  <span style="color: green;">
    Nolan Windham is currently volunteering to lead <a href="http://bookgenomeproject.org/">http://bookgenomeproject.org/</a>
  </span>

<strike>30k - budget for the Open Journal Foundation</strike>
  <span style="color: green;">
    Bryan Newbold is currently leading <a href="https://scholar-qa.archive.org/">Internet Archive Scholar</a> which supplants
    many of my goals for OJF
  </span>
25k - 3 month contract to connect graph.global, todo.rip or work on fromscrat.ch 

  <span style="color: orange;">
    I feel less urgency to work on connecting these projects since
    Conor white-Sullivan is making solid, dedicated progress on Roam
    Research (and other competitors (obsidian, et al) are popping up
    in the ecosystem.
  </span>

<strike>75k - padding for travel costs, conferences, contractors, incubating Archive Labs projects</strike>
  <span style="color: red;">
    This was too vague and honestly shouldn't have been funded.
    If I were an investor, I'd want to know who in Archive Labs
    was getting supported and know the predicted ROI.
  </span>
</pre>
