<style>
code {
font-size: 11px;
background: #eee;
font-weight: bold;
padding: 5px;
border-radius: 3px;
}
</style>

<h1>Now</h1>

<h3>New Orleans:</h3>
<ul>
  <li><strong><a href="https://twitter.com/SWBNewOrleans">Drinking Water</a>:</strong> <strong style="color: green">Potable</strong> No boil notice. <code>2021-08-30 12:00pm CDT</code> (the facility has backup generators)</li>
  <li><strong><a href="https://poweroutage.us/area/state/louisiana">Power</a>:</strong> <strong style="color: red">Out</strong> <code>2021-08-30 12:00pm CDT</code> (est. several days)</li>
  <li><strong>Crime:</strong> <a href="https://twitter.com/ykmaj6/status/1432381240540344326">Some looting</a> reported @ House of Beauty in New Orleans East</a></li>
  <li><strong>Transit:</strong>
    <ul>
      <li><a href="https://portnola.com/info/storm-update">Port NOLA:</a> <span style="color: red; font-weight: bold;">Closed</span>. <code>2021-08-30 12:00pm CDT</code></li>
      <li><a href="https://twitter.com/flyneworleans/status/1432342612044812289">New Orleans Airport:</a> <span style="color: red; font-weight: bold;">Closed</span>. <code>2021-08-30 12:00pm CDT</code> <span>#HurricaneIda Update: MSY is currently conducting a thorough damage assessment. We expect all flights to be cancelled today, but recommend that passengers check directly with their airlines for the most accurate flight info. More details to be provided when they become available.</span>
      </li>
    </ul>
  </li>
</ul>

<h1>Levee Statuses</h1>

<p>There have been <a href="https://twitter.com/TomNamako/status/1432398482833354754"><strong>no</strong> levee breaches or overtopping within the Greater New Orleans region</a>, the Flood Protection Authority said Monday.</p>

<table>
  <tr><td><a href="https://twitter.com/RoyalPlusInc/status/1432398758571089926">Braithwaite</a></td>          <td>Overtopping</td></tr>
  <tr><td><a href="https://twitter.com/GerardJebaily/status/1432216015178539010">Jean Lafitte</a></td>        <td>Breached</td></tr>
  <tr><td><a href="https://twitter.com/GerardJebaily/status/1432216015178539010">Lafitte</a></td>             <td>Breached</td></tr>
  <tr><td><a href="https://twitter.com/wesinjapan/status/1432194688740593664">Barataria Bridge</a></td>       <td>Failure</td></tr>
  <tr><td><a href="https://twitter.com/NWSLakeCharles/status/1432107539995500548">Plaquemines Parish</a></td> <td>Overtopping</td></tr>
  <tr><td>White Ditch</td>          <td>Overtopping</td></tr>
  <tr><td><a href="https://twitter.com/tae_amox3/status/1432216902772928512">Belle Chase</a></td>             <td>???</td></tr>
  <tr><td><a href="https://twitter.com/jadaclairee/status/1432220831967494146">Laplace</a></td>               <td>???</td></tr>
  <tr><td>Orleans Parish</td>       <td>OK</td></tr>
</table>

<h1>Power Outages</h1>

<ul>
  <li><a href="https://twitter.com/EntergyNOLA/status/1432164545984745472">Entergy says</a>, "It will likely take days to determine the extent of damage to power grid in metro New Orleans and far longer to restore electrical transmission."</li>
  <li><a href="https://twitter.com/nolahealthdept/status/1432381317694599173">Gas stations experiencing very long lines</a></li>
</ul>

2021-08-2912:30am CDT
<a href="https://twitter.com/EntergyNOLA/status/1432164545984745472">https://twitter.com/EntergyNOLA/status/1432164545984745472</a> 
Entergy New Orleans
@EntergyNOLA
UPDATE: We have provided back-up generation to the New Orleans Sewerage and Water Board. Power will not be restored this evening, but we will continue work to remedy. For more:"

<h1>Evac / Transit Status</h1>

<a href="https://twitter.com/FreightWaves/status/1432396127786123269">Impassable roads in parts of southeastern Louisiana:</a> <a href="https://www.freightwaves.com/news/ida-causing-widespread-road-closures-in-louisiana">Breakdown here</a>

<p>
Monday. Sections of Interstate 10 in the New Orleans area, as well as several I-10 ramps, were shut down.

The Lake Pontchartrain Causeway, which connects Metairie, Louisiana, to Lake Pontchartrain’s northern shore, has been closed since late Sunday morning. An alternate route is the I-10 twin span bridge that connects New Orleans to Slidell, Louisiana.
</p>

<p>
<a href="https://twitter.com/rocqelllll/status/1432394477382025217">Slidell bridge is closed, and Bonnet Carrie Spillway is underwater</a>
</p>

<ul>
  <li>2021-08-30 12:30pm <a href="https://twitter.com/xnmader/status/1432392321711104007">Christiaan Mader @xnmader</a> Evacuations of ~160 patients are underway from hospitals in SE LA, including two Ochsner facilities in Raceland and Houma and a hospital in Terrebonne Parish. Destinations include Lafayette, Baton Rouge, Shreveport, Lake Charles and New Orleans.</a>
</li>
</ul>


<h1>Sewage &amp; Water</h1>
<a href="https://twitter.com/SWBNewOrleans">SWB New Orleans@SWBNewOrleans</a>
<p>
2021-08-30 8:00:00 AM
SWB New Orleans@SWBNewOrleans
We are maintaining pressure at this time and currently there are no precautionary boil water advisories.
Sewer Pumping Stations •Entergy power loss also impacts our sewer pumping stations, currently no backup power to operate any impacted stations. •Assessments for 84 stations are underway. •Working to obtain backup power for some of these stations...
•DPS 13 (Westbank): Backup power is down. Assessments and repair underway. We are seeing reports of standing water in the Tall Timbers subdivision and along General DeGaulle and our work at DPS 13 will address this. Please avoid this area.
Regarding Drainage & Power Equipment Status: •We are compensating for Entergy power loss with T4, T5, T6 and EMDs (Electromotive Diesel) and backup generators at drainage pumping stations. •These are the only sources of power we have to drain stormwater and pump drinking water into the city.
</p>

<h1>FAQs</h1>
