<div itemscope itemtype="http://schema.org/Person">
  <h1><a href="https://www.wikidata.org/wiki/Q21433430"><span itemprop="name">Michael E. Karpeles<span></a> (Mek)</h1>
        <p>一緒に, 独行道</p>

        <p>Building web technology to discover and navigate paths through knowledge.</p>


        {% include "toc.html" %}
        <ol class="sections">
        {% include "apis/index.html" %}
        {% include "qs/index.html" %}
        {% include "projects/index.html" %}
        {% include "rfcs/index.html" %}
        {% include "essays/index.html" %}
        {% include "curations/index.html" %}
        {% include "experiments/index.html" %}
        {% include "music/index.html" %}
        </ol>
        <!--
        <div class="mission">
          <h2>Mission</h2>
          bret victor inventing on principle
        </div>


        <div class="groups">
          <h2>Groups</h2>
          <ol>
            <li><a href="/groups/hqsf2"></a></li>
        </div>

        - mission, philosophy & principles
        -->
