
<div itemscope itemtype="http://schema.org/Person">
  <h1><cite w2gid="7" itemprop="name">Michael E. Karpeles (Mek)</cite></h1>

  <h3>Citizen of the World (<cite w2gid="572"><a href="https://www.facebook.com/michael.karpeles/posts/10102761566036390">世界市民行道</a></cite>)</h3>

  <p>
    My <a href="/mission">purpose</a> is to <cite w2gid="337">curate a living map of the world's knowledge</cite>.
  </p>

<div class="banner">
  (Right click <cite w2gid="">green text</cite> to enter <cite w2gid="7">Mek</cite>'s <cite w2gid="446">mind map</cite>.)
</div>

  {% include "toc.html" %}
  <ol class="sections">
    {% include "about-me/index.html" %}
    {% include "apis/index.html" %}
    {% include "qs/index.html" %}
    {% include "projects/index.html" %}
    {% include "essays/index.html" %}
    {% include "curations/index.html" %}
    {% include "presentations/index.html" %}
    {% include "experiments/index.html" %}
    {% include "music/index.html" %}
  </ol>
</div>
