<div class="box infobox">
  <h3>Michael E. Karpeles (Mek)</h3>
  <img src="/static/imgs/mek.png">
  <table>
    <tr>
      <th>Born</th>
      <td>
        <cite w2gid="7" itemprop="name" itemscope itemtype="http://schema.org/Person">Michael E. Karpeles (Mek)</cite><br/>
        July 31, 1988 (age <span id="age"></span>)<br/>
        <script type="text/javascript">document.getElementById('age').innerHTML = age();</script>
        <a href="https://en.wikipedia.org/wiki/New_Haven,_Connecticut">New Haven, Connecticut</a>
      </td>
    </tr>
    <tr>
      <th>Nationality</th>
      <td>American</td>
    </tr>
    <tr>
      <th>Occupation</th>
      <td>Program Lead on <cite w2gid="3">OpenLibrary.org</cite> at the <cite w2gid="313">Internet Archive</cite></td>
    </tr>
    <tr id="contact">
      <th>Email</th>
      <td><a href="mailto:hi@mek.fyi">hi@mek.fyi</a></td>
    </tr>
    <tr>
      <th>Github</th>
      <td><a href="https://github.com/mekarpeles">mekarpeles</a></td>
    </tr>
    <tr>
      <th>Facebook</th>
      <td><a href="https://www.facebook.com/michael.karpeles">michael.karpeles</a></td>
    </tr>
    <tr>
      <th>Twitter</th>
      <td><a href="https://twitter.com/mekarpeles" rel="me">@mekarpeles</a></td>
    </tr>
    <tr>
      <th>Mastodon</th>
      <td><a href="https://mas.to/@mek">https://mas.to/@mek</a></td>
    </tr>
    <tr>
      <th>Linkedin</th>
      <td><a href="https://linkedin.com/in/mekarpeles" rel="me">mekarpeles</a></td>
    </tr>
  </table>
</div>



