<h1>Introduction</h1>


<p>
  If this is your first time here, you've probably noticed things are
  a mess. This is because I have a bias towards action. I believe in
  first pursuing opportunities to make things possible before focusing
  on making things better. This is one of my principles. <a href="https://www.facebook.com/michael.karpeles/posts/10102733331109410">Here are a few more</a>.
</p>

<p>
  Like many explorers, I struggle to find a balance between
  discovering new things and documenting my progress. I have come to
  terms that my life is finite and that my learnings ultimately only
  matter in two contexts. One, as ingredients which enable me to
  produce outputs, such as services. Two as ingredients which allow
  others to produce such outputs. Given that statistically I should
  only expect to live to 75 or so, I posit that a great deal of
  leverage lies in empowering others to work effectively towards
  shared goals. This, amplifying others, is another of my principles.
</p>

<p>
  It should be noted that I'm very privileged. I have time to think
  whenever I want. While there are many forces which could and do
  control me, I rarely experience these forces preventing me from
  exercising the personal freedoms I value.
</p>

<p>
  I wish everyone was in such a privileged position as to exercise
  these freedoms. I don't expect they will use their time as I do. Nor
  is it my goal that they should share the same sense of urgency or
  definitions of imperative that I do. I just want them to have the
  freedom to lead an examined life.
</p>

<p>
  But <a href="http://money.cnn.com/2015/07/08/news/economy/global-low-income/index.html">~71%
  of the world -- i.e. the majority -- are not in the same boat</a>.
  It bothers me when people who want to accomplish good hit obstacles
  which prevent them from reaching their full potential. We, as a
  society, <a href="https://mek.fyi/presentations/aaronsw-day-2017">leave
  a lot on the table when we leave people behind</a> and I believe the
  world is worse off because of this. If I am going to be honest with
  myself, I must recognize this will be a challenging inequality to
  remedy because I must
  acknowledge <a href="https://www.facebook.com/michael.karpeles/posts/10103226769000920">others
  have valid opinions which are consistent with their principles, even
  if I don't find these agreeable</a>.
</p>

<p>
  Still, there are many ways to make a difference, of making lasting
  impact.  Every
  Friday, <a href="https://www.facebook.com/michael.karpeles/posts/10102441870169470">I
  wear a personalized shirt (inspired by a friend, Sai)</a>, which
  advertises topics about I'm interested in speaking. One of them in
  10,000 year impact. I believe its important to leave the world
  better than I found it. To maximize my impact to help others reach
  their full potential and to minimize obstacles in their way. I am
  inspired by Euclid's Elements, a work which shaped mathematics and
  geometry for 2,000 years. I don't have a specific desire to be
  famous or remembers; I'm simply trying to avoid doing ephemeral
  work. Work which will dissapear and not build toward a platform to
  amplify the efforts of others. For instance, a python script may go
  stale and the python language may cease to be relevant in 50 years,
  but a contribution to math can compound and enjoy re-integration and
  application for hundreds if not thousands of years to come.
</p>

<p>
  The purpose of this website is to force myself to think through hard
  questions
  like, <a href="https://www.facebook.com/michael.karpeles/posts/10103225650726950">"If
  I were to die tomorrow, how would people navigate and continue my
  work? Would they? How many?</a>". Am I working on the right things?
  What types of things should one work on?  Do I have the right to be
  happy? To what extent should access to information and networks be a
  human right? What is the greatest leverage that I have to enact
  positive change?
</p>
 

<p>In this intro I aim to address or route you to answers to the following:</p>
<ul>
  <p>Who am I?</p>
  <p>Who inspires me?</p>
  <p>The world I dream of</p>
  <p><a href="/mission">What is my mission?</a></p>
  <p><a href="/curations/life-lessons">If I could only recommend one of my essays...</a></p>
  <p>What are my principles?</p>
  <p>What do I want from you?</p>
  <p>What are the most important things I've learned in life?</p>
  <p>What protocols do I follow?</p>  
  <p>What happens after I'm gone?</p>
</ul>

<h2>Principles</h2>
<p>Principles are the lenses through which I view and evaluate the world. They help keep me aligned and accountable, so that my efforts remain defensible and may compound. I encourage you to view <a href="https://michaelkarpeles.com/curations/life-lessons#sec-2">Life Learnings & Agreeable Principles</a> for a more hollistic overview of my principles and values. Even as I write this, I feel bad that I do not put these all in one place. But there are other things I must say and make possible before making this easier.</p>
<ol>
  <li><strong>Make things possible</strong> -- Don't let, "<cite w2gid="1240">Perfect is the enemy of the good</cite>" -- <cite w2gid="1235">François-Marie Arouet (Voltaire)</cite>. Work on unique opportunities others may not see or get.</li>
  <li><strong>Be a champion for others</strong> -- Do work which benefits others. Spend time activating and aplifying people. I should write an essay on my experiences with CSSA, Archive Labs, Open Journal Foundation, Open Library, and Imperativ.es, and why these efforts have worked. re: Gaudi and sagrada familia. Be willing to take a back seat and selflessly help others achieve victories on the things you believe in.</li>
  <li><strong>Choose the right battles</strong></li>
  <li><strong>Be prepared and self-reliant</strong>. Here's <a href="https://michaelkarpeles.com/qs/gear">a list of gear I frequently carry</a>. I try not to own so many things that they become a liability. <cite w2gid="1242">"Fortune favors the prepared mind" -- Louis Pasteur</cite></li>
</ol>


<h2>Who inspired me?</h2>
<p>This is a book within itself, but given I believe foremost in a
bias toward action and making things possible, I'll start with the
list in fill in the gaps as time permits.</p>

<ul>
  <li>Aaron Swartz</li>
  <li><cite w2gid="341">Vannevar Bush</cite> and the <cite w2gid="338">memex</cite> (see essay: <cite w2gid="520">As We May Think</cite>)</li>
  <li>Paul Otlet</li>
  <li>Brewster Kahle</li>
  <li>Jason Scott</li>
  <li>Euclid</li>
</ul>


<h2>The World I Dream of</h2>
<p>To be continued</p>
