<h1>Mission</h1>

<p>
  My <cite w2gid="E23">purpose</cite> is to curate a living map
  of the World's knowledge.
</p>

<p>
  <a href="#what">What?</a>
  <a href="#why">Why?</a> 
  <a href="#how">How?</a>
  <a href="#achievable">Achievable?</a>
</p>

<h2>What?</h2>
<p>
  Imagine having a <a href="http://math.mx">digital atlas of all of
  Mathematics</a>. With the ability to see a heatmap of all the topics
  you understand, and the degree to which you understand them.  Your
  personal GPS showing you where you are; your current
  state of knowledge, what you know, and what you don't know.  Using
  your trackpad, you'd zoom semantically deeper into any subject area,
  just like google maps, learning more about the academic topology of
  each space... That combinatorics is a subfield of
  number theory, albeit a small one compared to number theory.
</p>
<p>
  Now imagine zooming in through subject areas until encountering an
  unfamiliar equation or concept, and with the press of a key, your Map
  generates a direct, shortest path
  of <a href="https://www.facebook.com/michael.karpeles/posts/10102444197400680">self-contained</a>
  directions, catered to you (based
  on <a href="http://intuitionanalytics.com/other/knowledgeDatabase/">information
  about your prior knowledge</a>;
  e.g. <a href="https://metacademy.org">Metacademy</a>, <a href="khanacademy.org">Khan Academy</a>
  and <a href="https://arbital.com">Arbital</a>) on how to arrive at a
  undertanding of the principle.
</p>
<p>
  Instead of getting map directions tailored to whether you are
  traveling by bike, walking, or public transit, you might choose to
  request directions for a brief walkthrough, a comprehensive example,
  or perhaps a basic overview is sufficient to address your use
  case. Now, instead of being limited to mathematics, imagine a
  Universal Knowledge Map (think of an atlas), which covers all
  scholarly knowledge and is constantly updated by the community and
  by algorithms, like Wikipedia.
</p>

<p>
  Imagine if instead of holding a single book, you could use such a
  system to simultaneously navigate all books. At an instant you could
  discern <a href="https://www.facebook.com/michael.karpeles/posts/10102415804345590">which
  books had the best explanations</a>, which sections others read, how
  and when readers jump from book to book, and in what sequence. It
  might look something
  like <a href="https://www.facebook.com/michael.karpeles/posts/10102441523119960">this</a>.
  And what about the same thing
  for <a href="http://dissertate.org">academic papers</a>? What if
  instead of reading a paper, you could follow
  a <a href="https://www.facebook.com/michael.karpeles/posts/10102444197400680">self-contained</a>, <a href="https://www.youtube.com/watch?v=bTkXg2LZIMQ">literate</a>,
  expert curated curriculum which incorporates all dependencies you'd
  need to understand that work?
</p>

<p>
  Such a platform would afford researchers of any skill level to
  holistically explore any field without wasting time guessing which
  information is accessible to them and in which order they should
  read. With a living map of the world's knowledge, anyone may
  visualize and inspect their hypotheses against any and all available
  relevant information; to determine its applicability, its
  consistency and correctness, and its potential impact. And if this
  is achievable, why should we settle for anything less?
</p>

<p>A Universal Knowledge Map...</p>
<ol>
  <li>Evolves: Is constantly evolving and perpetually incomplete.</li>
  <li>Aggregates: Serves as a hub or entity-resolved index, referencing existing efforts</li>
  <li>Is Axiomatic: Resolves entities down to their simplest parts (or describes infinitely small parts via forumae)</li>
  <li>Cardinality: Has a well defined coordinate system with next and previous operations</li>
</ol>

<p>And this allows empowers us:</p>
<ol>
  <li>Reduce redundancy: Focus on curating and organizing content to help researchers more easily discover what exists.</li>
  <li>Unsilo: Develop collaborative environments to help researchers amplify their efforts.</li>
  <li>Reproducibility: Help researchers accurately reproduce and interface with scientific results.</li>
  <li>Reduce Misinformation: Improve the accuracy of discourse and reduce inconsistency and fallacy through real-time fact-checking.</li>
  <li>Encourage Discovery: Improve the depth of discourse via real-time augmentation.</li>
  <li>Collaboration: To curate resources together and to share paths through knowledge.</li>
  <li>Provenance: Retain an epistemological history of knowledge discovery (and methods)</li>
  <li>Persistence: Eliminate single points of failure</li>
</ol>

<p>Here's a list of high impact sub-problems we may wish to explore as demos/examples:</p>
<ul>
  <li>Unified Theories of the Universe &amp; Laws of Science</li>
  <li>Math Atlas: Unified Graph of Mathematical Topics</li>
  <li>How to Build Things: Axiomatic Dependency Graph of Things + Processes from Element to Product</li>
  <li>How to Represent &amp; Navigate Information</li>
  <li>Navagatable Graph of all Philosophers, Influences + Works</li>
  <li>Neurology, Philosophy &amp; How Humans Thinks</li>
  <li>Problem Solving, Computer Science, &amp; Artificial Intelligence</li>
</ul>

<h2><a name="why">Why?</a></h2>
<p>
  Out of every problem in the world, why is this one worth dedicating
  one's life? I began with a list of <strong>first principles</strong>;
  criteria which I value:
</p>

<ol>
  <li>It's Forever*: a universally relevant, never-ending goal</li>
  <li>It's Compounding*: The more it's used and advanced, the more valuable it becomes.</li>
  <li>It's Universal: Instead of serving a few people, it creates opportunity and value for everyone.</li>
  <li>It's Transparent: It forces us to recognize and address inconsistencies in our reasoning and logic.</li>
  <li>It's Scalable: It can be scaled through technology and programatic interfaces.</li>
  <li>It's Open &amp; Causa Scientiae: The mission is noble serves the public's interest,</li>
  <li>It's Imperative: It allows us to analyze questions whose answers are critical to insuring the survival of the human race</li>
</ol>

<p>
  *I like the idea of working on problems which are universal (will
  remain relevant and compound in interest over the course of 10,000
  years). In my mind, this broadly includes mathematics and computer
  science, physics, chemistry, and biology.
</p>

<p>
  <strong>Why specifically?</strong> I have
  an <a href="https://www.facebook.com/michael.karpeles/posts/10102408017839810">essay</a>
  on facebook which describes the provenance of my coming to champion
  this mission. The simplest reason I can give is Universal
  (programmatic) Access to Knowledge is <strong>just</strong>. It
  leads us towards a world I would like to
  see. It's <a href="https://www.facebook.com/michael.karpeles/posts/10102415804345590">frustrating<a>
  knowing all around the world people are duplicating the same
  inefficient preperatory steps organizing their research process and
  environment when none of it is material to the learning
  process. It's analogous to the frustration of searching for a book
  using a library card catalog versus typing in a url and retrieving a
  book instantly.  We can do better. Let's find a way to allow more
  humans to spend their time productively. My hypothesis is the result
  will be:
</p>

<ul>
  <li>A greater quantity of efforts addressing the world's hard problems</li>
  <li>A greater quality of mechanisms for analyzing, absorbing & deriving learnings</li>
  <li>Greater accountability and error / fact checking</li>
  <li>A reduction in non-selective ignorance</li>
  <li>A reduction of <a href="https://www.facebook.com/michael.karpeles/posts/10102426245960510">redundant</a> efforts</li>
</ul>

<p>
  Why wouldn't we want the option to consider all available and
  relevant information when attempting to explain a phenomenon? It
  allows us to [leverage technology to] reason about things outside of
  our limited scope of knowledge. I asked <cite><a href="">Jessy
  Exum</a></cite>, <cite><a href="https://en.wikipedia.org/wiki/Richard_Hamming">Dr. Richard Hamming</a></cite>'s million dollar question,
  "What is the most important problem in the
  universe?".<cite><a href="">Jessy Exum</a></cite> answered, "I don't
  think that any single person can know the answer to
  that"</a></cite>. I think this is one of the most compelling reasons
  that we should explore ways of sharing and uniting our
  knowledge. Because the answer to this question is imperative to the
  survival of the human race.
</p>

<h2><a name="how">How?</a></h2>
<p>How do we do it? What is entailed in curating a living map of the world's knowledge?
<ol>
  <li>
    Cultivate communities, protocols, and infrastructure to produce many central hubs and
    repositories of useful information, like Wikipedia, Github,
    StackExchange, Reddit, Quora, Facebook, et al.
  </li>
  <li>
    Exploring mechanisms and standards --
    like <a href="https://iiif.io">IIIF</a> (for
    images), <a href="http://xmpp.org/">XMPP</a> (for chat),
    and <a href="https://www.openarchives.org/OAI/openarchivesprotocol.html">OAI-PMH</a>
    (for scholarly papers), to unite these disparate knowledge sources
    and to make their formats exchangable and interoperable, and
    consumable by both humans and computers.
  </li>    
  <li>
    Creating pipelines which use employ these standards to
    harvest data from these disparate sources, producing a single
    coherent, universal, distributed collection of knowledge.
  </li>
  <li>
    Recursively decomposing this well formed data into more granular semantic
    units, such as RDF entity tags (as defined by Schema.org, and
    others). Well defined, inter-compatible, common denominator units of
    information (like definitions are to a dictionary).
  </li>
  <li>
    Designing algorithms capable of recursively decomposing
    the complex documents and data representations which we've
    deferred, such as academic papers and books, into these structured
    epistemological modules.
  </li>
  <li>
    Connecting these common units of information in useful
    ways. Dissolving arbitrary document boundaries and leveraging
    communities and algorithms to thoughtfully model arbitrary
    sequences of knowledge modules and refine the relationships and
    dependencies between, them over time (e.g. Freebase and Wikidata)
  </li>
  <li>
    Once we have these curated and normalized entity graphs, this
    means creating frameworks, protocols, and interfaces which enable
    the world to effectively navigate paths through acquiring
    knowledge as seamlessly as google maps.
  </li>
  <li>
    Leveraging analytic feedback loops and tests to evolve better
    nomenclature, explanations, and sequences over time.
  </li>
  <li>
    And to ensure long-term universal, unrestricted access of this
    knowledge ecosystem for the greatest number of beneficiaries, this
    means obviating any one party's ability to control the flow of
    information by developing + adopting decentralized information
    infrastructure
    to <a href="http://brewster.kahle.org/2015/08/11/locking-the-web-open-a-call-for-a-distributed-web-2/">lock
    it open</a>.
  </li>
</ol>

<h2><a name="achievable">Achievable?</a></h2>
<p>
  Many citizens of the world (Vannevar Bush, Paul Otelet, Ted Nelson,
  Bertrand Russel and Alfred North Whitehead, Jimmy Wales, Euclid,
  Brewster Kahle, Larry Page & Sergey Brin, Salman Khan, and
  countless others) dedicated vast amounts of their life energy to
  improving accessibility of information. Some were so focused in
  their mission they became tunnel-visioned (e.g. the Principica
  Mathematica's violation of Godel's Incompleteness Theorem) and
  didn't spend sufficient time asking important questions as to the
  viability and consequences of their approaches.
</p>

<p>
  Often when I tell people my goal, they classify me as a dreamer.
  And while I may be deserving of their cynicism, I'd like to think I
  make an active effort to
<a href="http://www.goodreads.com/quotes/11340-all-men-dream-but-not-equally-those-who-dream-by">dream
  with my eyes open</a>. I readily concede my goals are more ambitious
  than I as an individual can expect to accomplish within my
  lifetime. But instead of sacrificing the scope of my goal, I instead
  aspire to make steady progress on manageable, solvable, and high
  impact sub-problems, to reach milestones of progress often, and for
  that which I can accomplish, do so well and with a clear trail
  of provenance that others may leverage after I am gone.
</p>

<p>
  Towards this goal, I
  use <a href="https://docs.google.com/spreadsheets/d/1k-zl-Ya4OAU7Lp8DsPGy7mSJVCeXSPqK673Wiq8ndt8/edit?usp=sharing">spreadsheets
  to quantify my progress</a> and actively surround myself with
  comrades who can give me constructive criticisms and who can guide me
  towards
<a href="https://michaelkarpeles.com/essays/philosophy/curbing-your-enthusiasm">curbing
  my enthusiasm</a>. I observe a similar philosophy as my <a href="https://www.facebook.com/michael.karpeles/posts/10101469875838900">mentor</a> <cite><a href="">Aaron Swartz</a></cite> in his essay,
  "<a href="http://www.aaronsw.com/weblog/productivity">Productivity</a>" (see <a href="https://www.facebook.com/michael.karpeles/posts/10102401895439150">my addition thoughts</a>). 
  I try to stand on the shoulders of giants and learn from their
  successes, as well as their mistakes. Some of my favorite lessons
  I've preserved <a href="https://michaelkarpeles.com/curations/life-lessons#sec-1">here</a>.
</p>

<p>
  Many of these lessons have made me sensitive to many challenges and
  logistic limitations which may prevent me from realizing some
  elements of this mission
  (i.e. <a href="http://www.well.com/~doctorow/metacrap.htm"><cite>Cory
  Doctrow's</cite>, "Metacrap: Putting the torch to seven straw-men of
  the
  meta-utopia"</a>, <a href="http://plato.stanford.edu/entries/frame-problem/"><cite>John
  McCarthy</cite>'s, "Frame
  Problem"</a>, <a href="http://plato.stanford.edu/entries/goedel-incompleteness/"><cite>Kurt
  Gödel</cite>'s, "Incompleteness Theorem"</a>). And while I try to be
  considerate and ground myself by these cautionary principles, I
  nonetheless subscribe to the philosophy that
  the, <a href="https://michaelkarpeles.com/essays/philosophy/incompleteness-theorem">Incompleteness
  Theorem Doesn't Mean "Stop Trying"</a> -- It just means,
  thoughtfully "Scope Your Objectives".
</p>

<p>
  I think it's achievable to get to the point where human computation and (in the same vein) communication are the limiting factor to what we can learn, and not information retrieval and latency.
</p>

<h1>Incoherent Notes</h1>

<p>
  <a href="#philosophy">Philosophy</a>
  <a href="#history">History</a>
</p>

<h2>Principles &amp; Philosophies</h2>

<ul>
  <li>Math only evolves to become more consistent and correct over time.</li>
  <li>Discovery: we should be able to learn all people who are working on the same problem. Whether a solution to a problem exists.</li>
  <li>Re-integration, Distillation, Curation, and Culling of Information &amp Theories</li>
  <li>Interoperability of all information systems</li>
  <li>Universal Access to all information</li>
  <li>Traversing paths through information</li>
  <li>Indecernable documents boundaries</li>
</ul>

<h2>History</h2>
<p>
  Perhaps you have a similar goal and would like to know what other
  work has been done towards its success. My path is informed by many
  great mathematicians, philosophers, scientists, and archivists who
  have been informing efforts for decades:
</p>

<ol>
  <li><cite w2gid="">Alfred Whitehead</cite>
  and <cite w2gid="">Bertrand Russell</cite> authored
  the <cite>Principia Mathematica</cite> which was an important
  experiment and step in formalizing all of math. Except, their
  specific approach was doomed from conception. Similar to the roles
  of <cite>Marvin Minsky</cite> and <cite>Roger Schank</cite> in
  catalyzing the <a href="https://en.wikipedia.org/wiki/AI_winter">AI
  winter</a>, <cite><a href="https://en.wikipedia.org/wiki/Kurt_G%C3%B6del">Kurk Friedrich
    Gödel</a></cite>'s <cite><a href="https://en.wikipedia.org/wiki/G%C3%B6del%27s_incompleteness_theorems">Incompleteness Theorem</a></cite> (which, paraphrased, is similar <cite>John McMarthy</cite>'s <cite><a href="https://en.wikipedia.org/wiki/Frame_problem">Frame Problem</a></cite>
</li>
</ol>


<h2>Version History</h2>
<ol>
  <li>2016-01-29 - Added facebook post 10102408017839810</li>
  <li>2015-12-26 - Initial Release</li>
</ol>
