<h1>Mission</h1>

<h2>Principles &amp; Philosophies</h2>
<ul>
  <li>Re-integration, Distillation, Curation, and Culling of Information &amp Theories (e.g. Maxwell's Equations)</li>
  <li>Semantic markup of all information</li>
  <li>Universal Access to all information</li>
  <li>Traversing paths through information</li>
  <li>Indescritizing documents boundaries</li>
</ul>

<h2>Problems</h2>
<ul>
  <li>Unified Theories of the Universe &amp; Laws of Science</li>
  <li>Math Atlas: Unified Graph of Mathematical Topics</li>
  <li>How to Build Things: Axiomatic Dependency Graph of Things + Processes from Element to Product</li>
  <li>How to Represent &amp; Navigate Information</li>
  <li>Navagatable Graph of all Philosophers, Influences + Works</li>
  <li>Neurology, Philosophy &amp; How Humans Thinks</li>
  <li>Problem Solving, Computer Science, &amp; Artificial Intelligence</li>
</ul>

<h2>Technologies</h2>
<ul>
  <li>Semantic Markup</li>
  <li>Entity Resolution</li>
  <li>Provenance of activities, actions, and events</li>
  <li>Predictions</li>
  <li>Evolutionary Machines</li>
</ul>
