<h1>What do I need / want?</h1>
<ul>
  <li>Someone with whom I can play music</li>
  <li>Security from ever becoming homeless</li>
  <li>A few unconditional friendships</li>
  <li>To own a house (a la epicurus) which is welcoming and safe for family and friends</li>
  <li>To minimize energy on chores (trash, laundry, groceries)</li>
  <li>To minimize liabilities, disruptions, and obligations (e.g. chores: trash, laundry, groceries; house moves, rents)</li>
  <li>To have funds enough to support a 2-child family</li>
  <li>To have clout and acumen enough to start a new "open library"-type initiative</li>
  <li>To author an academic paper; to demonstrate myself capable of research</li>
  <li>To secure a world with sufficient access to basic/foundational knowledge (a la Wikipedia, Kahn Academy)</li>
  <li>To author a book on values</li>
  <li>To be marketable and have 1.5M saved @ 50</li>
  <li>To be married at 35</li>
  <li>To start a foundation to help and serve others</li>
  <li>To work for causes which make people less oppressed</li>
  <li>To have few enemies and to be respected by those around me</li>
</ul>
