

<ul>
  <li><span class="song">So Long, Lonesome</span>
    <span class="artist">Explosions in the Sky</span></li>
  <li><span class="song">Benedictus</span>
    <span class="artist">Simon and Garfunkel</span></li>
  <li><span class="song">Double Violin Concerto</span>
    <span class="artist">Johann Sebastian Bach</span></li>
  <li><span class="song">Hide and Seek</span>
    <span class="artist">Imogen Heap</span></li>
  <li><span class="song">Violin Concerto No. 3</span>
    <span class="artist">Wolfgang Amadeus Mozart</span></li>
  <li><span class="song">Waltz in C sharp minor, op.64, 2</span>
    <span class="artist">Frédéric Chopin</span></li>
  <li><span class="song">Danny Boy</span>
    <span class="artist">Celtic Woman</span></li>
  <li><span class="song">The One-Man Quartet</span>
    <span class="artist">Chris Thile &amp Jon Brion</span></li>
  <li><span class="song">Arriving Somewhere but Not Here</span>
    <span class="artist">Porcupine Tree</span></li>
  <li><span class="song">Fiddle and the Drum</span>
    <span class="artist">A Perfect Circle</span></li>
  <li><span class="song">Je ne vis onques la pareille</span>
    <span class="artist">Gilles Binchois</span></li>
  <li><span class="song">Close Your Eyes</span>
    <span class="artist">James Taylor</span></li>
  <li><span class="song">Somebody to Love</span>
    <span class="artist">Queen</span></li>
  <li><span class="song">Stairway to Heaven</span>
    <span class="artist">Stanley Jordan</span></li>
</ul>
