



<ul>
  <li>Biology</li>
  <ol>
    <li class="book"><a href="https://openlibrary.org/works/OL1983087W/Biology" isbn="0805318402">Biology</a></li>
    <li class="book"><a href="https://openstax.org/details/books/concepts-biology" isbn="1938168119">Concepts of Biology</a> by Openstax</li>
  </ol>
</ul>

Math
    Calculus - https://testing.openlibrary.org/books/OL2713208M/Calculus

<ul>
  <
<a href="https://openlibrary.org/books/OL6791418M/The_great_conversation" isbn="9780262028387">History of Western Philosophy</a>

