<div class="box contents">
  <a name="toc"></a>
  <h3>Contents</h3>
  <ol>
    <li><a href="/#housing">Housing</a></li>
    <li><a href="/#early-life">Early Life</a></li>
    <li><a href="/#college">College</a></li>
    <li><a href="/#career">Career</a></li>
    <li><a href="/#projects">Projects</a></li>
    <li><a href="/#essays">Essays</a></li>
    <li><a href="/presentations">Presentations</a></li>
    <li><a href="/music">Music</a></li>
    <li><a href="/rock-climbing">Rock Climbing</a></li>
    <li><a href="/food">Food &amp; Cooking</a></li>
  </ol>
</div>

