<h3>Travel Guides</h3>
<ol class="travel-guides">

    <li>
      <a href="https://docs.google.com/document/d/1Qt-R7AISlha1ZBnkwH3h3jV441dr--q9O-yfcXLyNVM/edit">
        Boston / Cambridge / Somerville
      </a>
    </li>
    <li>
      <a href="https://docs.google.com/document/d/1nhYwuPG7jSo8AmqHovHUj0amJcvaZAQnf7AhH7oAM34/edit#heading=h.ictf6oimzoj4">
        San Francisco
      </a>
    </li>
    <li>
      <a href="https://docs.google.com/document/d/1paYbgU4Ri27LId32e8WXn4tlgkPJ6rIv9YVo-dawuWE/edit">
        Taiwan
      </a>
    </li>
    <li>
      <a href="https://docs.google.com/spreadsheets/d/1Pws6nLdpLrHprgiygSdCniYoEMAZt8eUO_mQJSkpMRU/edit#gid=0">
        New Orleans
      </a>
    </li>
    <li>
      <a href="https://docs.google.com/document/d/1KwgRJNCAnWu1NTMgrvucXfogQCh2xdzdoWLQvfCUEZc/edit#heading=h.wjw7eovtzu60">
        Atlanta (ATL)
      </a>
    </li>
</ol>

