<h1>Advanced Technology Markup</h1>
<h2>Self Deprecating Talks by Mek</h2>
<pre>
- <a href="https://fromscrat.ch">https://fromscrat.ch</a>: exploring building up, axiomatically
- <a href="https://docs.google.com/spreadsheets/d/1k-zl-Ya4OAU7Lp8DsPGy7mSJVCeXSPqK673Wiq8ndt8/edit#gid=656185669">Quantified Self spreadsheet</a>: be accountable
- <a href="https://graph.global">Graph.global</a>: No open source, MX (mark carranza), index-only navigate at the speed of thought
- <a href="https://skillsera.org">Skillsera</a>: youtube could be wikipedia
- essay: <a href="/essays/universal-knowledge/universal-todo-list">/essays/universal-knowledge/universal-todo-list</a>
</pre>
