
Problem with the web - information is changing. 

A book is static point, you can reference a point. But the webpage is
a line of points, and there is no way to accommodate this. When you
view a page as an repeat observer, all you can discern is the slope of
this line, given the points you have physically archived or cached in
your mind. Other than by personal accountability, there is no
mechanism for retroactively addressing or retrieving a previous point.



Everyone has their own IP


Imagine a network

everyone has their own id

IEFT
RFC

* Connecting the Internet (IoT)

Zapier
IFTTT



