<li class="rfc sec">
  <a name="rfcs"><h2>RFCs</h2></a>
  <ol>
    <li>
      <a href="/rfcs/1-epic">
        Epic: An Ecosystem for Literate Research
      </a>
    </li>
    <li>
      <a href="/rfcs/2-w3vcs">
        W3VCS: Version Control of the World Wide Web
      </a>
    </li>
    <li>
      <a href="/rfcs/3-pipes">
        Pipes: Pub/sub, Callbacks, & Piping Between Services
      </a>
    </li>
    <li>
      <a href="/rfcs/4-spot">
        SPOT: Single Point of Trust
      </a>
    </li>
  </ol>
</li>
