<h1>Math.mx</h1>
<h2>A <a href="https://en.wikipedia.org/wiki/A_Syntopicon:_An_Index_to_The_Great_Ideas">Syntopicon</a>: Compendium Mathematica</h2>


<p>I've created a prototype[0] of what I hope represents an important next step in connecting the disparate subfields of Mathematics and making them more accessible, for the benefit of math enthusiasts.</p>

<a href="/math">/math</a>

<h3>Credits</h3>
<p>I have tremendous amount of gratitude for Michael Bostock (who deserves all credit for the interface; zoomable treemaps, d3)[<a href="#1">1</a>], the American Mathematical Society's Mathematics Subject Classification taxonomy (AMS's MSC2010)[<a href="#2">2</a>], and most importantly Dave Rusin who curated the most impressive mathematical atlas I've ever seen, way back in 2000[<a href="#3">3</a>]</p>

<h3>Next Steps:</h3>
<ol>
  <li>Improve the taxonomy by having formula-level granularity</li>
  <li>Treemap search box to zoom to a specific topic's frame</li>
  <li>Add a list of vetted navigable resources for each topic</li>
  <li>Allow crowd sources-wikipedia style taxonomy / resource editing</li>
  <li>Settings files which allows users to keep track of what math they know and what resources they prefer (to visually achieve a holistic understanding of their knowledge gaps)</li>
</ol>

<h3>Data Sources:</h3>
<ul>
  <li>my json taxonomy of the MSC2010 taxonomy is available here: /static/js/math.json</li>
  <li>Run it, revise it yourself: https://github.com/mekarpeles/mathd</li>
</ul>

<p>The ultimate goal is to be able to programatically/dynamically generate an exhaustive curricula (concrete DAG of resources / shortest path through knowledge) for learning a specific mathematical principle / formula.</p>

<h3>Resources</h3>
<ol>
  <li><a href="http://mathworld.wolfram.com/letters/">http://mathworld.wolfram.com/letters/</a></li>
  <li><a href="http://www.math.niu.edu/~rusin/known-math/index/">http://www.math.niu.edu/~rusin/known-math/index/</a></li>
  <li><a href="https://www.khanacademy.org/exercisedashboard">https://www.khanacademy.org/exercisedashboard</a></li>
  <li><a href="http://jeffbaumes.github.io/standards/#">http://jeffbaumes.github.io/standards/#</a></li>
  <li><a href="https://dl.dropboxusercontent.com/u/11459286/ccssmgraph.pdf">https://dl.dropboxusercontent.com/u/11459286/ccssmgraph.pdf</a></li>
  <li><a href="http://meta.math.stackexchange.com/questions/6479/a-graph-map-of-math-se">http://meta.math.stackexchange.com/questions/6479/a-graph-map-of-math-se</a></li>
  <li><a href="http://forums.xkcd.com/download/file.php?id=29015&sid=8ae1604e5e548bed844ae0f1275bad43&mode=view">http://forums.xkcd.com/download/file.php?id=29015&sid=8ae1604e5e548bed844ae0f1275bad43&mode=view</a></li>
  <li><a href="http://www.aaamath.com/grade6.htm#topic1 - elementary">http://www.aaamath.com/grade6.htm#topic1 - elementary</a></li>
  <li><a href="https://github.com/stared/tag-graph-map-of-stackexchange">https://github.com/stared/tag-graph-map-of-stackexchange</a></li>
  <li><a href="http://www-old.newton.ac.uk/preprints/NI12010.pdf">http://www-old.newton.ac.uk/preprints/NI12010.pdf</a></li>
</ol>

<pre>
[<a name="0">0</a>] https://math.mx
[<a name="1">1</a>] http://bost.ocks.org/mike/treemap/
[<a name="2">2</a>] http://www.ams.org/msc/msc2010.html
[<a name="3">3</a>] http://www.math.niu.edu/~rusin/known-math/index/index.html
</pre>
