

<style type="text/css">
  .artist {
  color: green;
  }

  .song {
  color: purple;
  }
</style>

<ul>
  <li><span class="song">So Long, Lonesome</span>
    <span class="artist">Explosions in the Sky</span></li>
  <li><span class="song">Benedictus</span>
    <span class="artist">Simon and Garfunkel</span></li>
  <li><span class="song">Double Violin Concerto</span>
    <span class="artist">Johann Sebastian Bach</span></li>
  <li><span class="song">Hide and Seek</span>
    <span class="artist">Imogen Heap</span></li>
  <li><span class="song">Violin Concerto No. 3</span>
    <span class="artist">Wolfgang Amadeus Mozart</span></li>
  <li><span class="song">Waltz in C sharp minor, op.64, 2</span>
    <span class="artist">Frédéric Chopin</span></li>
  <li><span class="song">Danny Boy</span>
    <span class="artist">Celtic Woman</span></li>
  <li><span class="song">The One-Man Quartet</span>
    <span class="artist">Chris Thile &amp Jon Brion</span></li>
  <li><span class="song">Arriving Somewhere but Not Here</span>
    <span class="artist">Porcupine Tree</span></li>
  <li><span class="song">Scarborough Fair</span>
    <span class="artist">Simon and Garfunkel</span></li>
  <li><span class="song">Fiddle and the Drum</span>
    <span class="artist">A Perfect Circle</span></li>
  <li><span class="song">Je ne vis onques la pareille</span>
    <span class="artist">Gilles Binchois</span></li>
  <li><span class="song">Close Your Eyes</span>
    <span class="artist">James Taylor</span></li>
  <li><span class="song">Somebody to Love</span>
    <span class="artist">Queen</span></li>
  <li><span class="song">Stairway to Heaven</span>
    <span class="artist">Stanley Jordan</span></li>
  <li><span class="song">Quarter Chicken Dark</span>
    <span class="artist">The Goat Rodeo Sessions</span></li>
  <li><span class="song">A Go Go</span>
    <span class="artist">John Scofield</span></li>
  <li><span class="song">Sex in a Pan</span>
    <span class="artist">Bela Fleck and the Flecktones</span></li>
  <li><a href="https://www.youtube.com/watch?v=MrYi01wA5gI&list=LLy4JZx0s0_okULLXfHUtZYA&index=66"><span class="song">I Don't Need No Doctor</span></a>
    <span class="artist">John Mayer and John Scofield</span></li>
  <li><a href="https://www.youtube.com/watch?v=xqgtWCUEGBg"><span class="song">Kickin' Up Dust</span></a>
    <span class="artist">Robert Walter</span></li>

  <!--
  <li><span class="song"></span>
    <span class="artist"></span></li>
-->

</ul>
