<ul>
  <li><a href="/static/music/boxer.mp3">
      Simon and Garfunkel - The Boxer</a> (Cover)</li>
  <li><a href="/static/music/James Taylor - Going to Carolina.mp3">
      James Taylor - Going to Carolina</a> (Cover)</li>
  <li><a href="/static/music/Longest Time.mp3">
      Billy Joel - The Longest Time</a> (Cover)</li>
  <li><a href="/static/music/past-the-point-of-no-return.mp3">
      Phantom of the Opera - Point of No Return</a> (Cover)</li>
  <li><a href="/static/music/knocking on heaven's door.mp3">
      Guns N Roses - Knocking on Heaven's Door</a> (Cover)</li>
  <li><a href="/static/music/Sleep Tight Sophie.mp3">
      Sleep Tight Sophie</a> (Original)</li>
  <li><a href="/static/music/down-to-the-river.mp3">
      Folk Hymn - Down to the River</a> (Cover)</li>
  <li><a href="/static/music/Razzmatazz.mp3">
      Razzmatazz</a> (Original)</li>
  <li><a href="/static/music/James Taylor - Copperline.mp3">
      James Taylor - Copperline</a> (Cover)</li>
  <li><a href="/static/music/Life on Mars.mp3">
      David Bowie - Life On Mars</a> (Cover)</li>
</ul>
