<html>
  <head>
  </head>
  <body>
    <div>
      <div class="leftnav" style="position: fixed; top: 0px; bottom: 0px; left: 0px; width: 100px; background-color: #eee;">
        <h1 style="font-size: 14px;">Dendrite</h1>
        <ul>
          <li><a href="">Create Article</a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </div>
      <div class="content" style="position: fixed; top: 0px; left: 100px; right: 200px; padding: 15px;">
        <h1>Electric Generator</h1>
        <h3>Sequences: <a href="">...</a></h3>
        <h3>Dependencies</h3>

      </div>
      <div class="rightnav" style="position: fixed; top: 0px; left: 100px; right: 200px; padding: 15px;">
        
      </div>
    </div>

  </body>
</html>
