<h1>Reboot</h1>



<a href="https://www.wikidata.org/wiki/Q670887">Bamboo <span class="wid">#Q670887</span></a>



<h2>Off the Grid</h2>

<h3>Clean drinking water</h3>
<ol>
  <li>Find clean water</li>
  <li>solar still - requires impermiable material like plastic wrap</li>
</ol>



Kindling
- coconut fronz



The theory behind <a href="https://www.youtube.com/watch?v=mZ7bgkFgqJQ">reverse osmosis seawater desalination</a>.

<a href="https://www.youtube.com/watch?v=P-e6oOyrQ04">Collecting rainwater</a>

FAQs

<a href="https://www.youtube.com/watch?v=qHzmISScv_4">Redirecting fresh water</a> <a href="https://www.youtube.com/watch?v=PapGEh82OVU">and this</a>

Collection estimates: 1000sqft collection space * 1" rain = 600 gallons of water

<a href="https://youtu.be/P-e6oOyrQ04?t=533">Acid rain?</a>



<h2>Water power</h2>
<a href="https://youtu.be/fbodluXrVZA?t=716">Water powered hammer</a>
