<li class="curations sec">
  <a name="curations"><h2>Curations</h2></a>
  <ol class="curations">
    <li><a href="https://michaelkarpeles.com/curations/preventing-catastrophe">Preventing Global and Existential Catastrophe</a></li>
    <li><a href="https://github.com/mathmx/mathd">A Map of All Mathematics</a></li>
    <li><a href="https://docs.google.com/document/d/1upjXuPM_rVbZcFm3aqdg-T8fHCClxnfMAMVTIaqt-_4">Universal Knowledge</a></li>
    <li><a href="https://docs.google.com/document/d/1JelObOn5gZAmxYqFrxsf1Q30q0omdHzn9s5yHOoqID0/edit">The Laws of Science</a></li>
    <li><a href="/curations/the-foundation">The Foundation(s) of Great Inventions</a></li>
    <li><a href="/curations/unified-theory">(An Attempt at) A Unified Theory of the Universe</a></li>
    <li><a href="/curations/the-brain">Neurology &amp; The Brain</a></li>
    <li><a href="https://github.com/OpenJournal/awesome-textbooks">The Best Textbooks</a> (also <a href="/curations/best">Internet Archive Select Works</a>)</li>
    <li><a href="/curations/essays-to-write">Essays to Write ...</a></li>
  </ol>
</li>
