<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="/static/scripts/w2g.js"></script>
<style type="text/css">
 <!--/*--><![CDATA[/*><!--*/
  html { font-family: Times, serif; font-size: 12pt; }
  .title  { text-align: center; }
  .todo   { color: red; }
  .done   { color: green; }
  .tag    { background-color: #add8e6; font-weight:normal }
  .target { }
  .timestamp { color: #bebebe; }
  .timestamp-kwd { color: #5f9ea0; }
  p.verse { margin-left: 3% }
  pre {
	border: 1pt solid #AEBDCC;
	background-color: #F3F5F7;
	padding: 5pt;
	font-family: courier, monospace;
        font-size: 90%;
        overflow:auto;
  }
  table { border-collapse: collapse; }
  td, th { vertical-align: top; }
  dt { font-weight: bold; }
  div.figure { padding: 0.5em; }
  div.figure p { text-align: center; }
  .linenr { font-size:smaller }
  .code-highlighted {background-color:#ffff00;}
  .org-info-js_info-navigation { border-style:none; }
  #org-info-js_console-label { font-size:10px; font-weight:bold;
                               white-space:nowrap; }
  .org-info-js_search-highlight {background-color:#ffff00; color:#000000;
                                 font-weight:bold; }
  /*]]>*/-->
</style>

<script type="text/javascript">
<!--/*--><![CDATA[/*><!--*/
 function CodeHighlightOn(elem, id)
 {
   var target = document.getElementById(id);
   if(null != target) {
     elem.cacheClassElem = elem.className;
     elem.cacheClassTarget = target.className;
     target.className = "code-highlighted";
     elem.className   = "code-highlighted";
   }
 }
 function CodeHighlightOff(elem, id)
 {
   var target = document.getElementById(id);
   if(elem.cacheClassElem)
     elem.className = elem.cacheClassElem;
   if(elem.cacheClassTarget)
     target.className = elem.cacheClassTarget;
 }
/*]]>*///-->
</script>

<div id="content">
    <h1 class="title">Life Lessons</h1>

    <div id="table-of-contents">
      <h2>Table of Contents</h2>
      <div id="text-table-of-contents">
        <ul>
          <li><a href="#sec-1">1 Resources </a></li>
          <li><a href="#sec-2">2 Life Learnings &amp; Agreeable Principles </a></li>
          <li><a href="#sec-3">3 1% Optimizations (Organization: Storage &amp; Retrieval) </a></li>
          <li><a href="#sec-4">4 My Protocols </a>
            <ul>
              <li><a href="#sec-4.1">4.1 Conventions for Note Taking </a></li>
              <li><a href="#sec-4.2">4.2 Universal Todo List UUID('f73de879-b51c-4ac3-b5f4-db4f0e37d021') </a></li>
              <li><a href="#sec-4.3">4.3 Universal Table of Contents </a></li>
              <li><a href="#sec-4.4">4.4 Quantified Self </a></li>
              <li><a href="#sec-4.5">4.5 Rules for Projects (4-26-2015) </a>
                <ul>
                  <li><a href="#sec-4.5.1">4.5.1 Executive Summary </a></li>
              </ul></li>
            </ul>
          </li>
          <li><a href="#sec-5">5 Philosophy </a></li>
          <li><a href="#sec-6">6 Notes on Engineering Systems </a></li>
          <li><a href="#sec-7">7 Provenance: Keep a trail </a></li>
          <li><a href="#sec-8">8 Dealing With Others </a></li>
          <li><a href="#sec-9">9 Permenance </a></li>
          <li><a href="#sec-10">10 Connect everything you can </a></li>
          <li><a href="#sec-11">11 Experiment </a></li>
          <li><a href="#sec-12">12 Version History </a></li>
        </ul>
      </div>
    </div>
    <div id="outline-container-1" class="outline-2">
      <h2 id="sec-1"><span class="section-number-2">1</span> Resources </h2>
      <p>I wish I had encountered these sooner. I hope I will revisit them often.</p>
      <div class="outline-text-2" id="text-1">
        <iframe width="165" frameBorder="0" height="375" src="https://openlibrary.org/books/OL6990157M/The_autobiography_of_Benjamin_Franklin/widget"></iframe>
        <iframe width="165" frameBorder="0" height="375" src="https://openlibrary.org/works/OL1063339W/How_to_win_friends_and_influence_people/widget"></iframe>
        <ol>
          <li id="on-discursiveness-in-reading" name="on-discursiveness-in-reading">
            <a href="http://web.archive.org/web/20160417194705/https://en.wikisource.org/wiki/Moral_letters_to_Lucilius/Letter_2">Seneca's
            Moral letters to Lucilius, Letter #2: On Discursiveness in
            Reading</a>
            -- <a href="https://www.youtube.com/watch?v=M6rsPgnA87Q&feature=youtu.be&t=235">There
            are more books than one can possibly read</a> and this is
            a great source
            of <a href="https://www.facebook.com/michael.karpeles/posts/10103494731027870">anxiety
            and paralysis</a> for me. I feel like I fundamentally
            disagree with Seneca, in that I believe casting a wide
            net, being selective, and exposing yourself to a breadth
            of perspective is valuable. However, I agree with Seneca
            in that the pursuit of truly investing in an author will
            give you a coherent narrative and a framework for
            understanding and continuing their work. Most importantly,
            Seneca compells me to question: how often do I read a
            truly great work?  And why am I so willing to risk reading
            a new -- albeit predictably average -- book when I have
            the option of re-reading something I know is fantastic;
            especially being privy that spaced repetition is required
            to take full advantage of the learning. In essence, "You
            must linger among a limited number of master thinkers, and
            digest their works, if you would derive ideas which shall
            win firm hold in your mind. [...] nothing hinders a cure
            so much as frequent change of medicine [...] fall back
            upon those whom you read before. Each day acquire
            something that will fortify you against poverty, against
            death, indeed against other misfortunes as well; and after
            you have run over many thoughts, select one to be
            thoroughly digested that day."
          </li>
          <li id="on-the-philosophers-mean" name="on-the-philosophers-mean">
            <a href="http://web.archive.org/web/20160417193222/https://en.wikisource.org/wiki/Moral_letters_to_Lucilius/Letter_5">Seneca's
            Moral letters to Lucilius, Letter #5: On the Philosopher's
            Mean</a> -- "The first thing which philosophy undertakes
            to give is fellow-feeling with all men; in other words,
            sympathy and sociability. We part company with our promise
            if we are unlike other men. We must see to it that the
            means by which we wish to draw admiration be not absurd
            and odious. [...] let men find that we are unlike the
            common herd, if they look closely"
          </li>
          <li>
            <a href="http://web.archive.org/web/20181009065610/https://people.well.com/user/doctorow/metacrap.htm">Metacrap: Putting the torch to seven straw-men of the meta-utopia</a> by <a href="https://craphound.com/">Cory Doctorow</a>
          </li>
          <li><cite w2gid="1312">John Perry Barlow's, "25 Principles for Adult Behavior"</cite></li>
         <li><a href="https://www.theatlantic.com/magazine/archive/1945/07/as-we-may-think/303881/">As We May Think</a> by Vannevar Bush, published in the Atlantic</li>
          <li>
            <a href="https://www.youtube.com/watch?v=irornIAQzQY&t=6m47s">Epicurus on Happiness</a> Alain de Botton --
            Surround yourself with those who can teach you and help you grow.
          </li>
          <li>
            <a href="http://web.archive.org/web/20161019110836/http://www.aaronsw.com/weblog/productivity">HOWTO:
            Be more productive (Productivity)</a>
            by <a href="https://graph.global/?id=522">Aaron Swartz</a> (see <a href="https://michaelkarpeles.com/essays/qs/on-effective-procrastination">my followup</a>)
            -- Not all time is created equally, procrastinate
            effectively. Also
            see <a href="http://www.chronicle.com/article/How-to-ProcrastinateStill/93959">John
            Perry</a>'s thoughts.
          </li>
          <li>
            <a href="http://jamesclear.com/marginal-gains">Marginal Gains</a> Dave Brailsford --
            Small individuals gains can stack and earn large compound interest
          </li>
          <li>Various Knowledge Maps:
            <ul>
              <li><a href="https://www.facebook.com/michael.karpeles/posts/10102466370834940">HyperPhysics Concepts</a></li>
              <li><a href="http://www.alcyone.com/max/physics/laws/">Laws of Science</a></li>
              <li><a href="http://fromscrat.ch/#sec-1.1">Axiomatic + programatic approaches to building from scratch</a></li>
              <li><a href="https://michaelkarpeles.com/curations/unified-theory">Unified Theory of Everything</a></li>              
            </ul>
          </li>
          <li>
            <a href="http://web.archive.org/web/20170203051559/http://www.cs.virginia.edu/~robins/YouAndYourResearch.html">You and Your Research</a> 
            by <a href="https://graph.global/?id=838">Dr. Richard Hamming</a> (<a href="https://www.youtube.com/watch?v=a1zDuOPkMSw">video</a>) --
            Work on problems which matter
          </li>
          <li>
            <a href="http://web.archive.org/web/20161119180734/http://calteches.library.caltech.edu/51/2/CargoCult.htm">Cargo Cult Science</a>
            by <a href="https://graph.global/?id=832">Dr. Richard Feynman</a> --
            Do not mislead your fellow [wo]man
          </li>
          <li><a href="https://www.lesswrong.com/posts/fRr8625imjoP7FLFs/drowning-in-an-information-ocean">Drowning In An Information Ocean</a> by diegocaleiro</li>
          <li><a href="http://distill.pub/2017/research-debt/">Research Debt</a>. i.e. why learning is so hard and the low hanging fruit we're missing to fix this. (added 2017-03-29; via Mark Carranza)</li>
          <li>
            <a href="https://youtu.be/CDokMxVtB3k?t=57m13s">All
            Questions Answered</a> <a href="">Dr. Donald Knuth</a> --
            The role of future humans in academia is to be
            interdisciplinary. An academic "fusion" advocated also
            by <a href="http://www.nytimes.com/2012/01/03/science/broad-institute-director-finds-power-in-numbers.html">Eric
            Lander</a> in New York Times, "Power in Numbers".
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=zWH_9VRWn8Y&amp;feature=youtu.be&amp;t=49s">We're all headed towards certain death</a> --  
            why let that stop you from trying?
          </li>
          <li>
            <a href="https://youtu.be/EKWGGDXe5MA?t=4m39s">Heuristics</a> (Inspiration for Living Life)
            by <a href="https://graph.global/?id=832">Dr. Richard Feynman</a>
            (See also <a href="https://openlibrary.org/works/OL17357767W/Algorithms_to_Live_By">Algorithms to Live By</a>
            by <a href="https://openlibrary.org/authors/OL7005984A/Brian_Christian">Brian Christian</a>) --
            <a href="https://michaelkarpeles.com/essays/philosophy/computing-as-a-lifestyle">the
            science of computational theory is a way to understand and
            approach any of life's problems, not just a career tool</a>
          </li>
          <li>
            <a href="http://www.dailyom.com/library/000/001/000001511.html"> 
            <span style="text-decoration:underline;">How to Win Friends and Influence People</span></a>, Dale Carnegie --
            Don't criticize, condemn or complain
          </li>
          <li><a href="https://www.currentaffairs.org/2017/03/debate-versus-persuasion">Debate Versus Persuasion</a< -- via Sahar Massachi</li>
          <li>
            <div>
              <a href="https://openlibrary.org/works/OL26500W/Autobiography">Ben Franklin's Autobiography</a> Benjamin Franklin --
            The importance of having grounding <a href="http://www.thirteenvirtues.com/">virtues</a>
            </div>
          </li>
         <li>
            <a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=1592027">Benign Violations: Making Immoral Behavior Funny</a> A. Peter McGraw &amp; Caleb Warren --
            Understanding humor helps us avoid hurting people
         </li>
         <li>
           <a href="https://vimeo.com/36579366">Inventing on Principle</a> by <a href="https://graph.global/?id=402">Bret Victor</a> --
           It takes considerable thought, work, and deliberation to discover your calling
         </li>
         <li>
           <a href="https://www.youtube.com/watch?v=ji5_MqicxSo">Randy Pausch Last Lecture: Achieving Your Childhood Dreams</a> --
           "[...] Brick walls are there for a reason. The brick walls
           are not there to keep us out. The brick walls are there to
           give us a chance to show how badly we want
           something. Because the brick walls are there to stop the
           people who don’t want it badly enough. They’re there to
           stop the other people."
         </li>
         <li><a href="https://www.youtube.com/watch?v=VZQoAKJPbh8&t=2863s">In search of tomorrow</a> - if programming were backed by a graph/memex. Turned into: <a href="https://www.youtube.com/watch?v=TWAMr72VaaU&feature=youtu.be">EVE: A day in the life</a> - literate, responsive programming</li>
         <li><a href="https://www.youtube.com/watch?v=wKcZ8ozCah0">The Learning Map</a> - Danny Hillis at Oscon 2012</li>
         <li>
           <a href="https://stratechery.com/2014/publishers-smiling-curve/">Publisher's Smiling Curve</a> (reflections on Who Owns the Future and the forgotten middle class) --
           Regulations, protocols, and reviews are meaningful tools to understand and recognize systemic imbalance and address discrepencies.
         </li>
         <li>
           <a href="https://edge.org/response-detail/25514">2014: What Scientific Idea Is Ready For Retirement?</a>
           by <a href="https://openlibrary.org/authors/OL7005984A/Brian_Christian">Brian Christian</a> --
           We should fight against beuracratically imposed inefficiencies and look to technology for solutions
           on modernizing these practices.
         </li>
         <li>
           <a href="http://worrydream.com/ExplorableExplanations/">Explorable Explanations</a> --
           The next generation of education will require a cartography for representing and exploring knowledge
         </li>
         <li><a href="/curations/life-lessons-overflow">Mek's Life Lessons (Overflow)</a></li>
        </ol>
      </div>

    </div>

    <div id="outline-container-2" class="outline-2">
      <h2 id="sec-2"><span class="section-number-2">2</span> Life Learnings &amp; Agreeable Principles </h2>
      <div class="outline-text-2" id="text-2">
        <ol>
          <li><p><cite w2gid="1347">"That which is not tied on will be
          lost" -- Ted Nelson (2018-06-16)</cite>, a day before his
          birthday, I went with him, my dear friend Drew Winget, and
          my former Internet Archive colleague Tim Johnson to visit
          Ted's personal archives and houseboat. Ted said this while
          opening his houseboat's front door with a key which was
          attached to him by a retractable string. He literally ties
          his wallet, pens, cameras, and other things to him. It's
          honestly a really smart system. He has an amazing long-term
          memory, though he has so much on his plate, he sometimes
          forgets his shoes when they're not tied to him. A sign of
          true intelligence is knowing one's weaknesses and augmenting
          oneself with solutions to realize every possible
          advantage. This quote, though, is even more profound out of
          context: "That which is not connected, is lost". i.e., a
          memory (or generalized, a graph node) without any
          associations (edges) is irretrievable if its direct link is
          lost. This reinforces my belief in the importance of connecting
          and mapping knowledge. <a href="http://web.archive.org/web/20180617092739/https://www.facebook.com/michael.karpeles/posts/10103443502819610">See more of my thoughts on this topic</a>.
            </p>
            <p> During our drive back, Ted explained why he felt so
          comfortable standing out. He said, <cite w2gid="1350">"Three of my favorite
          people are Walt Disney, Frank Lloyd Wright, and Buckminster
          Fuller -- And they weren't modest, why should I
          be?"</cite>. This idea of emulating the qualities you appreciate
          about your heros is a great way to build confidence and
          instill behaviors which may not come naturally or may be
          viewed as unpopular as others.
            </p>
          </li>


          <li>
            Protocols are Key. Implementing a patch or shim simply means there
            is resistence to protocol. (rule of thumb: protocols are constant or
            linear, shims are quadratic or worse in implementation)
          </li>
          <li>
            It's easy to get a no, if you want a yes, first achieve a related
            accomplishment which one would be irresponsible to turn down.<sup><a class="footref" name="fnr.1" href="#fn.1">1</a></sup>
          </li>
          <li>
            <cite w2gid="1502">
              <a href="http://paulbuchheit.blogspot.com/2010/10/serendipity-finds-you.html">
                "Opportunity is all around us, but we have beliefs and habits that block it."</a>
            </cite>
            -- <cite w2gid="1500">Paul Buccheit</cite>
          </li>
          <li>
            Systems should be designed which give users the power of choice, not the service provider.
          </li>
          <li>
            "One needs no silver plate, encrusted and embossed in
            solid gold; but we should not believe the lack of silver
            and gold to be proof of the simple life. Let us try to
            maintain a higher standard of life than that of the
            multitude, but not a contrary standard; otherwise, we
            shall frighten away and repel the very persons whom we are
            trying to improve. We also bring it about that they are
            unwilling to imitate us in anything, because they are
            afraid lest they might be compelled to imitate us in
            everything. The first thing which philosophy undertakes to
            give is fellow-feeling with all men; in other words,
            sympathy and sociability. We part company with our promise
            if we are unlike other men. We must see to it that the
            means by which we wish to draw admiration be not absurd
            and odious." --
            <a href="http://web.archive.org/web/20170319165727/http://www.stoics.com/seneca_epistles_book_1.html">here <cite w2gid="1351">Seneca</cite></a>
            eludes that one should be mindful of the risks of
            thoughtlessly deviating from or violating too many social
            norms, as the more ways we act unlike others, the less
            confident others are to follow us.
          </li>
          <li>
            <a href="https://michaelkarpeles.com/essays/qs/on-effective-procrastination">Effective procrastination</a> is key &ndash; taking breaks and shifting
            contexts is important, but if you differentiate between work and
            play, something is wrong.
          </li>
          <li>
            Architect systems which are capable of compounding in value via recaputlation and re-integration; e.g. wikipedia.
          </li>
          <li>
            "Part of the beauty of being human is that when you spend enough time outside of your comfort zone, you get a new comfort zone." -- CR Saikley
          </li>
          <li>
            "If you believe something should be public, make sure as much discource and creativity surrounding the idea happens in public forums within the public domain. Instead of fighting copyright holders, build gravity to pull it into the public domain until its economically disadvantageous for the work to be proprietary" -- (paraphrasing) Kurt Bollacker
          </li>
          <li>
            "Several years ago my wife bought me a very nice guitar - much nicer than I would have considered buying for myself. After a bit of playing this transcendent instrument, my playing went to an entirely different level. I realized a couple things. The first is that my old instrument was holding me back. The second is that life is far too short to spend any time in that state." -- CR Saikley
          </li>
          <li>
            <a name="lesson-on-being-indispensible-and-effective-self-promotion">
              On being indispensible and effective self-promotion.
            </a>
            When applying for a position, understand the difference
            between being someone an employer wants to hire and
            someone an employer cannot afford to not hire. What
            qualities, skills, and or performance characteristics make
            someone dispensible to this orgnization? It's worth having
            a conversation with those familiar with an organization
            and its management's perspective on what metrics are
            critical so you can best advertise yourself. As a
            pre-requisite, put in the work to establish rapport and
            build trust with these people and demonstrate your
            abilities and competance. In return, ask them to help you
            quantify your impact, because they have the perspective
            best to understand the values of the organization or
            team. &mdash; <cite w2gid="1189">Kristy Headley</cite>
          </li>
          <li>
            Life favors the prepared (paraphrasing Louis Pasteur @Q529) and "it
            is hard for an empty sack to stand upright" (Franklin)
          </li>
          <li>
            Have multiple projects you've thought about, even if you can't work
            on them all. Think about who can work on them.
          </li>
          <li>
            It's easy to serve people tangentially, without formal
            commitment. But there's no deed more noble or challenging than being
            directly accountable to another; to be faced head-on by those whose
            well-being is at stake.
          </li>
          <li>
            <a href="https://docs.google.com/spreadsheets/d/1k-zl-Ya4OAU7Lp8DsPGy7mSJVCeXSPqK673Wiq8ndt8/edit#gid=522638169">maintain a list of `n` people</a> who are worth supporting / helping /
            investing in<sup><a class="footref" name="fnr.2" href="#fn.2">2</a></sup>
          </li>
          <li>
            A closed mouth doesn't get fed, ask for help when you need it.
          </li>
          <li>
            “Make things as simple as possible, but not simpler.”
            [Einstein]. This comes in to play all the time. A corollary in
            conversation / communication is, don't raise questions people don't
            have. Don't burden people with more to worry about than they
            need. Stick with what is necessary and essential. KISS (Keep it
            simple, silly)
          <li id="gaudi"><strong>Set the groundwork.</strong>
            In an age where cathedrals were no longer built with the majesty
            some could imagine, Antoni Gaudi drafted comprehensive models and
            blueprints for an impressive feat of engineering, a hundred years
            ahead of its time:
            the <a href="https://www.youtube.com/watch?v=ZnNwpmdWm1w">Sagrada
              Familia</a>. Gaudi built the most impresive face, the front-facing
            section (the facade), of a cathedral which he knew couldn't possibly
            be finished in his lifetime. He did so with the belief that no one
            would let his masterful work go to waste, especially with such an
            impressive start and all the models to guide it toward completion.
            A moral of this tale is that a certain critical mass of data and
            upfront work is required to seed a vision. Once enough data or
            foundation is available, the rest can be inferred and the incentives
            can be aligned to do so. Thanks to Drew Winget for bringing up this
            example while we were discussing creating a "library of the future"
            which focuses on pioneering a coherent experience over various
            technological and visual interfaces into the works of Mortimer
            Atler's, "Great Books" of the Western Canon.
          </li>
          <li>
            Richard Feynman on <a href="http://web.archive.org/web/20140619154720/http://neurotheory.columbia.edu/~ken/cargo_cult.html">Cargo Cult Science</a> page 4 (posted by <a href="https://www.facebook.com/michael.karpeles/posts/10102408380348340">me on facebook</a>)
            "I would like to add something that's not essential to the science, but something I kind of believe, which is that you should not fool the layman when you're talking as a scientist. I am not trying to tell you what to do [...] when you're not trying to be a scientist, but just trying to be an ordinary human being. We'll leave those problems up to you and your rabbi. I'm talking about a specific, extra type of integrity that is not lying, but bending over backwards to show how you're maybe wrong, that you ought to have when acting as a scientist. And this is our responsibility as scientists, certainly to other scientists, and I think to laymen." 
          </li>
          <li>
            We are naturally coerced to act like those around us. Either by
            necessity of a competitive spirit, to achieve higher status, or out
            of desire to accommodate/oblige those around us.<sup><a class="footref" name="fnr.3" href="#fn.3">3</a></sup>
          </li>
          <li>
            Encourage your friends to partner with you. Commit to amplifying your
            combined efforts on areas you are mutually passionate. Do not get
            greedy; consider your combined accountability and contributions
            should more than double your individual effectiveness.
          </li>
          <li>
            publishing your belief, early, on an topic is a good way to figure
            out if you're wrong and who cares about the issue being right.
          </li>
          <li>
            Before you complain about equity in a project, figure out if you
            would be doing a project even if your partners weren't
          </li>
          <li>
            80/20 engineering may be good enough to create something valuable
            and working, but remember the remaining 20% often includes a
            strategy for adoption
          </li>
          <p></p>
          <li>
            <quotes>&quot;<cite w2gid="1385">Speak not but what may benefit others or yourself; avoid trifling conversation</cite>&quot;</quotes> [Benjamin Franklin, 13 Virtues of Life]<sup><a class="footref" name="fnr.4" href="#fn.4">4</a></sup>
          </li>
          <li>
            "Form [presentation] is as important as content", Brenton Cheng, recalling a story where he up fruit for his son as pyramids when his son wouldn't eat it previously. (2016-11-28 @ Internet Archive)
          </li>
          <li>"μή εἶναι βασιλικήν ἀτραπόν ἐπί γεωμετρίαν",
            i.e. There's no royal road to [knowledge]
            geometry. &mdash; Euclid while teaching King Ptolemy, via
            Proclus. I encountered this from a summer camp golf
            instructor who was in the PGA. My golf instructor
            demonstrated correct form for a swing and then scolded me
            when I tried to replicate his swing. He told me the
            example was to demonstrate the goal and that the value of
            the exercise was in the steps to reach that outcome. Try
            to make one change at a time; individual, controlled,
            <a href="https://www.facebook.com/michael.karpeles/posts/10104020353750720">small adjustments to your grip</a> and notice the difference
            it makes. This is what re-inforces good practices.</li>
          <li>
            Make up for it in volume. -- Greg Lindahl 
          </li>
          <li><strong>People need the basics</strong> -- CR</li>
          <li>Being the best manager means developing and effectively
          practicing the best protocols for organization and
          movement.</li>
          <li>Everyone is in some way disabled; everyone can be enabled</li>
          <li>Deadlines inform expectations and contexualize
          ambition. Checkpoints (strategic planning) mitigates risks
          and minimizes losses of gains.</li>
          <li>
            Be honest, but know what and what not to say, and when to say
            it. In the words of Franklin, "Tricks and treachery are the practice
            of fools, that don't have brains enough to be honest."
          </li>
          <li>Silence is a form of dishonesty -- Drew Winget 2020-02-13 (At Serapeum, about speaking up for onself's needs)</li>
          <li><a href="https://www.facebook.com/michael.karpeles/posts/10104035416090670">When You Face Dragons, Find Equally Powerful Allies</a> (EdCamp Conference 2020 @ Clever)</li>
          <li>
            "[...] it is necessary for a prince, who wishes to maintain himself, to learn how not to be good, and to use
            it and not use it according to the necessity of the case"
             -- Niccolò  Machiavelli, <a href="https://www.archive.org/stream/princemac00machuoft?ref=ol#page/60/mode/2up">The Prince</a>.
            Reflection: Even for one whose wishes is to do good, one must have sinister
            thoughts enough to understand how others may do bad; otherwise, how
            else shall these evils be dealt?
          </li>
          <li>
            "[...] How we [may] live is so far removed from how we ought to live, that he who abandons what is done for what ought to be done, will rather learn to bring about his own ruin than his preservation."
             -- Niccolò  Machiavelli, <a href="https://www.archive.org/stream/princemac00machuoft?ref=ol#page/60/mode/1up/search/how+we+ought+to+live">The Prince</a>. i.e. know the difference between <a href="https://www.youtube.com/watch?v=EkpS1eWb2BA">what society expects, and what is possible</a>.
          </li>
          <li>"To wield love or fear? Love is the flower, bloomed until its pedals wither. But it is the seeds of fear from which roots are grown. And by which pedals fall." -- Mek.
            Reflection: I was thinking about this today from the
            perspective of political power. Not that, e.g., a "prince"
            should rule by being loved or hated, but rather the power
            in knowing what people love and fear. And that for
            galvanizing action, it makes sense to appeal to what
            people love by surfacing what they fear. And by
            demonstrating how their love is at stake.</li>
          <li>If someone is bad at taking care of themselves; this could become your liability. &mdash; Komalta Rajani</li>
          <li>Seek relationships with flexible give and take; those who count exchanges in utility are unsustainable. &mdash; Komalta Rajani</li>
          <li>
            Freedom of speech can be equally as important as freedom from the thoughts of others.<sup><a class="footref" name="fnr.2.2" href="#fn.2">2</a></sup>
          </li>
          <li>
            Avoid sarcasm unless it can be employed as method of non-hurtful
            social encryption. The following is an except from <sup><a class="footref" name="fnr.5" href="#fn.5">5</a></sup>: McGraw and
            Caleb Warren, a doctoral student, presented their elegantly simple
            formulation in the August 2010 issue of the journal Psychological
            Science. Their paper, “Benign Violations: Making Immoral Behavior
            Funny,” cited scores of philosophers, psychologists, and
            neuroscientists (as well as Mel Brooks and Carol Burnett). The
            theory they lay out: “Laughter and amusement result from violations
            that are simultaneously seen as benign.” That is, they perceive a
            violation—”of personal dignity (e.g., slapstick, physical
            deformities), linguistic norms (e.g., unusual accents,
            malapropisms), social norms (e.g., eating from a sterile bedpan,
            strange behaviors), and even moral norms (e.g., bestiality,
            disrespectful behaviors)”—while simultaneously recognizing that the
            violation doesn’t pose a threat to them or their worldview. The
            theory is ludicrously, vaporously simple. But extensive field tests
            revealed nuances, variables that determined exactly how funny a joke
            was perceived to be.

          </li>
          </ol>
        </div>

      </div>

      <div id="outline-container-3" class="outline-2">
        <h2 id="sec-3"><span class="section-number-2">3</span> 1% Optimizations (Organization: Storage &amp; Retrieval) </h2>
        <div class="outline-text-2" id="text-3">

          <ol>
            <li>
              Require everything have a place. You'll spend less time searching
              for your phone, wallet or purse. If things aren't required to have
              a place, verifying tasks (involving many items) are complete can
              explode combinatorially. The same is especially true for
              thoughts. We have a lot of them, so keeping them organized is
              important, otherwise, some computation becomes intractable. In the
              words of Benjamin Franklin, "Let all your things have their
              place"<sup><a class="footref" name="fnr.4.2" href="#fn.4">4</a></sup>
            </li>
            <li>
              "[...] let each part of your business have its time." [Benjamin Franklin]
            </li>
            <li>Make the right promises and keep them. i.e., "Resolve to perform what you ought; perform without fail what you resolve. [Benjamin Franklin]"</li>
            <li>"Make no expense but to do good to others or yourself; i.e., waste nothing. [Benjamin Franklin]"</li>
            <li>
              When you're loading a dishwasher, place all similar cuttlery
              together. It's a constant time insertion whether your insert a
              utensil in the correct or an arbitrary bucket (the bucketing is
              basically a hash, which means a marginal scalar factor added to the
              expense of insertion), but if you front-load this computation, the
              sort operation at retrieval time will be a constant, versus a
              linear sort. Then the limiting factor becomes the size/bandwidth of
              your hand. That's a problem for someone else to solve.
            </li>
            <li>
              Put your socks, underwear, and shirts in <a href="http://www.amazon.com/Laundry-Zipped-Washing-Underwear-Storage/dp/B013I3CEEK">separate mesh nets</a> when
              washing and drying to reduce time separating your items.
            </li>
            <li>
              Buy all of the same white socks to further reduce sorting complexity.
            </li>
            <li>
              If you want to perform an activity more, make the items it entails
              spatially and temporally local. For instance, to practice guitar
              more, leave the instrument out of its case and in your way. The
              same is true of documents or tabs in your browser. The same is true
              for negative influences; reduce their spatial and local presence.
            </li>
            <li>
              Pinned Tabs: My calendar, gmail, a Table of Contents of all my
              projects, a universal TODO list, chat systems

            </li>
          </ol>
        </div>

      </div>

      <div id="outline-container-4" class="outline-2">
        <h2 id="sec-4"><span class="section-number-2">4</span> My Protocols </h2>
        <div class="outline-text-2" id="text-4">


        </div>

        <div id="outline-container-4.1" class="outline-3">
          <h3 id="sec-4.1"><span class="section-number-3">4.1</span> Conventions for Note Taking </h3>
          <div class="outline-text-3" id="text-4.1">

            <ul>
              <li>
                Every document should have a date
              </li>
              <li>
                Every file, section, blurb (ideally) has a unique tag (markup or numeric) which allows it to be indexed/searched/referenced.
              </li>
              <li>
                Every note should (ideally) be semantically tagged
              </li>
              <li>
                Every note should exist only once (single point of truth) and by symlinked by other things that need it
              </li>
              <li>
                Todo items and notes should work the same way. Todo items are just actionable notes, thus: 

              </li>
              <li id="sec-4.1.1">Open questions <br/>
                How can 
                autocomplete for tagged notes, as we're typing them?

              </li>
            </ul>
          </div>

        </div>

        <div id="outline-container-4.2" class="outline-3">
          <h3 id="sec-4.2"><span class="section-number-3">4.2</span> Universal Todo List UUID('f73de879-b51c-4ac3-b5f4-db4f0e37d021') </h3>
          <div class="outline-text-3" id="text-4.2">

            <p>I shall maintain a Universal TODO List which shows me all open tasks
              and what is planned for a given day. 
            </p>
            <ol>
              <li>
                The same todo item shall never exist in more than one source (e.g. database,
                file, website/service) unless it's a synched backup. One single point of
                truth, many symlinks.

              </li>
            </ol>
          </div>

        </div>

        <div id="outline-container-4.3" class="outline-3">
          <h3 id="sec-4.3"><span class="section-number-3">4.3</span> Universal Table of Contents </h3>
          <div class="outline-text-3" id="text-4.3">

            <ol>
              <li>
                Have a Table of Contents + Todo list for your learnings and questions
              </li>
            </ol>
          </div>

        </div>

        <div id="outline-container-4.4" class="outline-3">
          <h3 id="sec-4.4"><span class="section-number-3">4.4</span> Quantified Self </h3>
          <div class="outline-text-3" id="text-4.4">

            <ol>
              <li>
                Maintain a spreadsheet to track important(?) metrics
              </li>
            </ol>
          </div>

        </div>

        <div id="outline-container-4.5" class="outline-3">
          <h3 id="sec-4.5"><span class="section-number-3">4.5</span> Rules for Projects (4-26-2015) </h3>
          <div class="outline-text-3" id="text-4.5">

            <p>Maintain a list of problems which bother you and a <a href="https://docs.google.com/document/d/1a8qP3-1_fvz-3ub0vLlx4Vqy1zOlgdxEuSKYlSwkZhA/edit#">Table of Contents of all projects you're working on</a>.
            </p>
            <ol>
              <li>
                Every project shall have a registered domain and a landing page
              </li>
              <li>
                Every project shall have a team of &gt; 2 interested folks (who know about it)
              </li>
              <li>
                Every project shall have an executive summary
              </li>
              <li>
                Every project shall have a repository (for version control + code + assets)
              </li>
              <li>
                Every project shall have a landing page
              </li>
              <li>
                Every project shall have an essay describing its long term goals (public exec summary)
              </li>
              <li>
                Every project shall have a todo list #project tag in the universal TODO list
              </li>
              <li>
                Every project shall have a top-level table of contents (TOC) enumerating the aforementioned
              </li>
            </ol>

          </div>

          <div id="outline-container-4.5.1" class="outline-4">
            <h4 id="sec-4.5.1"><span class="section-number-4">4.5.1</span> Executive Summary </h4>
            <div class="outline-text-4" id="text-4.5.1">

              <ol>
                <li>
                  A list of existing services
                </li>
                <li>
                  Market research
                </li>
                <li>
                  Simple roadmap of milestones to guage successs
                </li>
                <li>
                  Projections + business model for breaking even (based on roadmap)
                </li>
                <li>
                  Unique stategy for customer acquisition


                </li>
              </ol>
            </div>
          </div>
        </div>

      </div>

      <div id="outline-container-5" class="outline-2">
        <h2 id="sec-5"><span class="section-number-2">5</span> Philosophy </h2>
        <div class="outline-text-2" id="text-5">

          <ul>
            <li>
              Have concrete, concise and well reasoned answers, be willing to
              change them. Premeditate answers, ponder their context and
              significance, and do so on your own time. Life favors the prepared
              (paraphrasing Louis Pasteur @Q529). To understand and be capable of
              articulating your stance is a competitive advantage and will help
              you identify others who align.
            </li>
            <li>
              If someone asks you for your biggest life learning, you should have
              some pre-meditated answer
            </li>
            <li>
              If someone asks you for your favorite philosopher, you should have
              some pre-meditated answer. A philosopher is simply one who is
              passionate about something. Who cares about something, thinks about
              something, and develops conventions and methodologies to address
              this something. The only reason not to have a favourite is because
              you haven't found a "something" you care enough about that you're
              willing to learn from others.
            </li>
            <li>
              If someone asks you your life mission, or what you stand for, you
              should have some pre-meditated answer

            </li>
          </ul>
        </div>

      </div>

      <div id="outline-container-6" class="outline-2">
        <h2 id="sec-6"><span class="section-number-2">6</span> Notes on Engineering Systems </h2>
        <div class="outline-text-2" id="text-6">

          <ol>
            <li>
              Build systems which compound and value to each other (common infrastructure)
            </li>
            <li>
              Build systems which are isolatable (easy for people to setup and maintain)
            </li>
            <li>
              Be weary of using bleeding edge tools which don't have some stand-in replacement
            </li>
            <li>
              Shims are a low friction way to make existing services
              interoperable with each other, but writing them requires
              O(n) time (a shim for each non-interoperable service).
              A constant time solution requires protocol-level
              consensus, where features can be arbitrary
              incorporated into each node's protocol and subsets of
              systems can choose to agree.
            </li>
          </ol>
        </div>

      </div>

      <div id="outline-container-7" class="outline-2">
        <h2 id="sec-7"><span class="section-number-2">7</span> Provenance: Keep a trail </h2>
        <div class="outline-text-2" id="text-7">

          <ol>
            <li>
              Write everything down, record everything, always have access to these records; make it handy and searchable. Build interfaces to improve accessibility.
            </li>
            <li>
              Maintain a table of contents for your life
            </li>
            <li>
              Maintain a list of the problems which you want to solve, and ideas for solving them
            </li>
            <li>
              Use version control on everything you can
            </li>
            <li>
              Keep a common book where you evaluate what problems are
              important to you, why they are important, what resources
              and solutions you have discovered, and who else cares
              about these problems. If you have a problem, others
              likely have the problem. And being a source of
              organization carries with it gravity which can bring to
              it additional gains to server your collective cause.
            </li>
          </ol>
        </div>

      </div>

      <div id="outline-container-8" class="outline-2">
        <h2 id="sec-8"><span class="section-number-2">8</span> Dealing With Others </h2>
        <div class="outline-text-2" id="text-8">

          <ol>
            <li>
              Research people before you connect. Look through their linkedin, understand
              who they know. Never ask if they "know someone". Do the work for them.
            </li>
            <li>
              Try your own ideas yourself before approaching others

            </li>
          </ol>
        </div>

      </div>

      <div id="outline-container-9" class="outline-2">
        <h2 id="sec-9"><span class="section-number-2">9</span> Permenance </h2>
        <div class="outline-text-2" id="text-9">

          <p>This is a hard problem. Turning every computer in the world into an
            equitable/fair network of distributed, secure, non-monopolizable storage where
            incentives are aligned to store files and ensure redundancy (e.g. Filecoin, IPFS)
          </p>
        </div>

      </div>

      <div id="outline-container-10" class="outline-2">
        <h2 id="sec-10"><span class="section-number-2">10</span> Connect everything you can </h2>
        <div class="outline-text-2" id="text-10">

          <ol>
            <li>
              When you meet two people working on a similar problem, introduce them. And do
              so in a way which proposes collaboration on an element on which they
              complimentary, not competitive.<sup><a class="footref" name="fnr.6" href="#fn.6">6</a></sup>
            </li>
            <li>
              List the ways in which problems are or could be connected.
            </li>
            <li>
              Be an edge connector in research: Become an expert in a single field by becoming familiar
              with the fields around it and its application<sup><a class="footref" name="fnr.6.2" href="#fn.6">6</a></sup> (Knuth)
            </li>
            <li>
              Record observations and outcomes of (whether good or bad)

            </li>
          </ol>
        </div>

      </div>

      <div id="outline-container-11" class="outline-2">
        <h2 id="sec-11"><span class="section-number-2">11</span> Experiment </h2>
        <div class="outline-text-2" id="text-11">

          <ol>
            <li>
              Schedule a meeting with someone "impossible" to connect with to
              discussion your and their mutual passion once a month (researchers,
              entrepreneurs, artists)
            </li>
            <li>
              Have a room in your house dedicated to a language or behaviour. (spatial locality)
            </li>
          </ol>
        </div>

      </div>

      <div id="outline-container-12" class="outline-2">
        <h2 id="sec-12"><span class="section-number-2">12</span> Version History </h2>
        <div class="outline-text-2" id="text-12">

          <p>Version 1.0, 2015-12-26, Initial Release
          </p>

        </div>
      </div>

    </div>
  <div id="postamble">
    <p class="author"> Author: root
      <a href="mailto:michael.karpeles@gmail.com">&lt;mek&gt;</a>
    </p>
    <p class="date"> Date: 2015-12-26 23:27:41 PST</p>
  </div>
</div>

