

<div id="root"></div>




<h1>A Question a Day</h1>
<p>
  Towards creating a graph of interconnected knowledge modules (like Metacademy)
</p>

<h2>Advanced Magnetism (Backlog)</h2>
[http://hyperphysics.phy-astr.gsu.edu/hbase/emcon.html#emcon] map
[http://hyperphysics.phy-astr.gsu.edu/hbase/magnetic/curloo.html]


<h2>Backlog</h2>
<ul>
  <li><a href="https://www.physicsforums.com/threads/is-everything-magnetic.409160">Are all objects magnets?</a></li>
  <li>What is a diamagnet</li>
  <li>What is a paramagnet</li>
</ul>




A magnetic domain is region in which the magnetic fields of atoms are grouped together and aligned.
https://www.nde-ed.org/EducationResources/HighSchool/Magnetism/magneticdomain.htm

<h2></h2>

<!-- I want to accumulate / see the path I've taken -->




What types of dipoles are there?
A dipole can arise in many different situations, but most dipoles can be categorized as either electric or magnetic.


a closed circulation of electric current. A simple example of this is a single loop of wire with some constant current through it

http://www.physicspages.com/2013/04/11/magnetic-dipole/



<pre>


<!-- preserve history, order of every access -->









Protein Measurement with the Folin Phenol Reagent


A New Colorimetric Method for the Determination of Plasma Proteins
http://www.jbc.org/content/51/1/33.full.pdf+html

What is Calorimetry?
https://en.wikipedia.org/wiki/Calorimetry

https://en.wikipedia.org/wiki/Blood_proteins


Q: How can gauge vector bosons acquire nonzero masses in the process of spontaneous symmetry breaking?
A: The Englert-Brout-Higgs-Guralnik-Hagen-Kibble mechanism provides
the means by which gauge vector bosons can acquire nonzero masses in
the process of spontaneous symmetry breaking
http://www.scholarpedia.org/article/Englert-Brout-Higgs-Guralnik-Hagen-Kibble_mechanism




What is Spontaneous symmetry breaking?
https://en.wikipedia.org/wiki/Spontaneous_symmetry_breaking

Spontaneous symmetry breaking[1][2][3] is a mode of realization of
symmetry breaking in a physical system, where the underlying laws are
invariant under a symmetry transformation, but the system as a whole
changes under such transformations, in contrast to explicit symmetry
breaking.

[In Physics] What is a symmetry?
A symmetry is a physical or mathematical feature of the system (observed or intrinsic) that is preserved or remains unchanged under some transformation.
https://en.wikipedia.org/wiki/Symmetry_(physics)
</pre>

</
