<h1>Preventing Global &amp; Existential Catastrophe</h1>

<p>Reducing the risk of human extinction and preserving our planet and beyond for future generations</p>

<p>Because how can we and others reach our full potential and accomplish our life goals if our planet gets destroyed and we're all dead?</p>

<p>See also: <a href="https://en.wikipedia.org/wiki/Global_catastrophic_risk">Global catastrophic risk</a> on Wikipedia</p>


<h3>Institutions</h3>
<p>See more <a href="https://en.wikipedia.org/wiki/Global_catastrophic_risk#Organizations">here</a></p>

<ul>
  <li>Future Of Humanity Institute</li>
  <li>The Future of Life Institute</li>
</ul>

<h3>Events</h3>
<ul>
  <li><a href="http://cser.org/">Centre For The Study Of Existential Risk</a> - <a href="http://cser.org/cccr2016/">CSSSR (Cambridge Conference on Catastrophic Risk) </a></li>
</ul>

<h3>Talks</h3>
<ul>
  <li><a href="https://www.youtube.com/watch?v=zRWpPxhQ1o0">Philosopher Nick Bostrom talks about the existential risks faced by Humanity</a></li>
  <li><a href="https://www.youtube.com/watch?v=nL-R2pupetc">Peter Kareiva - Avoiding Species Extinction</a></li>
  <li><a href="https://www.youtube.com/watch?v=DCfLheUxHEI">Dr Toby Ord - Will We Cause Our Own Extinction? Natural versus Anthropogenic Extinction Risks</a></li>
</ul>

<h3>Books</h3>
<p>Are any of the following books good?</p>

<ul>
  <li><a href="https://www.youtube.com/watch?v=dzlxU3g7hUY">Existential Risks and Extreme Opportunities</a></li>
  <li><a href="https://openlibrary.org/books/OL7358492M/How_We_Can_Save_the_Planet">How We Can Save the Planet: Preventing Global Climate Catastrophe</a></li>
  <li><a href="https://www.amazon.com/Global-Catastrophic-Risks-Nick-Bostrom/dp/0199606501">Global Catastrophic Risks</a></li>
  <li><a href="https://www.amazon.com/Our-Final-Century-Survive-Twenty-first/dp/0434008095">Our Final Century?: Will the Human Race Survive the Twenty-first Century?</a></li>
  <li><a href="https://www.amazon.com/Our-Final-Hour-Scientists-Warning/dp/0465068634">Our Final Hour: A Scientist's Warning</a></li>
  <li><a href="https://www.amazon.com/End-World-Science-Ethics-Extinction/dp/0415184479">The End of the World: The Science and Ethics of Human Extinction</a></li>
</ul>

<h3>Open Questions</h3>
<p>Creating a map of the terrian, and a venacular</p>
<ul>
  <li>What institutions are working on global catastrophic and existential risk?</li>
  <li>How likely are various risks, which are the most likely, which the most devistating?</li>
  <li>Which individuals have the best understanding of catastrophic risk?</li>
  <li>What can we do to prevent global or existential catastrophe?</li>
  <li>If some event cannot be avoided, how can we surive it? (e.g. a table of events -> strategies)</li>
  <li>What are the best books or resources on the subject?</li>
</ul>
