<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmichael.karpeles%2Fposts%2F10103768535222070&width=500" width="500" height="223" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

<pre>

On Chinese, the Basics:

In Atlanta, I've been trying to get better at Chinese. I think I've found a fairly good solution. Prepare yourself for a Mek-style essay.

Why Chinese?:
- About 3x as many people speak Chinese (1st language) as English. It's nice to be able to communicate with people and to know what people are saying (it increases opportunity)
- Linguistically and paradigmatically, Chinese (as an eastern language) and its idioms are about as far as possible from English in their evolution. The language thus provides a lens into a fundamentally different way of thinking about things (both syntactically and semantically). There is real meaning and value to the phrase, "lost in translation". It's nice to interpret things as they are meant to be interpreted.
- Stephen Balaban speaks impeccable mandarin. He's one of the smartest people I know. Of course I like to use him as a marking-post to inspire myself to continuously learn. Since I've known him I wanted to see if I could learn Chinese and have a conversation with him.
- Did you know that Brenton Cheng only speaks to his kids in French? I love this idea; not positive if I have the constitution to do the same, but I'd hate to take it off the table due to lack of putting the time in.

Immediate Goals:
I'd like to be able to
- pass HSK-1 + 2
- know enough to where I could travel to and get by in beijing, shenzhen
- use a computer interface in chinese
- textually chat with friends and carry elementary conversations
- watch an easy drama with no pinyin or english subtitles

What I've tried:
Everyone learns different. I spent about a year and a half noncommittally "learning" (https://www.facebook.com/michael.karpeles/posts/10103295336745610). I tried textbooks, watched asian dramas, tried to jump into Chinese chat rooms or found random people on wechat and hellotalk, tried duo-lingo, watched youtube lessons, tries a coursera class, tried keeping a chinese journal. My conclusion has been, it's really hard to create a curriculum for yourself when you have no idea what you're doing. And Chinese is as foreign as skill as a native English speaker can get if one doesn't have the right guide (a tutor, a class, etc). What about a tutor?

Something to know about me:
I am *extremely* cheap with myself (fiscally) and strangely principled. I like to use what resources other people have freely accessible to them, on a weird matter of principle. This means I tend to steer clear of tutors and other paid resources like courses. I feel confident the resources must exist out there, and I'd like to contribute and give back by stringing them together, not paying for the best lessons with privilege. At least not until I've exhausted all my other options and stuck with it long enough to convince myself I've gotten as far as I can myself. Weird? Yeah, but that's me.

So what's worked?
1) Stayed with pinyin training wheels and took them off as soon as possible.

I learned enough pinyin to understand how to pronounce words. I did a good portion of the first 2 sections of ChineseSkill app using pinyin. Then eventually I bit the bullet and turned pinyin off (once I had good coverage of the different sounds and strange cases). 

2) HelloChinese - this app is great. It's superior to spanish-quality duolingo. Same skill tree you love, native speakers, voice + tone correction, explanations, games, spaced-repetition w/ daily reminders. Even podcasts where they walk you through interactions.  
3) ChineseSkill + Words (spaced repetition). It's basically HelloChinese (perhaps an even better version). It's harder, in my opinion, and I found HelloChinese easier to stick with, especially because of its spaced repetition. It's completely worth doing both. Increases the number of unique sentences, voices, and vocabulary. And ChineseSkill has a "Words" version for HSK spaced repetition.
4) Pleco + Google Translate. Pleco is perhaps the best translating app I've ever used. It has a similar flavor to Anki. It's a swiss-army knife and takes away the pain of looking up words from various contexts.
5) Typing or speaking to Ariel Liu (though I think this is driving her crazy, especially since my tones are bad and speaking is what I practice least -- my reading is getting passable).
6) "zhongwen chinese popup dictionary" chrome extension (translate-in-place). And the google chinese keyboard (hold spacebar to change language). And the SCIM pinyin input package for debian (linux).
7) Youtube videos -- https://www.youtube.com/user/LitaoChinese this
8) Viki: (especially their "learn mode" which allows you to introspect characters and see their definition. warning, most Chinese + taiwanese dramas are pretty not great and also most don't have "learn mode...")
- https://www.viki.com/tv/33387c-pretty-li-hui-zhen
- https://www.youtube.com/watch?v=oKfwOtB9rnc
- https://www.viki.com/tv/20292c-just-you (has learn mode, but... dang, little hard to watch)
9) *Super* excited to return to SF and work through the copy of  ЛИНЗИ КУИН and Jon Robson's "a little daily dose" which they left on my desk!..!!!

(Not Quite) Pro-tips:
- I was convinced 3rd tone went down and then up. It's a lie. 3rd tone sounds like a low zombie note.
- Some words like "一" (yi) change tone depending on the tones of the word it precedes: https://resources.allsetlearning.com/chinese/pronunciation/Tone_change_rules. Same is true for "不" (not). Then there's  the special rule for 3rd tone followed by a 3rd tone (the first 3rd tone becomes a 2nd rising tone). Yeah, it's tough.
- When using an app like HelloChinese or ChineseSkillz, force yourself to read every sentence out loud (both reading the Chinese characters and practicing tones) until you feel comfortable with the sentence.
- When doing spaced repetition, practice *just* listening (no looking at the hanzi / characters). And when practicing the characters, mute the audio
- There are studies which show you learn more much from watching a show in a foreign language without english subtitles (or pinyin). Even if you're lost, watch for the context and the phrasing (I am not quite at the point where I can do this well).
- Chinese words come in two's. If two words don't make sense with each other, it's most likely an expression. There are very few sentences which can be translated word by word. (but for HSK-1 words, almost all of them can be). It gets harder as you venture into idioms.
- Tell yourself stories about characters. I've got a ton of them:
* 喝 - looks like Stephen Balaban wearing a lambda labs shirt holding a bottle. "he" means to drink
* 买 - looks like a person dropping coins on a counter (makes more sense if you consider 人 is a person)
- There are also rules about being able to predict the approximate sound or semantics of a word through its radicals + base (but I can never remember this -- someone please point me to a video about this). maybe https://ninchanese.com/blog/2016/06/29/chinese-character-phonetic-components?
- Some words don't sound like their pinyin at all, you just have to remember them. Like “zi ci si zhi chi shi ri” in Mandarin https://www.youtube.com/watch?v=if9UTOvQkJo

Share your tricks:
Please! How can one inexpensively improve their speech recognition and speaking? Where can this 白人 get away with speaking to people in Chinese (without traveling overseas or hiring a tutor)?

cc: Ryan Pon (who is in a reading club that I've been trying to sneak into), Ben Yu and Jasmine Wang who I think I've read have similar learning goals?
</pre>

<p>other materials</p>
<ul>
  <li><a href="https://www.youtube.com/watch?v=BDtIRY8RCMg">https://www.youtube.com/watch?v=BDtIRY8RCMg</a></li>
  <li><a href="https://www.youtube.com/channel/UCdwdSGQsSbcapDmODtOr58g/featured">https://www.youtube.com/channel/UCdwdSGQsSbcapDmODtOr58g/featured</a></li>
  <li><a href="https://www.youtube.com/watch?v=tqDNBhKrTZQ">https://www.youtube.com/watch?v=tqDNBhKrTZQ</a></li>
</ul>
