<style type="text/css">
ol {
  counter-reset: o-counter -0;
  list-style-type: none;
}
ol li:before {
  content: '[' counter(o-counter) '] ';
  counter-increment: o-counter;
}
</style>

<h1><a href="https://en.m.wikipedia.org/wiki/Supervenience">Supervenience</a>: (An Attempt at) A Unified Theory of the Universe</h1>
<p>The following is a work in progress, not all resources have been reviewed or vetted.</p>

<h2><a href="/curations/physics">Physics</a> &amp; The Beginning of the Universe</h2>
<pre>
Event: The Big Bang (BB) 
Time: 13.7 billion years ago [1]

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/History_of_the_Universe.svg/800px-History_of_the_Universe.svg.png"/>
History of the Universe - gravitational waves are hypothesized to
arise from cosmic inflation, an expansion just after the Big
Bang. (see: https://commons.wikimedia.org/wiki/File:History_of_the_Universe.svg)

Clarification: "The big bang is not like an explosion of matter in
  otherwise empty space; rather, space itself began with the big bang
  and carried matter with it as it expanded"[2]

Evidence:
- The expansion of the Universe:
  http://ugcs.caltech.edu/~yukimoon/BigBang/BigBang.htm#Expansion
  http://sps.ch/en/articles/history-of-physics/from-static-to-expanding-models-of-the-universe-4

- Helium and Deuterium Abundance in Universe:
  http://www.ugcs.caltech.edu/~yukimoon/BigBang/BigBang.htm#Helium

- Cosmic Background Radiation from Big Bang:
  http://www.ugcs.caltech.edu/~yukimoon/BigBang/BigBang.htm#Background

Essays:
- Stephen Hawking 
  http://www.hawking.org.uk/the-beginning-of-time.html

Experiments:

</pre>

<h2>Chemistry: The Forming of the Elements</h2> 
<pre>
2. <a href="https://en.wikipedia.org/wiki/Big_Bang_nucleosynthesis">Big Bang Nucleosynthesis</a> (BBN, primordial nucleosynthesis): Quarks
   combined to form Hydrogen (and Deuterium, Hydrogen isotope),
   Helium, Lithium, And Beryllium nuclei (no atoms yet; too hot).

Time: ~10 seconds to ~20 minutes (after BB)

Evidence: ???

3. Recombination: +300,000 years, Hydrogen, Helium, Lithium, And Beryllium atoms created; lightest of the elements.
Evidence: "Echoes" from Cosmic Microwave Background http://map.gsfc.nasa.gov/universe/bb_tests_cmb.html

4. Nuclear Fusions: 

Reference: http://hyperphysics.phy-astr.gsu.edu/hbase/forces/funfor.html
https://en.wikipedia.org/wiki/Stellar_nucleosynthesis -- see Key Reactions

An Overview:
http://www.haystack.mit.edu/edu/pcr/Astrochemistry/3%20-%20MATTER/nuclear%20synthesis.pdf

The Physics and Chemistry of the Interstellar Medium
http://www.amazon.com/Physics-Chemistry-Interstellar-Medium/dp/0521533724/ref=sr_1_9?ie=UTF8&qid=1435255247&sr=8-9&keywords=physics+chemistry

Experiments:

</pre>

<h2>Abiogenesis: The Emergence of Organic Chemistry &amp; Biology</h2>
<pre>
Overview of Organic Chemistry: http://www.chemistryexplained.com/Ny-Pi/Organic-Chemistry.html
A Coherent Unified Theory for "The Origin of Life": http://users.rcn.com/jkimball.ma.ultranet/BiologyPages/A/AbioticSynthesis.html
http://people.chem.duke.edu/~jds/cruise_chem/Exobiology/miller.html
http://www.cliffsnotes.com/sciences/biology/biology/the-origin-and-evolution-of-life/origin-of-organic-molecules
The Self-Assembly of Organic Molecules and the Origin of Cellular Life http://www.ucmp.berkeley.edu/education/events/deamer1.html
RNA Self-assembly: Cooperation at the Origins of Life | Niles Lehman https://www.youtube.com/watch?v=vrpADqF3VBo

The Origin of Life - Abiogenesis - Dr. Jack Szostak
https://www.youtube.com/watch?v=U6QYDdgP9eg

"What is Life?: How chemistry becomes biology", Addy Pross
http://www.amazon.com/What-Life-chemistry-becomes-biology-ebook/dp/B008RYSKKS/ref=sr_1_2?ie=UTF8&qid=1435254982&sr=8-2&keywords=the+origins+of+chemistry
</pre>

<h2>Darwinian Evolution</h2>

Interactions:
http://tolweb.org/Life_on_Earth/1
http://itol.embl.de/itol.cgi

(static)
Chief Taxanomic Subdivisions and Organ Systems of the Animal Phyla www.mpcfaculty.net/kevin_raskoff/classes/biology22/wall_chart.jpg

<a href="http://users.rcn.com/jkimball.ma.ultranet/BiologyPages/A/AbioticSynthesis.html#AssemblingPolymers">The Origin of Life (Compiled by John Kimball)</a>
<ul>
  <li><a href="#AbioticSynthesis_of_OrganicMolecules">Abiotic Synthesis of Organic Molecules</a>
<ul>
  <li><a href="#Miller's_Experiment">1. Miller's Experiment</a>
    </li><li><a href="#Molecules_from_outer_space?">2. Molecules from outer space?</a>
    <ul><li><a href="#Panspermia:_The_Murchison_Meteorite">The Murchison Meteorite</a>
        </li><li><a href="#The_ALH84001_meteorite">The ALH84001 meteorite</a>
        </li><li><a href="#interstellar_organics">Organic Molecules in Interstellar Space</a>
        </li><li><a href="#MimickingSpace">Laboratory Synthesis under Conditions like those in Outer Space</a>
</li></ul>
    </li><li><a href="#Deep-SeaHydrothermalVents">3. Deep-Sea Hydrothermal Vents</a>
    </li><li><a href="#MeteoriteImpact">4. Laboratory Synthesis of Nucleobases Under Conditions Mimicking<br> the Impact of Asteroids or Comets on the Early Earth</a>
    </li></ul>
</li><li><a href="#AssemblingPolymers">Assembling Polymers</a>
    <ul><li><a href="#An_RNA_Beginning">An RNA Beginning?</a></li></ul>
    </li><li><a href="#Reproduction?">Reproduction?</a>
    </li><li><a href="#TheFirstCell?">The First Cell?</a>
    </li><li><a href="#multicells">From Unicellular to Multicellular Organisms</a>
    </li><li><a href="#LUCA">The Last Universal Common Ancestor (LUCA)?</a>
    </li><li><a href="#CreatingLife">Creating Life?</a>
    </li>
</ul>

<h3>The Nervous System &amp; NeurologyϮ</h3>
<pre>Ϯ I am taking Neurology to mean the "scientific study of the
nervous system," 1680s, from Modern Latin neurologia, from Modern
Greek neurologia (1660s)
(see <a href="http://www.etymonline.com/index.php?term=neurology">etymology of neurology</a>)

Hypotheses:
https://www.youtube.com/watch?v=6RbPQG9WTZM
The following should be considered as axioms in sequence:
- <a href="http://www.ncbi.nlm.nih.gov/pubmed/11743207">Prokaryotic Voltage-Gated Sodium Channels</a>
- action potential sodium and potassium ions channels (repeaters, like alternating current, v. DC)
- Synapses, molecular pores
- receptors (came first), glutamate receptors (before multi-cellular life)
Glutamate transport in wild-type and mutant strans of escherichia coli
- neurotransmitters
- basic circuits (synapse 

Other Hypotheses:
https://www.youtube.com/watch?v=232wtCuLsoI&feature=youtu.be&t=17m00s
- Evolutionary Neuroscience (p.45) The Auricularia Hypothesis
- Hemichordate Hypothesis
- <a href="https://en.wikipedia.org/wiki/Inversion_(evolutionary_biology)">Inversion Hypothesis</a>

<h2>Resources:</h2>
<ul>
<li><a href="https://web.stanford.edu/class/history13/earlysciencelab/body/nervespages/nerves.html">https://web.stanford.edu/class/history13/earlysciencelab/body/nervespages/nerves.html</a></li>
<li><a href="http://www.sciencedirect.com/science/article/pii/S0960982214007520">http://www.sciencedirect.com/science/article/pii/S0960982214007520</a></li>
<li><a href="http://rstb.royalsocietypublishing.org/content/363/1496/1523">http://rstb.royalsocietypublishing.org/content/363/1496/1523</a></li>
<li><a href="http://scienceblogs.com/neurophilosophy/2009/07/03/evolutionary-origins-of-the-nervous-system/">http://scienceblogs.com/neurophilosophy/2009/07/03/evolutionary-origins-of-the-nervous-system/</a></li>
<li><a href="https://arxiv.org/pdf/gr-qc/9704009.pdf">https://arxiv.org/pdf/gr-qc/9704009.pdf</a></li>
<li><a href="http://www.alcyone.com/max/physics/laws/">http://www.alcyone.com/max/physics/laws/</a></li>
</ul>

</pre>

<h2>Sources</h2>
<ol>
  <li><a href="http://www.haystack.mit.edu/edu/pcr/Astrochemistry/3%20-%20MATTER/nuclear%20synthesis.pdf">http://www.haystack.mit.edu/edu/pcr/Astrochemistry/3%20-%20MATTER/nuclear%20synthesis.pdf</li>
  <li><a href="http://www.ugcs.caltech.edu/~yukimoon/BigBang">http://www.ugcs.caltech.edu/~yukimoon/BigBang</a></li>
  <li><a href="https://www.quantamagazine.org/wp-content/uploads/iframe/PhysicsMap/index.html">https://www.quantamagazine.org/wp-content/uploads/iframe/PhysicsMap/index.html</a></li>
  <li><a href="http://www.physicsoftheuniverse.com/topics_bigbang_timeline.html">http://www.physicsoftheuniverse.com/topics_bigbang_timeline.html</a></li>
  <li><a href="https://www.facebook.com/michael.karpeles/posts/10102843060944940">Relevant post I made on facebook</a></li>
</ol>
</pre>
