This is pretty amazing. 
https://www.youtube.com/watch?v=VhuiMRIn6GM

Provenance Trail:
The past few days I've gone down a rabbit hole. First, I became interested in the relationship between electric circuits (physical engineered implementations of boolean logic) and biological components[1]. There is a field dedicated to the emulation of biological components via boolean logic hardware (transistors, etc) -- namely systems biology. There is another field -- namely biocomputing -- which attempts to achieve some of the same learnings from the opposite direction, by creating physical boolean logic gates using biological material[3] -- namely biocomputing. There is yet another field, synthetic biology, which constitutes the interaction of engineering practices and biology to design and synthesize biological components for specific applications.   

Before I could jump in to any one of these fields too deeply, to connect the dots, I had to consider, what is below the "cell"? What are the simplest biological constructs (molecules, systems) made of the elements? This question too has two directions. One, the we can deductive the structure and components of the "cell" (from the cell down to its lowest level constituent parts) or two, we can inductively determine the arrangement of chemicals and circumstances requires for biological, organic matter and systems to emerge from pure chemistry (abiogenesis/biopoiesis -- see Miller-Urey experiment)[4]. Synthetic biology can be used as a medium/control (kind of like a Schmitt trigger is used in electronics for making circuits robust against variability of electricity) for controlling variables and verifying results.

How does synthetic biology work? I first watched this[5] video which followed a team of new biology researchers in a project to create bacterial capable of changing color within parasite infested water. The video is very practical and also follows environment consequences and implications, design considerations, and the reality of experimentation (regression testing), and team/lab dynamics. 

[1] https://michaelkarpeles.com/essays/science/towards-curry-howard-lambek-biology-correspondence
[2] An Introduction to Systems Biology: Design Principles of Biological Circuits
https://books.google.com/books?hl=en&lr=&id=tcxCkIxzCO4C
[3] Synthesizing Biomolecule-based Boolean Logic Gates http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3603578/
[4] Miller–Urey Experiment https://en.wikipedia.org/wiki/Miller%E2%80%93Urey_experiment 
[5] Creating Life - The Ultimate Engineering Challenge. (Synthetic Biology documentary) https://www.youtube.com/watch?v=ushmgPM7HT8
[6] Labster - Synthetic Biology Virtual Lab Simulation
https://www.youtube.com/watch?v=VhuiMRIn6GM

cc: Mat Wajda​


