<li class="music-art sec">
  <a name="music-art"><h2>Music &amp; Art</h2></a>
  <p>Enjoying and creating art.</p>
  <ol>
    <li>
      <a href="/music/playlist">A list of music I enjoy</a>
    </li>
    <li>
      <a href="/music/recordings">A collection of songs I've recorded</a>      
    </li>
    <li>
      <a href="/art/poetry">Poetry</a>
    </li>
    <li>
      <a href="https://github.com/mekarpeles/quintet">Quintet</a> A book I am casually writing. (<a href="https://gingkoapp.com/app#7583e86719847f0984000160">notes</a> and <a href="https://gingkoapp.com/app#75e29c2fb1abcb3e5e000059">more notes</a>)
    </li>
  </ol>
</li>
