<h2 id="music-art" name="music-art">Music &amp; Art</h2>

{% include "toc.html" %}

<p>You can listen to Mek's <a href="http://soundcloud.com/mekarpeles">music recordings on soundcloud</a> or in this <a href="/music/recordings">legacy collection</a>. You can also browse his <a href="/art/poetry">lyrics and poetry</a>. You can also browse a list of some of my <a href="/music/playlist">favorite songs and performances</a>.</p>

<h3 id="music-videos">Music Videos</h3>
<div class="show">
  <div>
    <p>The innagural performance of Katz &amp; Mekfunkel</p>
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fabe.katz%2Fvideos%2F10215863082430267%2F&t=290&show_text=0&width=560" width="560" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  </div>

  <div>
    <p>Improvising Peter Hollen's, "Misty Mountain" from Lord of the Rings</p>
    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fmichael.karpeles%2Fvideos%2F1063338214432792%2F&show_text=false&width=560&t=0" width="560" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
  </div>

  <div>
    <p>Mek covering, "Yesterday" by the Beatles</p>
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmichael.karpeles%2Fvideos%2F10103611445446240%2F&show_text=0&width=560" width="560" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  </div>

  <div>
    <p>Mek covering, "Landlocked Blues" by Bright Eyes</p>
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmichael.karpeles%2Fvideos%2F10103500508594580%2F&show_text=0&width=560" width="560" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  </div>

  <div>
    <p>Mek covering, "At the Zoo" by Simon and Garfunkel</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tZlRFFgV1x4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div>
    <p>"Close Your Eye", by James Taylor</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y5AOs0vTZqI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div>
    <p>"Song for the Asking", by Simon &amp; Garfunkel</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7XLR7PCSiG8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>
