<h1>Juxtapose</h1>
<pre>
       C   (0,0)(0,1) G     C
The trees leaves are green ... 

(2,3) (2,2) (2,0) F    (4,2)  (0,0)  G         C
bliss-fly            soa--    king  up-- the sun

  Dm      E       Am  G full-F
Shimm'ring with  excstacy
   Dm      G (2,0) (2,2)      C
Swaying   with--     the     wind

   F     G       C        Am
A shadow cast across the street
  Dm     G             full-F    G       C
Shade the people as they go    bout their day

C I occupy an empty room
CMaj7 Observe it all-- from the  3rd floor--
C7 window of my catacomb

F
A church bell ques the hour by
Ddim/G#                                        (Am7)  A  
I'm feeling kinda blue, but ain't got no tears to cry

CHORUS

high-F       G     C -> Am
Sweet juxtapo-sition

high-F    G     C
Fire against the rain

low-F     E7        Am  G  F   Dm     G  C... C7--
Each   day  brings happiness, every day brings pain

high-F    G     C -> Am
Sweet juxtaposition

high-F    G     C
the loss which follows gain?

low-F     E7        Am   G     F?   Dm     G      C
Each day-prom-is-es something new, every day's the same
</pre>
