

<style type="text/css">
  .artist {
  color: green;
  }

  .song {
  color: purple;
  }
</style>

<ul>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=Gq681aDM53U">So Long, Lonesome</a></span>
    <span class="artist">Explosions in the Sky</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=TnTCwg7-UKg">The Birth and Death of the Day</a></span>
    <span class="artist">Explosions in the Sky</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=tADWPTqR_4A">NPR Music Tiny Desk Concert</a></span>
    <span class="artist">Julien Baker</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=ai3UhslbPOk">Benedictus</a></span>
    <span class="artist">Simon and Garfunkel</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=gzmgJ_ZOqrE">Wednesday Morning, 3 A.M.</a></span>
    <span class="artist">Simon & Garfunkel - Wednesday Morning, 3 A.M.</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=2Pf_DntbQ8Y">Strangest Dream</a></span>
    <span class="artist">Simon & Garfunkel - Wednesday Morning, 3 A.M.</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=UgNx-fPHNYM">Bleecker Street</a></span>
    <span class="artist">Simon & Garfunkel - Wednesday Morning, 3 A.M.</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=AsmrNjBon8w">Peggy-O</a></span>
    <span class="artist">Simon & Garfunkel - Wednesday Morning, 3 A.M.</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=A1WoYqVfio0">Wachet auf, ruft uns die Stimme, BWV 645</a></span>
    <span class="artist">J. S. Bach, arranged by David J. Miller</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=2bosouX_d8Y">Ave Maria</a></span>
    <span class="artist">Schubert's Ave Maria - Barbara Bonney</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=LIOh5Iq683o">Double Violin Concerto</a></span>
    <span class="artist">Johann Sebastian Bach</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=UYIAfiVGluk">Hide and Seek</a></span>
    <span class="artist">Imogen Heap</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=N4BH3G_R9wY">Violin Concerto No. 3</a></span>
    <span class="artist">Wolfgang Amadeus Mozart</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=CK6lVqclnJs">Waltz in C sharp minor, op.64, 2</a></span>
    <span class="artist">Frédéric Chopin</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=DquA6KyHTos">Danny Boy</a></span> 
    <span class="artist">Celtic Woman</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=uy1_vARLIp0&feature=youtu.be&t=4m23s">Stepbrothers Improvisation</a></span>
    <span class="artist">Chris Thile &amp Jon Brion</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=ZTis0S9zxXg">Floydfest 2012-07-28</a></span>
    <span class="artist">Chris Thile</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=pWyPhQkZNLw">Scarborough</a> <a href="https://www.youtube.com/watch?v=nWu6ney5hYQ">Fair</a></span>
    <span class="artist">Simon and Garfunkel</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=mj6fCgEvUOg">Fiddle and the Drum</a></span>
    <span class="artist">A Perfect Circle</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=zGi9ODzjtCo">Je ne vis onques la pareille</a></span>
    <span class="artist">Gilles Binchois</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=i3dB0qEcG20">The Secret of Monkey Island Theme Song</a></span>
    <span class="artist">Michael Land, Barney Jones, and Andy Newell of Earwax Productions(w/ Lucas Arts)</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=E_D0i7UC9UY">Close Your Eyes</a></span>
    <span class="artist">James Taylor</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=quMlRhlVR3I">Somebody to Love</a></span>
    <span class="artist">Queen</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=WbWhpfXisZw">Arriving Somewhere but Not Here</a></span>
    <span class="artist">Porcupine Tree</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=NeooHiX4oH0">Stairway to Heaven</a></span>
    <span class="artist">Stanley Jordan</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=Xn9IqOTIkD4">The Chicken</a></span>
    <span class="artist">Jaco Pastorius & John Scofield</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=O7EcT5YzKhQ">Quarter Chicken Dark</a></span>
    <span class="artist">The Goat Rodeo Sessions</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=1WPGdjZr8PI">A Go Go</a></span>
    <span class="artist">John Scofield</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=0w4EniMwlD0">Sex in a Pan</a></span>
    <span class="artist">Bela Fleck and the Flecktones</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=Js6JHwHYFk4">I Don't Need No Doctor</a></span>
    <span class="artist">John Mayer and John Scofield</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=xqgtWCUEGBg">Kickin' Up Dust</a></span>
    <span class="artist">Robert Walter</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=GH7eUlri4yM">Chiptune Compilation</a></span>
    <span class="artist">Curated by ReclusiveLemming</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=ivOrKizry94">Don't Cry For Me Argentina (2013)</a></span>
    <span class="artist">Nicole Scherzinger</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=SIxOl1EraXA">La Marseillaise</a></span>
    <span class="artist">Mireille Mathieu</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=cfuEIHEZobc">Danish String Quartet: NPR Music Tiny Desk Concert</a></span>
    <span class="artist">Danish String Quartet</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=li0AAtN_-is">Your Winter (Acoustic)</a></span>
    <span class="artist">Sister Hazel</span></li>
  <li>
    <span class="song"><a href="https://listenonrepeat.com/?v=rKop9PKxdo4">If Spring Comes</a></span>
    <span class="artist">Ahn Ye Eun</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=qzU9OrZlKb8">Till The World Ends</a></span>
    <span class="artist">Britney Spears</span></li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=RMHguvZPcqQ">Vivaldi - Gloria</a></span>
    <span class="artist">Vivaldi</span></li>
  <!--
  <li>
    <span class="song"><a href=""></a></span>
    <span class="artist"></span></li>
-->

</ul>

<p>December 22, 2016 - beautiful musical performances worth listening</p>
<ul>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=ivOrKizry94">Don't Cry For Me Argentina</a></span>
    <span class="artist">Nicole Scherzinger</span>
  </li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=tI4jb-Aca9M">Bring Him Home (Les Misérables)</a></span>
    <span class="artist">Alfie Boe</span>
  </li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=qqWTxI0JdWo">Bring Him Home (Les Misérables)</a></span>
    <span class="artist">Jeff Leyton</span>
  </li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=pi_Ocd9IALc">A Whole New World</a></span>
    <span class="artist">Lea Salonga</span> and <span class="artist">Brad Kane</span>
  </li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=osvdGAD0z5c">I Don Quixote (Man of La Mancha)</a></span>
    <span class="artist">Colm Wilkinson</span>
  </li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=cjp-Gyo5tNM">Red and Black (Les Misérables)</a></span>
    <span class="artist">Aaron Tveit</span> and <span class="artist">Eddie Radmayne</span>
  </li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=Hzm0SJc6GZs">Impossible Dream (Man of La Mancha)</a></span>
    <span class="artist">Brian Stokes Mitchell</span>
  </li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=ArBmnO4BN8w">Point of No Return (Phantom of the Opera)</a></span>
    <span class="artist">Ramin Karimloo</span> and <span class="artist">Sierra Boggess</span>
  </li>
  <li>
    <span class="song"><a href="https://www.youtube.com/watch?v=dQH-qrk5G6A">The Hills Are Alive (Sound of Music)</a></span>
    <span class="artist">Sierra Marcy</span>
  </li>
</ul>
