<h1>Poetry &amp Lyrics</h1>

<h2>Juxtapose</h2>
<pre>
       C   (0,0)(0,1) G     C
The trees leaves are green ... 

(2,3) (2,2) (2,0) F    (4,2)  (0,0)  G         C
bliss-fly            soa--    king  up-- the sun

  Dm      E       Am  G full-F
Shimm'ring with  excstacy
   Dm      G (2,0) (2,2)      C
Swaying   with--     the     wind

   F     G       C        Am
A shadow cast across the street
  Dm     G             full-F    G       C
Shade the people as they go    bout their day

C I occupy an empty room
CMaj7 Observe it all-- from the  3rd floor--
C7 window of my catacomb

F
A church bell ques the hour by
Ddim/G#                                  (Am7)  A  
I'm ocean blue, I'm a desert, with no tears to cry

CHORUS

high-F       G     C -> Am
Sweet juxtapo-sition

high-F    G     C
Fire against the rain

low-F     E7        Am  G  F   Dm     G      C7
Each   day  brings happiness, every day brings pain

high-F    G     C -> Am
Sweet juxtaposition

high-F    G     C
the loss which follows gain?

low-F     E7        Am   G     F?   Dm     G      C
Each day-prom-is-es something new, every day's the same
</pre>


<h2>Bark</h2>
<pre>
Regret is this rotten slab of wood, before my hands how tall you stood.
How delightful, your cedar sawdust smell, even as your timber fell.
Your roots, we leave behind, I do not think you'll mind.

I must deny your final boon, to live by helping others bloom,
No sooner killed than be exhumed, to compliment a well lit room.
Your imperfections, they must be treated soon.

The pure feel of your finely sanded grains, your identity my fingers
deliquesce in moments. How many rings have your years painstakingly
crafted? They will be painted soon.

Your rhytidome, unsightly, stripped; a fresh coat of colored poison
drips. Should your new skin crack or chip, I'll restore you to your
former glory. How lovely you'll look soon after, freshly manicured,
brushed and stroked with tender care, with love. Love for paint, for
that is which we display.

Do not fret, my cedar tree. This same paint too covers me.
But lest we be truly seen, as we were meant to be?
</pre>


<h2>Acting</h2>
<pre>
the rights of we who spring to act /
on outcomes past decided /
were ours only a breath ago /
but for priorities misguided
for long we'd spake resistance /
but thought far from its inflection /
this issue in the distance /
in need of no protection
our words, noble, live now but to die /
as exercise for our cracked lips /
never to reach the ears of passers by
my freedoms lost I mourn them /
and given chance again /
each petition I would sign /
if only in my mind
</pre>

<h2>Nerd-core Raps</h2>
<ul>
  <li><a href="https://www.facebook.com/michael.karpeles/posts/10102128701177640">Don't Stop This Rigor</a></li>
  <li><a href="https://www.facebook.com/michael.karpeles/posts/158078120986021">Lispnik</a> (<a href="https://www.facebook.com/michael.karpeles/posts/343680159074647">video</a>)</li>
</ul>
