<h1>Poetry &amp Lyrics</h1>

<h2>Bark</h2>
<pre>
Regret is this rotten slab of wood, before my hands how tall you stood.
How delightful, your cedar sawdust smell, even as your timber fell.
Your roots, we leave behind, I do not think you'll mind.

I must deny your final boon, to live by helping others bloom,
No sooner killed than be exhumed, to compliment a well lit room.
Your imperfections, they must be treated soon.

The pure feel of your finely sanded grains, your identity my fingers
deliquesce in moments. How many rings have your years painstakingly
crafted? They will be painted soon.

Your rhytidome, unsightly, stripped; a fresh coat of colored poison
drips. Should your new skin crack or chip, I'll restore you to your
former glory. How lovely you'll look soon after, freshly manicured,
brushed and stroked with tender care, with love. Love for paint, for
that is which we display.

Do not fret, my cedar tree. This same paint too covers me.
But lest we be truly seen, as we were meant to be?
</pre>


<h2>Acting</h2>
<pre>
the rights of we who spring to act /
on outcomes past decided /
were ours only a breath ago /
but for priorities misguided
for long we'd spake resistance /
but thought far from its inflection /
this issue in the distance /
in need of no protection
our words, noble, live now but to die /
as exercise for our cracked lips /
never to reach the ears of passers by
my freedoms lost I mourn them /
and given chance again /
each petition I would sign /
if only in my mind
</pre>
