

.demo {
    color: #999;
}

ol {
    counter-reset: item;
}
ol li {
    display: block;
    position: relative;
}
ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
}

ol li.sec:before{
    font-size: 1.5em;
}

ol li.sec2:before{
    font-size: 1.1em;
}