<h2>Justification</h2>

<p>
  In the spirit
  of <cite><a href="https://en.wikipedia.org/wiki/Sakichi_Toyoda">Sakichi
  Toyoda</a></cite>'s <a href="https://en.wikipedia.org/wiki/5_Whys">5
  Why's</a>, my purpose for wanting to create a living Universal
  Knowledge Map comes from my belief that, without one, the world will
  progress more slowly, less efficiently, and with more mistakes.
</p>

<p>
  Why? For four reasons:
</p>

<ol>
  <li>
    People often talk past each other or lie to each other. Partly
    because they can (and it serves them to) and party because there's
    no central, mutually relatable point of truth by which people can
    align / ground / relate their understanding. Thus, a Universal
    Knowledge Map would mean more productive conversation: it would
    help us identify exact points of contention or misunderstandings,
    provide us with a more comprehensive means of checking the factual
    accuracy of statements, and allow us to derive simpler or more accurate models
    to describe complex or inaccessible concepts.
  </li>

  <li>
    Ubiquitous access to a Universal Knowledge Graph would reduce redundant efforts
    and make it more clear where gaps in knowledge are.
  </li>
</ol>
