<p>What it means to be funny:</p>
<blockquote>
McGraw and Caleb Warren, a doctoral student, presented their elegantly
simple formulation in the August 2010 issue of the journal
Psychological Science. Their paper, “Benign Violations: Making Immoral
Behavior Funny,” cited scores of philosophers, psychologists, and
neuroscientists (as well as Mel Brooks and Carol Burnett). The theory
they lay out: “Laughter and amusement result from violations that are
simultaneously seen as benign.” That is, they perceive a violation—”of
personal dignity (e.g., slapstick, physical deformities), linguistic
norms (e.g., unusual accents, malapropisms), social norms (e.g.,
eating from a sterile bedpan, strange behaviors), and even moral norms
(e.g., bestiality, disrespectful behaviors)”—while simultaneously
recognizing that the violation doesn’t pose a threat to them or their
worldview. The theory is ludicrously, vaporously simple. But extensive
field tests revealed nuances, variables that determined exactly how
funny a joke was perceived to be.
</blockquote>
