<h2><a name="essays">Essays</a></h2>
<p>For a full list of essays, please <a href="https://docs.google.com/document/d/1bLFQ47bNRfLRJrgoDnGNg5GZcumqj_JDLDdiqnbrKBE/edit#">view here</p>
<ol>
  {% include "/essays/universal-knowledge/index.html" %}
  {% include "/essays/epistemology/index.html" %}
  {% include "/essays/philosophy/index.html" %}
  {% include "/essays/software/index.html" %}
  {% include "/essays/qs/index.html" %}
  {% include "/essays/science/index.html" %}
  {% include "/essays/politics/index.html" %}
  {% include "/curations/index.html" %}

  <li class="essays-curations sec2">
    <h3>Creative Writing</h3>
    <ol>
      <li><a href="https://github.com/mekarpeles/quintet">Quintet</a> A book I am casually writing. (<a href="https://gingkoapp.com/app#7583e86719847f0984000160">notes</a> and <a href="https://gingkoapp.com/app#75e29c2fb1abcb3e5e000059">more notes</a>)</li>
    </ol>
  </li>
</ol>

