<pre>
<h1>Recapitulation</h1>

<date>2016/07/28 15:30 PST</date>

<h1>Algorithms to Live By</h1>
<a href="/essays/philosophy/computing-as-a-lifestyle">Computing as a Lifestyle</a>
Computer Science is not a career path, it is a set of tools for understanding and optimizing decisions about life (find essay)
e.g. BFS v. DFS
Levi Staussian Semiotics: Ram, HDD, Cache
Complexity Analysis
Using computer science for life strategies (e.g. how much time should I spend learning versus doing?) https://www.facebook.com/michael.karpeles/posts/10102124528015690

How I think
https://michaelkarpeles.com/essays/philosophy/how-i-think

1% Optimizations
- The Mek (Sai) shirt
- dishwasher pre-sorting

<h1>Eliminating Redundant Work</h1>
automate menial tasks
increase communication

<h1>The Great Conversation</h1>
reduce work by connecting more people in conversation
smarter conversations - nlp + search + email integration (e.g. sendr)
playback.ws - Record conversations
The Story of Ted Nelson and why he's great (metadelusion)
The Western Canon & the Great Conversation (Adler)

<h2>Too Many Great Books</h2>

Drew Winget, "Great Conversation" reading group
There's too much knowledge to consume, we waste so much time searching for the right content.

<h2>What to Read and How to Read It?</h2>

Goal: Help people access and understand more, valuable content, faster
Idea: Crowd source?
- thebestbookon.com
- dissertate.org

<h2>Surpassing the Limitations of Books</h2>
arbital.com
khanacademy.org
metacademy.org
dissertate.org
thebestbookon.com
books.archivelab.org


<h1>Choosing a Life Goal</h1>

https://www.facebook.com/michael.karpeles/posts/10102191705471530 What is a life goal?
https://www.facebook.com/michael.karpeles/posts/10101993699766550 Life Goal (2014)
https://www.facebook.com/michael.karpeles/posts/10102408017839810 Provenance of life goals (2015)
https://vimeo.com/36579366

<h2>Types of Problems Worth Solving<h2>

<h3>Towards 10,000 Year Impact</h3>
Euclid's story, 2k year impact
What types of problems have the capacity to survive?
Long Now foundation? Kind of... 
The average target lifetime of a person's goals
Come up with a list of 100 people x 100 years
- https://www.facebook.com/michael.karpeles/posts/10102592241713690


<h4>The Importance of Archives, Libraries, and Provenance</h4>
- wayback

<h3>The Most Important Problems</h3>
Dr. Richard Hamming & Aaron's Law

Ask the right questions, challenge yourself
https://www.facebook.com/michael.karpeles/posts/10102579039835360
https://www.facebook.com/michael.karpeles/posts/10102401895439150

Using computer science / algorithms to live by, making lasting, large
impact means choosing problems which can compound in interest over a
long period of time and remain relevant for a long time. These areas
include math, for instance.

- Helping the world reason about, contextualize, and avoid catastrophe
-- fromscrat.ch (allow anyone to contribute -- wiki)
- Helping people access and learn more, higher-value content, faster
- Helping people avoid redundant work and red tape
- Uniting doers with similar goals and facilitating deeper collaboration (epicurean gardens)
-- OpenJournal
- Fighting for humanity's freedom, physically and mentally
-- Help people undertand rhetoric & avoid cargo cult science
-- Stopping opression and bigotry
- Helping people overcome their human limitations @(josh bongard)
- Creating a more efficient and sustainable environment via practices and policy

<h1>Accomplishing Your Goals: Productivity and Accountability</h1>
https://www.youtube.com/watch?v=ji5_MqicxSo
https://www.facebook.com/michael.karpeles/posts/10102401895439150
https://www.facebook.com/michael.karpeles/posts/10101909451505740
https://www.facebook.com/michael.karpeles/posts/10102413996034460


<h1>Be Excellent and Principled</h1>
- Archive Labs
- Make things possible before perfect
- curate and show your work (this is hard. use technology which enforces workshowing at a protocol level. it scales)



<h1>Summary of Life Lessons</h1>
<a href="/curations/life-lessons">https://michaelkarpeles.com/curations/life-lessons</a>

</pre>
