<pre>
Archers used to hold arrows in the bow hand, as opposed to quivers,
and the arrow was often notched on the right side for
speed. http://www.themarysue.com/master-archer-real-life-legolas/

tapetum lucidum (etymology - Latin: "bright tapestry"), a layer of
tissue in the eye of many vertebrates, behind the retina, which
reflects visible light back through the retina, allowing visibility of
some infrared. (https://en.wikipedia.org/wiki/Tapetum_lucidum)

(1) The etymology of music. (2) Hysteresis is the dependence of the
output of a system not only on its current input, but also on its
history of past inputs. The dependence arises because the history
affects the value of an internal
state. https://en.wikipedia.org/wiki/Hysteresis
</pre>
