<h1>A Synthesis of Some Beliefs</h1>

<h2>On Values &amp Principles</h2>
<a href="https://www.facebook.com/michael.karpeles/posts/10102656516341820">The Person I'd Like to Be</a>

<h2>On Basics</h2>
<p>I wish people had better <a href="https://docs.google.com/document/d/1K502lTSeARc6BfCYSt4H6S2usAsmz4E0R3cz-frQghk/edit#">guides on the basics of life</a>. My co-worker CR at the Internet Archive said it well, that "people need the basics"</p>

<h2>On Books</h2>
<p><a href="https://docs.google.com/document/d/1K502lTSeARc6BfCYSt4H6S2usAsmz4E0R3cz-frQghk/edit#">Why books are great and how they may be improved</a></p>

<h2>Why do I write?</h2>
<p>
  Like many, I struggle with the pursuit of finding meaning. Do I
  write because in doing so I produce an artifact which deludes me
  into thinking I am producing value? Do I write into the void? Is my
  life simply the input to an artificial intelligence who will crack
  the sunflower seed of my identity and spit out my ideas without the
  shell of their context? Do I write only out of hubris? That I may be
  interesting enough in my words to occupy the attentions of others,
  without care of the tradeoff that they should consider the words of
  another? At least let me put time into distilling and synthesizing
  my thoughts so that they may be considered efficiently. Let me
  aspire to chose the words of others before me over my own if they
  are already said. In this spirit, the best answer I've
  found to the question, "why do I write?" has been synthesized by
  by <a href="http://www.aaronsw.com/weblog/about">Aaron Swartz</a>
  of <a href="https://en.wikipedia.org/wiki/C._Wright_Mills">C. Wright
  Mills</a>.
</p>

<h2>On Effort</h2>
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmichael.karpeles%2Fposts%2F10104681568161740&show_text=true&width=500" width="500" height="288" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

<h2>On Being on the Same Team</h2>
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmichael.karpeles%2Fposts%2F10104680770714830&show_text=true&width=500" width="500" height="466" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

<h2>On Economy</h2>
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmichael.karpeles%2Fposts%2F10104677994782820&show_text=true&width=500" width="500" height="168" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

<h2>Appreciation</h2>
<a href="https://www.facebook.com/michael.karpeles/posts/10104677977806840">November 15 at 10:57 AM</a>
