Questions:
1. What are all the laws of science?
2. Axiomatically proving all of math (like euclid's elements)
3. What are the different types of knowledge
4. How can we teach machines, and ourselves, to learn
5. How can we achieve single point of trust
6. How can we version, preserve, and make accessible knowledge
7. How can humans exceed their capabilities
8. How making life decisions can be informed Computer Science (algos)
9. What does an effective path through knowledge (curriculum) look like?
10. How can we compute or generate (shortest) paths through knowledge?
11. If you could build anything?

Complaints:
1. Browsers + history
2. Factual inaccuracy + propaganda
3. Politics preventing progress

Blockquotes & Enlightenments:
1. What is means to be funny
2. A framework for life goals

Poetry, Lyrics, Raps:


Categories:
- the intersection of life & cs
- epistemology
-


